<div class="mio">
    
<h3><?php echo $this->escapeHtml($this->title); ?></h3>

<hr>

<p>
    <a href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'index')); ?>">&DoubleLeftArrow; volver</a>
</p>

<hr>

<?php 
   
$form = $this->form;

$form->prepare();

$form->setAttribute('action', $this->url('brigadas', array('controller' => 'index', 'action' => 'registrar')));

$form->setAttribute('method', 'post');
        
$formLabel = $this->plugin('formLabel');

echo $this->form()->openTag($form);

echo $this->formHidden($form->get('id_brigada'));

?>


    <?php
    $nombre = $form->get('nombre_brigada');
    echo $formLabel->openTag() . $nombre->getOption('label');
    echo $formLabel->closeTag();
    echo $this->formInput($nombre);
    echo $this->formElementErrors($nombre);
    ?>

    <?php
    $nombre = $form->get('vehiculo');
    echo $formLabel->openTag() . $nombre->getOption('label');
    echo $formLabel->closeTag();
    echo $this->formSelect($nombre);
    echo $this->formElementErrors($nombre);
    ?>


<hr>

<?php echo $this->formElement($form->get('send')) ?>

<?php echo $this->form()->closeTag() ?>

</div>
