<div class="mio">

    <h3><?php echo $this->escapeHtml($this->title); ?></h3>

    <p>
        <a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>

        <a style="float:right" class="btn btn-primary" href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'crear')); ?>">Crear Brigada (+)</a>

    </p>  

    <hr>  

    <?php
    // within a view script
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('brigadas', array('controller' => 'index', 'action' => 'buscar')));
    $form->setAttribute('method', 'post');
    // Get the form label plugin
    $formLabel = $this->plugin('formLabel');
    // Render the opening tag
    echo $this->form()->openTag($form);
    ?>
    <div class="form_element">
        <?php
        $element = $form->get('nombreservicio');

        echo '<table><tr><td>';

        echo $formLabel->openTag() . $element->getOption('label');
        echo $formLabel->closeTag();

        echo '</td><td>';

        echo $this->formInput($element);
        echo '&nbsp;&nbsp;';
        echo $this->formElement($form->get('send'));

        echo '</td></tr><tr><td></td><td style="vertical-align: top;" >';

        echo $this->formElementErrors($element);

        echo '</td></tr></table>';
        ?>
    </div>

    <a href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'index')); ?>">Listar Todos</a>


    <hr>

    <table class="table table-striped table-hover" >
        <thead>
            <tr>               
                <th>Id</th>
                <th>Nombre Brigada</th>
                <th>Patente Vehiculo</th>
                <th>Tecnicos</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>  
<?php foreach ($this->listadebrigadas as $brigada): ?>
                <tr>
                    <td><?php echo $brigada->getId_brigada() ?></td>
                    <td><?php echo $brigada->getNombre_brigada() ?></td>
                    <td><?php echo $brigada->getVehiculo()->getPatente() ?></td>

                    <td>
                        <a href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'ver', 'id' => $brigada->getId_brigada())); ?>">ver</a>
                    </td>

                    <td>
                        <a href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'editar', 'id' => $brigada->getId_brigada())); ?>">editar</a>
                    </td>
                    <td>
                        <a onclick="return confirm('¿Esta seguro que desea eliminar a <?php echo $brigada->getNombre_brigada() ?>?');"
                           href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'eliminar', 'id' => $brigada->getId_brigada())); ?>">eliminar</a>
                    </td>
                </tr>
<?php endforeach; ?>
        </tbody>
    </table>

<?php
echo $this->paginationControl($this->paginator, 'Sliding', 'servicios/pagination_control', array('route' => 'paginatorbrigadas', 'controller' => 'index', 'action' => 'index' ));
?>

</div>    
