<div class="mio">

    <h3><?php echo $this->escapeHtml($this->title) ?></h3>

    <hr>
    
    <p>
      <a href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'ver', 'id' => $this->id_brigada )); ?>">&DoubleLeftArrow; volver</a>
    </p> 

    <hr>
    
    <table class="table table-striped table-hover"  >
        <thead>
            <tr>               
                <th>Rut</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Foto</th>
                <th>Cargo</th>
                <th>Agregar</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->listadepersonaltecnico as $personatecnico ): ?>
                <tr>
                    <td><?php echo $personatecnico->getRut_persona() ?></td>
                    <td><?php echo $personatecnico->getNombres() ?></td>
                    <td><?php echo $personatecnico->getApellidos() ?></td>
                    <td>
                        <img src="<?php echo $this->basePath() . '/images/fotos/' . $personatecnico->getFoto_carnet() ?> "  height="50" width="50" />     
                    </td>
                    <td><?php echo $personatecnico->getCargo()->getNombre_cargo() ?></td>
                    <td>
                        <a href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'agregartecnico', 'id' => $personatecnico->getId_persona() , 'br' => $this->id_brigada   )); ?>">agregar (+)</a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>

    <?php
    echo $this->paginationControl($this->paginator, 'Sliding', 'brigadas/pagination_control', array('route' => 'paginatorbrigadas', 'controller' => 'index', 'action' => 'listartecnicos' , 'id' => $this->id_brigada ));
    ?>

</div>    

