<div class="mio">

    <h3><?php echo $this->escapeHtml($this->title); ?></h3>

    <hr>
    <p>
        <a href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'index')); ?>">&DoubleLeftArrow; volver</a>
        <a style="float:right" class="btn btn-primary" href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'listartecnicos', 'id' => $this->id_brigada )); ?>">Agregar Tecnico (+)</a>
    </p> 

    <hr>

    <table class="table table-striped table-hover"  >
        <thead>
            <tr>               
                <th>Rut</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Foto</th>
                <th>Cargo</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <?php $id_brigada = 0; ?>
            <?php foreach ( $this->listadetecnicosbrigada as $tecnico ):  ?>
                <tr>
                    <td><?php echo $tecnico->getPersonalTecnico()->getRut_persona() ?></td>
                    <td><?php echo $tecnico->getPersonalTecnico()->getNombres() ?></td>
                    <td><?php echo $tecnico->getPersonalTecnico()->getApellidos() ?></td>
                    <td>
                        <img src="<?php echo $this->basePath() . '/images/fotos/' . $tecnico->getPersonalTecnico()->getFoto_carnet() ?> "  height="50" width="50" />     
                    </td>
                    <td><?php echo $tecnico->getPersonalTecnico()->getCargo()->getNombre_cargo() ?></td>
                    <td>
                        <a onclick="return confirm('¿Esta seguro que desea eliminar a <?php echo $tecnico->getPersonalTecnico()->getNombres() . ' ' . $tecnico->getPersonalTecnico()->getApellidos() ?>?');"
                           href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'eliminartecnicobrigada', 'id' => $tecnico->getPersonalTecnico()->getId_persona(), 'br' => $this->id_brigada)); ?>">eliminar (-)</a>
                    </td>
                </tr>
            <?php $id_brigada = $tecnico->getId_brigada() ?>    
            <?php endforeach; ?>
        </tbody>
    </table>

    <?php
    echo $this->paginationControl($this->paginator, 'Sliding', 'brigadas/pagination_control', array('route' => 'paginatorbrigadas', 'controller' => 'index', 'action' => 'ver' , 'id' => $id_brigada ));
    ?>

</div>    

