<?php
// header('Content-type: application/vnd.ms-excel');
// header("Content-Disposition: attachment; filename=informe_estados_mensual.xls");
// header("Pragma: no-cache");
// header("Expires: 0");
?>

<div class="mio" style="width:100%" >

<a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>

<h3>Resultados de Calsoft Excel en Pantalla</h3>

<hr>
    
<?php echo $this->magic_table ?>





<a style="margin-left:8px;margin-top:15px;" href="<?php echo $this->url('avisos', array('controller' => 'laboratorio', 'action' => 'cargar', 'id' => 1 )) ?>">Exportar a Excel</a>

</div>