
<div class="mio" style="width:100%" >
    
    <p>
        <a style="margin-left:5px" href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>
    </p>



<form action="/avisos/laboratorio/cargar" style="margin-left:20%" method="post" name="FormCargador" enctype="multipart/form-data" id="FormCargador">
 
 <h3>Lector de archivo excel proveniente del CalSoft</h3>
 
  <table>
  	<tr>
      <td colspan="2"><label><strong>Para generar la lectura es necesario ingresar los parametros desde y hasta</strong></label></td>
    </tr>    
  	<tr>
      <td><label>El nombre de la ultima hoja sera el dato <strong>Desde</strong> : </label></td>
      <td><input type="text" name="hoja_desde" style="width:30px;margin:10px;" max="3" maxlength="3" required="required" ></td> 
    </tr> 
    <tr>
      <td><label>El nombre de la primera hoja sera el dato <strong>Hasta</strong> : </label></td>
      <td><input type="text" name="hoja_hasta" style="width:30px;margin:10px;" max="3" maxlength="3" required="required" ></td> 
    </tr>
    <tr>
      <td>
      	<br>
      </td> 
    </tr>      
    <tr>
      <td><label>Seleccionar planilla Calsoft : </label></td>
      <td><input type="file" multiple="true" name="file[]"  style="border:1px solid #ffffff " ></td> 
    </tr> 
    <tr>
     <td>
     </td>    
     <td>
       <input name="send" type="submit" class="btn btn-warning" style="margin:35px;" value="Cargar Avisos">           
     </td>    
    </tr>    
  </table>
       
       
</form>  

</div>    