<div class="mio">
    
<h3><?php echo $this->escapeHtml($this->title); ?></h3>

<hr>

<p>
    <a href="<?php echo $this->url('vehiculos', array('controller' => 'index', 'action' => 'index')); ?>">&DoubleLeftArrow; volver</a>
</p>

<hr>


<?php 

// within a view script
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url('vehiculos', array('controller' => 'index', 'action' => 'registrar')));
$form->setAttribute('method', 'post');

// Get the form label plugin
$formLabel = $this->plugin('formLabel');

// Render the opening tag
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id_vehiculo'));

?>

    <?php
    $nombre = $form->get('patente');
    echo $formLabel->openTag() . $nombre->getOption('label');
    echo $formLabel->closeTag();
    echo $this->formInput($nombre);
    echo $this->formElementErrors($nombre);
    ?>

    <?php
    $nombre = $form->get('cod_vehiculo');
    echo $formLabel->openTag() . $nombre->getOption('label');
    echo $formLabel->closeTag();
    echo $this->formInput($nombre);
    echo $this->formElementErrors($nombre);
    ?>

<hr>

<?php echo $this->formElement($form->get('send')) ?>

<?php echo $this->form()->closeTag() ?>




</div>
