<div class="mio">

    <h3><?php echo $this->escapeHtml($this->title); ?></h3>

    <p>
        <a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>
        
        <a style="float:right" class="btn btn-primary" href="<?php echo $this->url('vehiculos', array('controller' => 'index', 'action' => 'crear')); ?>">Ingresar Vehiculo (+)</a>
    
    </p>  

    <hr>  


    <?php
// within a view script
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('vehiculos', array('controller' => 'index', 'action' => 'buscar')));
    $form->setAttribute('method', 'post');
// Get the form label plugin
    $formLabel = $this->plugin('formLabel');
// Render the opening tag
    echo $this->form()->openTag($form);
    ?>
    <div class="form_element">
        <?php
        
        $element = $form->get('patente');

        echo '<table><tr><td>';
        
        echo $formLabel->openTag() . $element->getOption('label');
        echo $formLabel->closeTag();
        
        echo '</td><td>';
        
        echo $this->formInput($element);
        echo '&nbsp;&nbsp;';
        echo $this->formElement($form->get('send'));
        
        echo '</td></tr><tr><td></td><td style="vertical-align: top;" >';
        
        
        echo $this->formElementErrors($element);
        
        echo '</td></tr></table>';
        
        ?>
    </div>
    
    <a href="<?php echo $this->url('vehiculos', array('controller' => 'index', 'action' => 'index')); ?>">Listar Todos</a>
            

    <hr>

    <table class="table table-striped table-hover"  >
        <thead>
            <tr>
                <th>Id_vehiculo</th>
                <th>Patente</th>
                <th>Cod_vehiculo</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>  
        <?php foreach ($this->listadoVehiculos as $vehiculo): ?>
                <tr>
                    <td><?php echo $vehiculo->getId_vehiculo() ?></td>
                    <td><?php echo $vehiculo->getPatente() ?></td>
                    <td><?php echo $vehiculo->getCod_vehiculo() ?></td>
                    <td>
                        <a href="<?php echo $this->url('vehiculos', array('controller' => 'index', 'action' => 'editar', 'id' => $vehiculo->getId_vehiculo())); ?>">editar</a>
                    </td>
                    <td>
                        <a onclick="return confirm('¿Esta seguro que desea eliminar a <?php echo $vehiculo->getPatente() ?>?');"
                           href="<?php echo $this->url('vehiculos', array('controller' => 'index', 'action' => 'eliminar', 'id' => $vehiculo->getId_vehiculo())); ?>">eliminar</a>
                    </td>
                </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    
    <?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'vehiculos/pagination_control', array('route' => 'paginatorvehiculos', 'controller' => 'index', 'action' => 'index')); ?>
    

</div>    
