<div class="mio">

<p>
  <a href="<?php echo $this->url('personal', array('controller' => 'index', 'action' => 'index')); ?>">&DoubleLeftArrow; volver</a>
</p>

<h3><?php echo $this->escapeHtml($this->title); ?></h3>


<div style="margin-left:60px;  " >

<spam style="color: #942a25">Los campos marcados con marco rojo son requeridos y no guardara si no se completan.</spam></br>

<br>

<?php 
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('personal', array('controller' => 'index', 'action' => 'registrar')));
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('id_persona'));
?>

    <?php echo $this->formRow($form->get('csrf')) ?> 
    
    <spam style="color: #942a25">Sucursal donde trabaja el tecnico</spam></br>
    <?php echo $this->formRow($form->get('sucursales_id_sucursal')) ?>
    
    <spam style="color: #942a25">Ejemplo 146522569 sin puntos ni guiones</spam></br>
    <?php echo $this->formRow($form->get('rut_persona')) ?> 

    <?php echo $this->formRow($form->get('nombres')) ?>
    <?php echo $this->formRow($form->get('apellidos')) ?>
    <?php echo $this->formRow($form->get('cargos_idcargo')) ?>
    <?php echo $this->formRow($form->get('email')) ?>
    <?php echo $this->formRow($form->get('telefono')) ?>
    <?php echo $this->formRow($form->get('celular')) ?>

    <br>
    

    
    <?php if($this->nombreFotoCarnet != ''): ?>     
          <img src="<?php echo 'http://www.medicions3.com/images/fotos/' . $this->nombreFotoCarnet ?> "  height="200" width="150" />     
    <?php else: ?>
          <spam style="color:#d14;font-size:16px;margin-left:18px;"   >X</spam>   
    <?php endif; ?>
    
    <?php echo $this->formRow($form->get('img_carnet')) ?>
    <?php echo $this->formHidden($form->get('foto_carnet')) ?>
          
    <hr>
    
    <?php if($this->nombreFotoFirma != ''): ?>    
          <img src="<?php echo 'http://www.medicions3.com/images/fotos/' . $this->nombreFotoFirma ?> "  height="200" width="150" />     
    <?php else: ?>
          <spam style="color:#d14;font-size:16px;margin-left:18px;"   >X</spam>   
    <?php endif; ?>

    <?php echo $this->formRow($form->get('img_firma')) ?>
    <?php echo $this->formHidden($form->get('foto_firma')) ?>
      
<hr>

<?php echo $this->formElement($form->get('send')) ?>
<?php echo $this->form()->closeTag() ?>

</div>


</div>
