<div class="mio">
    
    <h3><?php echo $this->escapeHtml($this->title); ?></h3>

    <p>

        <a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>
        
        <!--
        <a style="float:right" class="btn btn-primary" href="<?php //echo $this->url('personal', array('controller' => 'index', 'action' => 'crear')); ?>">Ingresar Persona (+)</a>
        -->
            
    </p>  

    <hr>  

    <?php
    // within a view script
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('personal', array('controller' => 'index', 'action' => 'buscar')));
    $form->setAttribute('method', 'post');
    // Get the form label plugin
    $formLabel = $this->plugin('formLabel');
    // Render the opening tag
    echo $this->form()->openTag($form);
    ?>
    <div class="form_element">
        <?php
        
        $element = $form->get('nombrepersona');

        echo '<table><tr><td>';
        
        echo $formLabel->openTag() . $element->getOption('label');
        echo $formLabel->closeTag();
        
        echo '</td><td>';
        
        echo $this->formInput($element);
        echo '&nbsp;&nbsp;';
        echo $this->formElement($form->get('send'));
        
        echo '</td></tr><tr><td></td><td style="vertical-align: top;" >';

        echo $this->formElementErrors($element);
        
        echo '</td></tr></table>';
        
        ?>
    </div>
    
    <a href="<?php echo $this->url('personal', array('controller' => 'index', 'action' => 'index')); ?>">Listar Todos</a>
            

    <hr>

    <table class="table table-striped table-hover"  >
        <thead>
            <tr> 
                <th>Cod</th>
                <th>Foto</th>
                <th>Cargos</th>
                <th>Nombres</th>
                <th>Apellidos</th> 
                <th>Email</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Firma</th> 
                <th>Editar</th>
            <!--<th>Eliminar</th>-->
            </tr>
        </thead>
        <tbody>  
        
            <?php foreach ($this->listadepersonal as $persona ): ?>
                <tr>
                   <td style="color:#d14;font-size:16px;padding-left:15px;" >
                       <?php echo $persona->getId_persona() ?>
                   </td>    
                   <td>
                   <?php if($persona->getFoto_carnet()!=''): ?>     
                       <img src="<?php echo 'http://www.medicions3.com/images/fotos/' . $persona->getFoto_carnet() ?> "  height="100" width="50" />     
                   <?php else: ?>
                       <spam style="color:#d14;font-size:16px;margin-left:18px;"   >x</spam>   
                   <?php endif; ?>
                   </td>
                   <td><?php echo ucwords(strtolower($persona->getCargo()->getNombre_cargo())) ?></td>
                   <td><?php echo ucwords(strtolower($persona->getNombres())) ?></td> 
                   <td><?php echo ucwords(strtolower($persona->getApellidos())) ?></td> 
                   <td><?php echo $persona->getEmail() ?></td> 
                   <td><?php echo $persona->getTelefono() ?></td>
                   <td><?php echo $persona->getCelular() ?></td>

                   <td>
                       
                     <?php if($persona->getFoto_firma()!=''): ?>    
                        <img src="<?php echo 'http://www.medicions3.com/images/fotos/' . $persona->getFoto_firma() ?> "  height="50" width="50" />     
                     <?php else: ?>
                       <spam style="color:#d14;font-size:16px;margin-left:18px;"   >x</spam>   
                     <?php endif; ?>
                   
                   </td>
                   <td>
                   <a href="<?php echo $this->url('personal', array('controller' => 'index', 'action' => 'editar', 'id' => $persona->getId_persona() )); ?>">editar</a>    
                   </td>
                   
               <!--<td>
                        <a onclick="return confirm('¿Esta seguro que desea eliminar a <?php //echo $persona->getNombres() ?>?');"
                           href="<?php //echo $this->url('personal', array('controller' => 'index', 'action' => 'eliminar', 'id' => $persona->getId_persona() )); ?>">eliminar</a>
                   </td>-->
                   
                </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    
    <?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'personal/pagination_control', array('route' => 'paginatorpersonal', 'controller' => 'index', 'action' => 'index')); ?>

</div>    
