

<h1><?php echo $this->escapeHtml($this->title); ?></h1>
<p>
    <a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'index')); ?>">&DoubleLeftArrow; volver</a>
</p>

<?php
// within a view script
$form = $this->form;
$form->prepare();

$form->setAttribute('action', $this->url('admin/default', array('controller' => 'usuario', 'action' => 'registrar')));

$form->setAttribute('method', 'post');

// Get the form label plugin
$formLabel = $this->plugin('formLabel');

// Render the opening tag
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>
<div class="form_element">
    <?php
    $nombre = $form->get('nombre');
    echo $formLabel->openTag() . $nombre->getOption('label');
    echo $formLabel->closeTag();
    echo $this->formInput($nombre);
    echo $this->formElementErrors($nombre);
    ?></div>
<div class="form_element">
    <?php
    $apellido = $form->get('apellido');
    echo $formLabel->openTag() . $apellido->getOption('label');
    echo $formLabel->closeTag();
    echo $this->formInput($apellido);
    echo $this->formElementErrors($apellido);
    ?></div>
<div class="form_element">
    <?php
    $email = $form->get('email');
    echo $formLabel->openTag() . $email->getOption('label');
    echo $formLabel->closeTag();
    echo $this->formInput($email);
    echo $this->formElementErrors($email);
    ?></div>
<div class="form_element">
    <?php
    $clave = $form->get('clave');
    echo $formLabel->openTag() . $clave->getOption('label');
    echo $formLabel->closeTag();
    echo $this->formInput($clave);
    echo $this->formElementErrors($clave);
    ?></div>
<div class="form_element">
    <?php
    $confirmarPassword = $form->get('confirmarPassword');
    echo $formLabel->openTag() . $confirmarPassword->getLabel();
    echo $formLabel->closeTag();
    echo $this->formInput($confirmarPassword);
    echo $this->formElementErrors($confirmarPassword);
    ?></div>
<?php echo $this->formElement($form->get('send')) ?>

<?php echo $this->form()->closeTag() ?>