<div class="hero-unit">

<h3><?php echo $this->escapeHtml($this->title); ?></h3>

<p>
    <a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>
    <a style="float:right" href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'crear')); ?>">nuevo usuario (+)</a>
</p>

<hr>

<table class="table table-striped table-hover " >
    <thead>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->listaUsuario as $usuario): ?>
        <tr>
            <td><?php echo $usuario->getId() ?></td>
            <td><?php echo $usuario->getNombre() ?></td>
            <td><?php echo $usuario->getApellido() ?></td>
            <td><a href="mailto:<?php echo $usuario->getEmail() ?>"><?php echo $usuario->getEmail() ?></a></td>
            <td>
                <a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'editar', 'id' => $usuario->getId())); ?>">editar</a>
            </td>
            <td>
                <a onclick="return confirm('¿Esta seguro que desea eliminar a <?php echo $usuario->getNombre() ?>?');"
                   href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'eliminar', 'id' => $usuario->getId())); ?>">eliminar</a>
            </td>
        </tr>
    <?php endforeach; ?>

  </tbody>      
</table>


</br>
<hr>


</div>

