<div class="mio">

    <center><h3><u><?php echo $this->escapeHtml($this->title) ?></u></h3></center>

    <br>

    <form action="/ans/index/auditoria" method="post" name="frm" >
        
        <select name="select_mes" >
            <option value="0" >Select Mes</option>
            <option value="1" >Enero</option>
            <option value="2" >Febrero</option>
            <option value="3" >Marzo</option>
            <option value="4" >Abril</option>
            <option value="5" >Mayo</option>
            <option value="6" >Junio</option>
            <option value="7" >Julio</option>
            <option value="8" >Agosto</option>
            <option value="9" >Septiembre</option>
            <option value="10" >Octubre</option>
            <option value="11" >Noviembre</option>
            <option value="12" >Diciembre</option>
        </select>

        <input class="btn btn-info" type="submit" value="Calcular ANS" name="calcular" id="calcular" >

    </form>   

    <hr>


    <div class="well" >

        <center>
            <table class="table table-striped table-hover table-condensed table-bordered" style="width:95%;"  >
                <caption><h4><u>Vista de Productividad de las Brigadas</u></h4></caption>
                <thead>
                    <tr style="background-color:#002a80;color:#FFFFFF;  " > 
                        <th>Región</th>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>Dias descontar</th>
                        <th>Cantidad brigadas</th>
                        <th>DM</th>
                        <th>Visitas frustradas</th>
                        <th>Visitas Efectivas</th>
                        <th>Productividad brigada</th>
                        <th>Publicar</th>
                        <th>Publicado</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->viewProductividadBrigadasDao as $viewProductividadBrigadas): ?>
                        <tr>
                            <td width="15%" ><?php echo $viewProductividadBrigadas->getNombre_region() ?></td>
                            <td style="text-align:right;width:2%;" >
                            <?php 
                            
                              $mes = '';
                              
                              if( $viewProductividadBrigadas->getMes() == 1 ) $mes = 'Enero';
                              if( $viewProductividadBrigadas->getMes() == 2) $mes = 'Febrero';
                              if( $viewProductividadBrigadas->getMes() == 3) $mes = 'Marzo';
                              if( $viewProductividadBrigadas->getMes() == 4) $mes = 'Abril';
                              if( $viewProductividadBrigadas->getMes() == 5) $mes = 'Mayo';
                              if( $viewProductividadBrigadas->getMes() == 6) $mes = 'Junio';
                              if( $viewProductividadBrigadas->getMes() == 7) $mes = 'Julio';
                              if( $viewProductividadBrigadas->getMes() == 8) $mes = 'Agosto';
                              if( $viewProductividadBrigadas->getMes() == 9) $mes = 'Septiembre';
                              if( $viewProductividadBrigadas->getMes() == 10) $mes = 'Octubre';
                              if( $viewProductividadBrigadas->getMes() == 11) $mes = 'Noviembre';
                              if( $viewProductividadBrigadas->getMes() == 12) $mes = 'Diciembre';

                              echo $mes; 

                            ?>
                            </td>        
                            <td style="text-align:right;width:2%;" ><?php echo $viewProductividadBrigadas->getAnio() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewProductividadBrigadas->getDias_descontar() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewProductividadBrigadas->getCantidad_brigadas() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewProductividadBrigadas->getDiasdelmes() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewProductividadBrigadas->getAvisos_frustrados() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewProductividadBrigadas->getAvisos_sin_frustrados() ?></td>
                            <td style="text-align:right;width:4.1%;background-color:#c4e3f3;" ><?php echo round($viewProductividadBrigadas->getProductividad_brigada(), 2) ?></td>
                            <td style="text-align:center;width:4.1%;" >

                                <a onclick="return confirm('¿Esta seguro que desea publicar?');"
                                   href="<?php
                                   echo $this->url('ans', array('controller' => 'index', 'action' => 'publicarProductividadBrigada',
                                       'id' => $viewProductividadBrigadas->getId_region(),
                                       'm' => $viewProductividadBrigadas->getMes(),
                                       'a' => $viewProductividadBrigadas->getAnio()))
                                   ?>">publicar</a>

                            </td>
                            <td style="text-align:center;width:3%;" >
                            <?php 
                                
                                if($viewProductividadBrigadas->getMes() == 1) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getEnero(),2); 
                                if($viewProductividadBrigadas->getMes() == 2) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getFebrero(),2);
                                if($viewProductividadBrigadas->getMes() == 3) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getMarzo(),2);
                                if($viewProductividadBrigadas->getMes() == 4) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getAbril(),2);
                                if($viewProductividadBrigadas->getMes() == 5)  echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getMayo(),2);
                                if($viewProductividadBrigadas->getMes() == 6) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getJunio(),2);
                                if($viewProductividadBrigadas->getMes() == 7) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getJulio(),2);
                                if($viewProductividadBrigadas->getMes() == 8) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getAgosto(),2);
                                if($viewProductividadBrigadas->getMes() == 9) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getSeptiembre(),2);
                                if($viewProductividadBrigadas->getMes() == 10) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getOctubre(),2);
                                if($viewProductividadBrigadas->getMes() == 11) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getNoviembre(),2);
                                if($viewProductividadBrigadas->getMes() == 12) echo round($viewProductividadBrigadas->getPRODUCTIVIDAD()->getDiciembre(),2);

                             ?>
                            </td> 
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </center>  

        <hr>


        <center>
            <table class="table table-striped table-hover table-condensed table-bordered" style="width:80%;"  >
                <caption><h4><u>Vista de Efectividad de las Brigadas</u></h4></caption>
                <thead>
                    <tr style="background-color:#002a80;color:#FFFFFF;  " > 
                        <th>Región</th>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>Visitas frustradas</th>
                        <th>Visitas Efectivas</th>
                        <th>Total visitas mes</th>
                        <th>Efectividad brigada</th>
                        <th>Publicar</th>
                        <th>Publicado</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->viewEfectividadBrigadasDao as $viewEfectividadBrigadasDao): ?>
                        <tr>
                            <td width="15%" ><?php echo $viewEfectividadBrigadasDao->getNombre_region() ?></td>
                            <td style="text-align:right;width:2%;" >
                            <?php 
                            
                              $mes = '';
                              
                              if( $viewEfectividadBrigadasDao->getMes() == 1 ) $mes = 'Enero';
                              if( $viewEfectividadBrigadasDao->getMes() == 2) $mes = 'Febrero';
                              if( $viewEfectividadBrigadasDao->getMes() == 3) $mes = 'Marzo';
                              if( $viewEfectividadBrigadasDao->getMes() == 4) $mes = 'Abril';
                              if( $viewEfectividadBrigadasDao->getMes() == 5) $mes = 'Mayo';
                              if( $viewEfectividadBrigadasDao->getMes() == 6) $mes = 'Junio';
                              if( $viewEfectividadBrigadasDao->getMes() == 7) $mes = 'Julio';
                              if( $viewEfectividadBrigadasDao->getMes() == 8) $mes = 'Agosto';
                              if( $viewEfectividadBrigadasDao->getMes() == 9) $mes = 'Septiembre';
                              if( $viewEfectividadBrigadasDao->getMes() == 10) $mes = 'Octubre';
                              if( $viewEfectividadBrigadasDao->getMes() == 11) $mes = 'Noviembre';
                              if( $viewEfectividadBrigadasDao->getMes() == 12) $mes = 'Diciembre';

                              echo $mes; 

                            ?>
                            </td>
                            <td style="text-align:right;width:2%;" ><?php echo $viewEfectividadBrigadasDao->getAnio() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewEfectividadBrigadasDao->getAvisos_frustrados() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewEfectividadBrigadasDao->getAvisos_sin_frustrados() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewEfectividadBrigadasDao->getTotal_visitas_mes() ?></td>
                            <td style="text-align:right;width:4.1%;background-color:#c4e3f3;" ><?php echo round($viewEfectividadBrigadasDao->getEfectividad_brigada(), 2) ?></td>
                            <td style="text-align:center;width:4.1%;" >Publicar</td>
                            <td style="text-align:center;width:4.1%;" ></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </center> 

        <hr>

        <center>
            <table class="table table-striped table-hover table-condensed table-bordered" style="width:93%;"  >
                <caption><h4><u>Tasa viajes perdidos causa Tecnet</u></h4></caption>
                <thead>
                    <tr style="background-color:#002a80;color:#FFFFFF;  " > 
                        <th>Región</th>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>Visitas frustradas causa tecnet</th>
                        <th>Visitas frustradas</th>
                        <th>Visitas efectivas</th>
                        <th>Total visitas mes</th>
                        <th>Tasa viajes perdidos causa Tecnet</th>
                        <th>Publicar</th>
                        <th>Publicado</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->viewTasaViajesPerdidosCausaTecnetDao as $viewTasaViajesPerdidosCausaTecnetDao): ?>
                        <tr>
                            <td width="15%" ><?php echo $viewTasaViajesPerdidosCausaTecnetDao->getNombre_region() ?></td>
                            <td style="text-align:right;width:2%;" >
                            <?php 
                            
                              $mes = '';
                              
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 1 ) $mes = 'Enero';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 2) $mes = 'Febrero';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 3) $mes = 'Marzo';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 4) $mes = 'Abril';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 5) $mes = 'Mayo';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 6) $mes = 'Junio';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 7) $mes = 'Julio';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 8) $mes = 'Agosto';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 9) $mes = 'Septiembre';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 10) $mes = 'Octubre';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 11) $mes = 'Noviembre';
                              if( $viewTasaViajesPerdidosCausaTecnetDao->getMes() == 12) $mes = 'Diciembre';

                              echo $mes; 

                            ?>
                            </td>
                            <td style="text-align:right;width:2%;" ><?php echo $viewTasaViajesPerdidosCausaTecnetDao->getAnio() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewTasaViajesPerdidosCausaTecnetDao->getAvisos_frustrados_causatecnet() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewTasaViajesPerdidosCausaTecnetDao->getAvisos_frustrados() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewTasaViajesPerdidosCausaTecnetDao->getAvisos_sin_frustrados() ?></td>
                            <td style="text-align:right;width:4.1%;" ><?php echo $viewTasaViajesPerdidosCausaTecnetDao->getTotal_visitas_mes() ?></td>
                            <td style="text-align:right;width:4.1%;background-color:#c4e3f3;" ><?php echo round($viewTasaViajesPerdidosCausaTecnetDao->getTasa_viajes_perdidos_causa_tecnet(), 2) ?></td>
                            <td style="text-align:center;width:4.1%;" >Publicar</td>
                            <td style="text-align:center;width:4.1%;" ></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </center> 

    </div>

</div>