<style>
    
    .td_p_b { text-align:right;width:4.1%; } 
    
</style>
<div class="mio">

    <center><h3><u><?php echo $this->escapeHtml($this->title) ?></u></h3></center>

    <br>
    
    <div class="well" >
        
    <center>
        <table class="table table-striped table-hover table-condensed table-bordered" style="width:90%;"  >
            <caption><h4><u>Productividad de las Brigadas</u></h4></caption>
        <thead>
            <tr style="background-color:#002a80;color:#FFFFFF;  " > 
                <th></th>
                <th>Región</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->productividadBrigadas as $productividadBrigadas ): ?>
                <tr>
                    <td width="1%">+</td>
                    <td width="20%" ><?php echo $productividadBrigadas->getNombre_region() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getEnero() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getFebrero() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getMarzo() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getAbril() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo round($productividadBrigadas->getMayo(),2) ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo round($productividadBrigadas->getJunio(),2) ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getJulio() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getAgosto() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getSeptiembre() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getOctubre() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getNoviembre() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $productividadBrigadas->getDiciembre() ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
  </center>  
  
  <hr>
  
      <center>
        <table class="table table-striped table-hover table-condensed table-bordered" style="width:90%;"  >
            <caption><h4><u>Efectividad de las Brigadas</u></h4></caption>
        <thead>
            <tr style="background-color:#002a80;color:#FFFFFF;  " > 
                <th></th>
                <th>Región</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->efectividadBrigadas as $efectividadBrigadas ): ?>
                <tr>
                    <td width="1%">+</td>
                    <td width="20%" ><?php echo $efectividadBrigadas->getNombre_region() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getEnero() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getFebrero() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getMarzo() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getAbril() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo round($efectividadBrigadas->getMayo(),2) ?>%</td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getJunio() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getJulio() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getAgosto() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getSeptiembre() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getOctubre() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getNoviembre() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $efectividadBrigadas->getDiciembre() ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
  </center>
  
  <hr>

      <center>
        <table class="table table-striped table-hover table-condensed table-bordered" style="width:90%;"  >
            <caption><h4><u>Tasa viajes perdidos causa Tecnet</u></h4></caption>
        <thead>
            <tr style="background-color:#002a80;color:#FFFFFF;  " > 
                <th></th>
                <th>Región</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->tasaViajesPerdidosCausaTecnet as $tasaViajesPerdidosCausaTecnet ): ?>
                <tr>
                    <td width="1%">+</td>
                    <td width="20%" ><?php echo $tasaViajesPerdidosCausaTecnet->getNombre_region() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getEnero() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getFebrero() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getMarzo() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getAbril() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo round($tasaViajesPerdidosCausaTecnet->getMayo(),2) ?>%</td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getJunio() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getJulio() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getAgosto() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getSeptiembre() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getOctubre() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getNoviembre() ?></td>
                    <td style="text-align:right;width:4.1%;" ><?php echo $tasaViajesPerdidosCausaTecnet->getDiciembre() ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
  </center>
    
  </div>      
</div>


</br>

<hr>