<style>
    
    #b55c711b1be9bc03d671c41b1a2306d1 ul li{
        color:#e9322d;
        font-size:10px;
        font-family:sans-serif; 
    }
    
</style>
<div class="hero-unit" >

<h2><?php echo $this->titulo ?></h2>

<div class="well">
    Su nueva contraeña puedes tener un minimo de 5 caracteres y un maximo de 15 caracteres, no se permiten espacios y solo pueden ser letras y numeros. 
</div>

<div class="well">
    Cuidar la contraseña es responsabilidad de cada usuario. no la dejes tus datos de acceso guardados en el navegador y preocupate de cerrar sesión en el sitio cuando dejes de trabajar.
</div>

<div class="well">
    Recuerda que este sistema refleja los resultados de tu trabajo y el de tus compañeros.    
</div>

<hr>

<?php

$form = $this->form;
$form->setAttribute('action', $this->url('admin/default', array('controller' => 'login', 'action' => 'b55c711b1be9bc03d671c41b1a2306d1')));
$form->setAttribute('method', 'post');
$form->prepare();
 
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
 
if ($this->messages){
    echo '<ul>';
    foreach($this->messages as $message)
    {
        echo '<li>'.$message.'</li>';
    }
    echo '</ul>';
  }

?>
    
</div>







