<div class="hero-unit" >

<center>    
  <h3>
    <?php echo $this->titulo ?>
  </h3>
</center>

<hr>

<div style="margin:auto" >
<center>    

<?php

// within a view script
$form = $this->form;
$form->prepare();

$form->setAttribute('action', $this->url('admin/default', array('controller' => 'login', 'action' => 'autenticar')));
$form->setAttribute('method', 'post');

// Get the form label plugin
$formLabel = $this->plugin('formLabel');

// Render the opening tag
echo $this->form()->openTag($form);
?>

<div class="form_element">
    <?php
    $email = $form->get('5ac4c962a1220b30c26e994b0ecfa755b4e0389f');
    echo $this->formInput($email);
    echo $this->formElementErrors($email);
    ?>
</div>

<div class="form_element">
    <?php
    $clave = $form->get('5326ee20f69411ffc6d821a9bdb513832e3409a0');
    echo $this->formInput($clave);
    echo $this->formElementErrors($clave);
    ?>
</div>

<div class="form_element">
    <?php echo $this->formElement($form->get('send')) ?>
</div>
    
<?php echo $this->formHidden($form->get('csrf')); ?>

<?php echo $this->form()->closeTag() ?>


    <p style="color:#70d900;font-style:italic;font-family:fantasy;" >
    <?php echo $this->layout()->mensaje ?>
    </p>
    
</center>
    
</div>    
    
<hr>

</div>





