<div class="mio" >
    
  <p><a style="margin-left:5px" href="<?php echo $this->url('rim'); ?>">&DoubleLeftArrow; volver</a></p>

  <h1 style="text-align:center" >MODO EDICIÓN REGISTRO INSPECCIÓN MONOFÁSICO</h1>
  	
  <p> 
    <strong>*</strong>
    La edición o modificación de datos de terreno sólo se puede realizarse <strong>Antes de Cerrar el Aviso y/o despachar el informe al Cliente; </strong> cualquier modificación posterior, deberá solicitarse a soporte S3 central. 
    <br>Cada edición de datos quedará registrado en el sistema para consultas (Aviso editado, dato editado, fecha edición y usuario que editó).
  </p>    	

<?php if(isset($flashMessages) && count($flashMessages)>0) : ?>
<div class='alert alert-error'>
<b><h3>Se encontraron errores al intentar subir los archivos:</h3></b>

<ul>
    <?php foreach ($flashMessages as $msg) : ?>
    <li><b><?php echo $msg; ?></b></li>
    <?php endforeach; ?>
</ul>
</div>
<?php endif; ?>
  
  <hr>
  
  <div style="margin-left:1%" >
  
  <?php 
  
      $form = $this->form;
      $form->prepare();
      $form->setAttribute('action', $this->url('rim', array('controller' => 'index', 'action' => 'guardar')));
      $form->setAttribute('method', 'post'); 
      $form->setAttribute('enctype', 'multipart/form-data');
      // Get the form label plugin
      $formLabel = $this->plugin('formLabel');
      // Render the opening tag
      echo $this->form()->openTag($form);
    
      echo $this->formHidden($form->get('id_aviso'));
      echo $this->formHidden($form->get('id_instalacion'));
      echo $this->formHidden($form->get('csrf'));      
    
      //muestra todo el formulario 
      //echo $this->formCollection($form);

 ?>
 
     <input name="id_aviso" type="hidden" value="<?php echo $this->idAviso ?>" required="required" >
     
     <br>
     
     <div class="well" >
      <h5>SERVICIO RIM</h5> 
       
       <table style="width: 100%" >
       <tr>
         <td>
             <?php
                 $element = $form->get('numero_aviso');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?>
         </td>   
         <td>
             <?php
                 $element = $form->get('distribuidora');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
             ?>
         </td>  
         <td>             
        <?php
                 $element = $form->get('numero_rim_papel');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?>
        </td>
        <td>     
          <?php
                 $element = $form->get('fecha_solicitud');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?>   
       </td>
        <td>     
          <?php
                 $element = $form->get('fecha_ejecucion');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?>   
       </td>
       <td>     
            <?php
                 $element = $form->get('hora_inicio');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?>  
   
            <?php
                 $element = $form->get('hora_termino');
                 echo $formLabel->openTag() . $element->getOption('label') ;
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?>  
       </td>

        </tr>
        <tr>
         <td>     
            <?php
                 $element = $form->get('tipo_servicio');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?> 
        </td>
        <td>
                <?php
                 $element = $form->get('peritaje');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?>
            </td>
            <td>
                <?php
                 $element = $form->get('tipo_brigada');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?>
            </td>
            <td>
                <?php
                 $element = $form->get('codigo_ayudante');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?>  
       </td>
            <td>
            <?php
                 $element = $form->get('patente');
                 echo $formLabel->openTag() . $element->getOption('label'); 
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?>  
       </td>
        </tr>
        <tr>
            <td>
                <?php
                     $element = $form->get('nombre_cliente');
                     echo $formLabel->openTag() . $element->getOption('label'); 
                     echo $formLabel->closeTag();
                     echo $this->formInput($element);
                     echo $this->formElementErrors($element);
                ?>  
            </td>
            <td>
                <?php
                     $element = $form->get('telefono_cliente');
                     echo $formLabel->openTag() . $element->getOption('label'); 
                     echo $formLabel->closeTag();
                     echo $this->formInput($element);
                     echo $this->formElementErrors($element);
                ?>  
            </td>
            <td>
                 <?php
                     $element = $form->get('dir1_cliente');
                     echo $formLabel->openTag() . $element->getOption('label'); 
                     echo $formLabel->closeTag();
                     echo $this->formInput($element);
                     echo $this->formElementErrors($element);
                ?>
             </td>
             <td>
                  <?php
                     $element = $form->get('dir2_cliente');
                     echo $formLabel->openTag() . $element->getOption('label'); 
                     echo $formLabel->closeTag();
                     echo $this->formInput($element);
                     echo $this->formElementErrors($element);
                ?>
              </td>      
        </tr>    
       </table>
            
      </div>              

            
     <div class="well" >
      <h5>INSTALACIÓN</h5> 
      <table style="width: 100%" >
       <tr>
           <td>
               <?php
                 $element = $form->get('num_instalacion');
                 echo $formLabel->openTag() . $element->getOption('label'); 
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?>     
           </td>
           <td><?php
                 $element = $form->get('tipo_empalme');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
           <td><?php
                 $element = $form->get('tipo_red');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
           <td><?php
                 $element = $form->get('tipo_acometida');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
           <td><?php
                 $element = $form->get('tipo_condicion_empalme');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
       </tr>
       <tr>
           <td><?php
                 $element = $form->get('codigo_medidor');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?> </td>
           <td><?php
                 $element = $form->get('numero_serie');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
           <td><?php
                 $element = $form->get('anio_fabricacion');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
           <td><?php
                 $element = $form->get('lectura_inicial');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?> </td>
           <td><?php
                 $element = $form->get('lectura_final');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
       </tr> 
       <tr>
           <td><?php
                 $element = $form->get('placa_poste');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?> </td>
           <td><?php
                 $element = $form->get('automatico');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
           <td></td>
           <td></td>
           <td></td>
       </tr>       
       </table>   

     </div>  
    
    
      <div class="well" >
      <h5>MANTENCIÓN EMPALME</h5> 
      <table style="width: 100%" >
          <tr>
            <td><?php
                 $element = $form->get('mant_automatico');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
            <td><?php
                 $element = $form->get('mant_acometida');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
            <td><?php
                 $element = $form->get('mant_mastil');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
            <td><?php
                 $element = $form->get('mant_mirilla');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
          </tr>
                    <tr>
            <td><?php
                 $element = $form->get('mant_bajada');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
            <td><?php
                 $element = $form->get('mant_caja');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
            <td><?php
                 $element = $form->get('mant_alambrado');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
            <td><?php
                 $element = $form->get('mant_tapa');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
            ?></td>
          </tr>  
      </table>
      </div>    
       
       
      <div class="well" >
      <h5>PRUEBA Y VERIFICACIÓN</h5> 
      <table style="width: 100%" >
          <tr>
              <td><?php
                       $element = $form->get('voltaje_fn');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
             <td><?php
                       $element = $form->get('prueba_bc_1');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
             <td><?php
                       $element = $form->get('prueba_pc_1');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
             <td><?php
                       $element = $form->get('verif_rap_1');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
             <td><?php
                       $element = $form->get('serie_patron');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
          </tr>
          <tr>
              <td><?php
                       $element = $form->get('voltaje_nt');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                   ?>
             </td>
             <td><?php
                       $element = $form->get('prueba_bc_2');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
             <td><?php
                       $element = $form->get('prueba_pc_2');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
             <td><?php
                       $element = $form->get('verif_rap_2');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
             <td><?php
                       $element = $form->get('marca_patron');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formSelect($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
          </tr>
          <tr>
              <td><?php
                       $element = $form->get('voltaje_ft');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formInput($element);
                       echo $this->formElementErrors($element);
                ?>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td><?php
                       $element = $form->get('modelo_patron');
                       echo $formLabel->openTag() . $element->getOption('label');
                       echo $formLabel->closeTag();
                       echo $this->formSelect($element);
                       echo $this->formElementErrors($element);
                ?>
             </td>
          </tr>
          <tr>
              <td><?php
                 $element = $form->get('corr_instantanea');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
          </tr>    
      </table>
      </div>    
       
      
      <div class="well" >
      <h5>SELLOS</h5> 
      <table style="width: 100%" >
          <tr>
              <td><?php
                 $element = $form->get('cubierta_enc');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
              <td><?php
                 $element = $form->get('block_enc');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
              <td><?php
                 $element = $form->get('caja_enc');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
              <td><?php
                 $element = $form->get('cubierta_dej');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
              <td><?php
                 $element = $form->get('block_dej');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
              <td><?php
                 $element = $form->get('caja_dej');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
            ?></td>
          </tr>    
      </table>
      </div>     
       
     <div class="well" >
      <h5>CAMBIO DE MEDIDOR</h5> 
      <table style="width: 100%" >
         <tr>
           <td>
           	  <?php
                 $element = $form->get('cod_medidor_dej');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
               ?>
           </td>
           <td>
           	 <?php
                 $element = $form->get('num_serie_medidor_dej');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
               ?>
           </td>
           <td>
           	  <?php
                 $element = $form->get('anio_fabricacion_medidor_dej');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
               ?>
           </td>
            <td>
           	  <?php
                 $element = $form->get('lectura_inicial_medidor_dej');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formInput($element);
                 echo $this->formElementErrors($element);
               ?>
           </td>
           <td>
           	  <?php
                 $element = $form->get('estado_medidor_dej');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 echo $this->formSelect($element);
                 echo $this->formElementErrors($element);
               ?>
           </td>		
         </tr>
      </table>
     </div> 	       

  </div>

 
<div class="well" >
      <h5>ANORMALIDADES DETECTADAS</h5>  
  
  <style>
	
	datalist { 
       display: none;
      }
	
   </style>
	
<!-- Anormalidades Detectadas -->

	            <datalist id="codigos">			
                    <?php foreach ( $this->code_abnormality as $key => $value) {

                              echo  '<option value="'. $value['codigo_anormalidad'] .'">';                        
                    } ?> 
			</datalist>
			
<table class="table-bordered"  style="width:90%;margin-left:80px; " >
	<thead>
        <tr>
            <td style="padding-left: 20px;" ><strong><u>Codigo</u></strong></td>		
		    <td style="padding-left: 20px;" ><strong><u>Descripcion</u></strong></td>	
		    <td style="padding-left: 20px;" ><strong><u>Origen</u></strong></td>	
		    <td style="padding-left: 20px;" ><strong><u>Tratamiento</u></strong></td>	
		    <td style="padding-left: 20px;" ><strong><u>Mot NO Normalizado</u></strong></td>	
		</tr>
    </thead>
    <tbody>
		<tr>
		  <td style="padding-left: 20px;">
            <input list="codigos" id="codigo_anormalidad1" name=codigo_anormalidad1 style="width:100px;" onblur="cargarSelectCodAnor(1)" value="<?php if(!empty($this->codigo_anormalidad[0])){ echo $this->codigo_anormalidad[0]; } ?>" >
          </td>		
		  <td>
               <div id=resultado1 style="border: 1px solid #ffffff" ><?php if(!empty($this->catalogo_resultados[0])){ echo $this->catalogo_resultados[0]; } ?></div>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('origen_anormalidad1');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('tratamiento_anormalidad1');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('mot_no_normalizado_anormalidad1');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
           </td>	
		</tr>
		<tr>
		  <td style="padding-left: 20px;" >
            <input list="codigos" id="codigo_anormalidad2" name=codigo_anormalidad2 style="width:100px;" onblur="cargarSelectCodAnor(2)" value="<?php if(!empty($this->codigo_anormalidad[1])){ echo $this->codigo_anormalidad[1]; } ?>" >
          </td>
		  <td>
                <div id=resultado2 style="border: 1px solid #ffffff" ><?php if(!empty($this->catalogo_resultados[1])){ echo $this->catalogo_resultados[1]; } ?></div>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('origen_anormalidad2');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('tratamiento_anormalidad2');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('mot_no_normalizado_anormalidad2');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
           </td>	
		</tr>
	    <tr>
		  <td style="padding-left: 20px;" >
            <input list="codigos" id="codigo_anormalidad3" name=codigo_anormalidad3 style="width:100px;" onblur="cargarSelectCodAnor(3)" value="<?php if(!empty($this->codigo_anormalidad[2])){ echo $this->codigo_anormalidad[2]; } ?>" >
          </td>
		  <td>
               <div id=resultado3 style="border: 1px solid #ffffff" ><?php if(!empty($this->catalogo_resultados[2])){ echo $this->catalogo_resultados[2]; } ?></div>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('origen_anormalidad3');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('tratamiento_anormalidad3');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('mot_no_normalizado_anormalidad3');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
           </td>	
		</tr>
		<tr>
		  <td style="padding-left: 20px;" >
            <input list="codigos" id="codigo_anormalidad4" name=codigo_anormalidad4 style="width:100px;" onblur="cargarSelectCodAnor(4)" value="<?php if(!empty($this->codigo_anormalidad[3])){ echo $this->codigo_anormalidad[3]; } ?>" >
          </td>
		  <td>
               <div id=resultado4 style="border: 1px solid #ffffff" ><?php if(!empty($this->catalogo_resultados[3])){ echo $this->catalogo_resultados[3]; } ?></div>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('origen_anormalidad4');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('tratamiento_anormalidad4');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
          </td>	
		  <td style="padding-left: 20px;" >
            <?php
            $element = $form->get('mot_no_normalizado_anormalidad4');
            echo $this->formSelect($element);
            echo $this->formElementErrors($element);
            ?>
           </td>	
		</tr>
	</tbody>	
</table>

<!-- FIN DE ANORMALIDAD -->

</div>


<div class="well" >
      <h5>CONTACTO</h5> 
      <table style="width: 100%" >
         <tr>
           	<td><?php
                   $element = $form->get('nombre_residente');
                   echo $formLabel->openTag() . $element->getOption('label');
                   echo $formLabel->closeTag();
                   echo $this->formInput($element);
                   echo $this->formElementErrors($element);
               ?></td>
           	<td><?php
                   $element = $form->get('rut_residente');
                   echo $formLabel->openTag() . $element->getOption('label');
                   echo $formLabel->closeTag();
                   echo $this->formInput($element);
                   echo $this->formElementErrors($element);
               ?></td>
           	<td><?php
                   $element = $form->get('telefono_residente');
                   echo $formLabel->openTag() . $element->getOption('label');
                   echo $formLabel->closeTag();
                   echo $this->formInput($element);
                   echo $this->formElementErrors($element);
               ?></td>
         </tr>
      </table>
</div>         	



<div class="well" >
      <h5><?php  $element = $form->get('comentario_final');
                 echo $formLabel->openTag() . $element->getOption('label');
                 echo $formLabel->closeTag();
                 ?></h5> 
      <table style="width: 100%" >
         <tr>
            <td>
            <?php
                 echo $this->formTextarea($element);
                 echo $this->formElementErrors($element);
            ?>
    </td>
    </tr>
    </table>
</div>   
    
<hr>

       <strong>Adjuntar Rim de papel. </strong> 
        <br>
        &nbsp;&nbsp;&nbsp;<input type="file" name="pdf_rim_papel" accept="application/pdf" value=""  >
        
       <br><br>
       
        <strong>Adjuntar Certificado Laboratorio. </strong> 
        <br>
        &nbsp;&nbsp;&nbsp;<input type="file" name="pdf_certificado_lab" accept="application/pdf" value=""  >
        
        <br><br>
        
        
        <strong>Adjuntar Certificado Medidor Nuevo. </strong> 
        <br>
        &nbsp;&nbsp;&nbsp;<input type="file" name="pdf_certif_medidor_dejado" accept="application/pdf" value=""  >
        
        <br><br>
        
        
        <strong>Fotos de la Verificaciòn Max.(10) (Formato jpge y bmp. el peso de la foto tiene que ser menor a un MB): </strong>
        <br>
        &nbsp;&nbsp;&nbsp;<input type="file" name="img_rim[]" multiple="multiple" accept="image/*" value="">    
        
     <br><br>
         
    	  	
           <strong> Fotos de Laboratorio Max.(10) (Formato jpge y bmp. el peso de la foto tiene que ser menor a un MB): </strong>
       		
           <br>
       		
           &nbsp;&nbsp;&nbsp;<input type="file" name="img_lab[]" multiple="multiple" accept="image/*" value="">
        	

        
        <br><br>
 
        <input type="submit" class="btn btn-primary btn-lg btn-block" name="enviar" value="Guardar" />

</div>			



       
       
<?php  echo $this->form()->closeTag() ?>

<script>


    /*BUSCAR ANORMALIDADES*********************************/
   
    function cargarSelectCodAnor(v)
    {
        if($("#codigo_anormalidad" + v ).val()!=""){
        var data = "codAnor="+$("#codigo_anormalidad" + v ).val();
        $.ajax({
            type:"POST",
            url:"<?php echo $this->basePath('/rim/index/buscarcodigoanormalidad'); ?>",
            data: data,
            success: function(html){
               $("#resultado" + v ).html(html);
            }
        });
      }
        
    }
    
   /******************************************************/
  
  </script>
