<style>

    table {
        color: #333333;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        line-height: 20px;
        border: 1px solid #DDDDDD;
        border-collapse: collapse;
    }

    table td {
        border: 1px solid #DDDDDD;
    }

    table th {
        border: 1px solid #DDDDDD;
    }

</style>

<div class="mio" style="width:3500px" >
    
    <div class="row">
        <div class="span6">  
            <p><a style="margin-left:5px" href="<?php echo $this -> url('home'); ?>">&DoubleLeftArrow; volver</a></p>   
            
            
            <?php if(($this->layout()->usuario->rol != 'analista')): ?>
                     
                 <h3><?php echo $this -> escapeHtml($this -> title); ?></h3>
            
            <? else: ?>
             
                 <h3> Inspecciones Monofásicas </h3>
             
            <?endif?>
            
        </div>
    </div>
    
   <hr style="margin:0 auto;margin-bottom:10px;">
 
  <div class="row">
      <div class="span6"> 
          <form class="form-inline"  action="/rim/index" method="post" name="buscador" id="buscador" >  
              <div class="form-group">

                      <select name="tipobusqueda" class="form-control input-sm" >
                          <option value="1" >Aviso</option>
                          <option value="2" >Instalación</option>
                          <option value="3" >Tecnico</option>
                          <option value="4" >Nº Serie Medidor</option>
                      </select>
                      <input name="buscar_numero" class="form-control input-sm" type="text" placeholder="Numero" value="" max="15" maxlength="15" />    
                      <input name="buscar" class="btn btn btn-success form-control input-sm" type="submit" value="Buscar" />
              </div>
          </form>        
      </div>
      <div class="span6">      
          
          <!-- 
          <form class="form-inline"  action="/rim/index" method="post" name="frm_finalizar_avisos" id="frm_finalizar_avisos" >  
              <div class="form-group">
                  <input name="lista_avisos" id="lista_avisos" type="hidden" value="" />
                  <select name="tipoaccionsolicitada" class="form-control input-sm"  style="width:150px;" >
                      <option value="1" >&nbsp;Finalizar&nbsp;</option>
                      <option value="213" >&nbsp;Verificación Monofasica&nbsp;</option>
                      <option value="215" >&nbsp;Devolución Cliente&nbsp;</option>
                      <option value="215" >&nbsp;Reinstalación&nbsp;</option>
                      <option value="197" >&nbsp;Cambio Medidor&nbsp;</option>
                      <option value="218" >&nbsp;Devolución Distribuidora&nbsp;</option>
                  </select>
                  <input name="ejecutar" class="btn btn btn-success form-control input-sm" onclick="finalizar_avisos()" type="button" value="Ejecutar" />
             </div>
          </form>        
          -->
         
      </div>
  </div>
  
   <hr style="margin:0 auto;margin-bottom:10px;">


   <div>
       <form name="listartodos" action="/rim/index" method="post" > 
         <input name="listartodos" class="btn btn-info"  type="submit" value="Listar Todos" />
       </form>
   </div>
   
  
 <div class="row">
      <div class="span6"> 
          <form class="form-inline" name="tiposervicio" id="tiposervicio" action="/rim/index" method="post">  
              <div class="form-group">
                   <input name="buscar_CM" class="btn btn-primary <?php echo $this->buscar_CM ?>"  type="submit" value="CM [<?php echo $this->CantidadServicios[0]['cantidad_servicios'] ?>]" />
                   <input name="buscar_INS" class="btn btn-primary <?php echo $this->buscar_INS ?>" type="submit" value="INS [<?php echo $this->CantidadServicios[1]['cantidad_servicios'] ?>]" />
                   <input name="buscar_VCC" class="btn btn-primary <?php echo $this->buscar_VCC ?>" type="submit" value="VCC [<?php echo $this->CantidadServicios[2]['cantidad_servicios'] ?>]" />
                   <input name="buscar_VSC" class="btn btn-primary <?php echo $this->buscar_VSC ?>" type="submit" value="VSC [<?php echo $this->CantidadServicios[3]['cantidad_servicios'] ?>]" />
                   <br/><br/>
                   <input name="buscar_VF" class="btn btn-primary <?php echo $this->buscar_VF ?>" type="submit" value="VF [<?php echo $this->CantidadServicios[4]['cantidad_servicios'] ?>]" />
                   <!--<input name="VM" class="btn" type="submit" value="VM [<?php //echo $this->CantidadServicios[5]['cantidad_servicios'] ?>]" />-->
                   <input name="buscar_REI" class="btn btn-primary <?php echo $this->buscar_REI ?>" type="submit" value="REI [<?php echo $this->CantidadServicios[6]['cantidad_servicios'] ?>]" />
                   <input name="buscar_DEV" class="btn btn-primary <?php echo $this->buscar_DEV ?>" type="submit" value="DEV [<?php echo $this->CantidadServicios[7]['cantidad_servicios'] ?>]" />
                   <input name="buscar_AUTO" class="btn btn-primary <?php echo $this->buscar_AUTO ?>" type="submit" value="AUTO [<?php echo $this->CantidadServicios[8]['cantidad_servicios'] ?>]" />
              </div>
          </form>        
      </div>
     <div class="span6"> 
         <form class="form-inline" name="tiporesultado" id="tiporesultado" action="/rim/index" method="post">   
             <input name="Normal" class="btn btn-info <?php echo $this->buscar_Normal ?>"  type="submit" value="Normal [<?php echo $this->CantidadResultados[0]['cantidad_resultado'] ?>]" />
            <input name="CNR" class="btn btn-info <?php echo $this->buscar_CNR ?>"  type="submit" value="CNR [<?php echo $this->CantidadResultados[1]['cantidad_resultado'] ?>]" />
            <input name="Subestandar" class="btn btn-info <?php echo $this->buscar_Subestandar ?>"  type="submit" value="Subestándar [<?php echo $this->CantidadResultados[2]['cantidad_resultado'] ?>]" />
            <!-- <input name="Frustrado 2da Visita" class="btn btn-info"  type="submit" value="Frustrado 2da Visita [<?php echo $this->CantidadFrustrados2Visita['cantidad'] ?>]" /> -->
         </form>
         <form class="form-inline" name="tipotratado" id="tipotratado" action="/rim/index" method="post">
            <input name="1" class="btn btn-warning" type="submit" value="Normalizado" />
            <input name="2" class="btn btn-warning" type="submit" value="No normalizado" />
         </form> 
     </div>   
     <div class="span4">
       
      </div>
  </div>


    <table class="table table-bordered" width="100%" >
        <thead>
            <tr style="background-color:#002a80;color:#ffffff;" >
                <th style="text-align:center;" >#</th>
                <!--<th style="text-align:center;" >
                   <spam style="margin-left:5px" > 
                      <input type="checkbox" onclick="marcar(this);" />
                   </spam> 
                </th>-->
                <th style="text-align:center;"  >Sucursal</th>
                <th style="text-align:center;"  >N°Aviso</th>
                <th style="text-align:center;" >N°Instalación</th>
                
                <?php if(($this->layout()->usuario->rol != 'analista')): ?>
            
                   <th style="text-align:center;" >N°RimD</th>
                   <th style="text-align:center;" >N°RimP</th>
                
                <?php endif; ?>
                
                <th style="text-align:center;"  >Nº Serie</th>
                
                <th style="text-align:center;" >Fecha<br>Ejecución</th>
                
                <?php if(($this->layout()->usuario->rol != 'analista')): ?>
            
                   <th style="text-align:center;width:10%;" >Servicio<br>Solicitado</th>
            
                <?php endif; ?>
                
                <th style="text-align:center;" >Servicio<br>Ejecutado</th>
                
                <?php if(($this->layout()->usuario->rol != 'analista')): ?>
            
                   <th style="text-align:center;" >Maestro</th>
                   <th style="text-align:center;" >Ayudante</th>
                   <th style="text-align:center;" >Patente</th>
            	
                <?php endif; ?>
                
                <th style="text-align:center;width:10%;" >Resultado</th>
                
                <?php if(($this->layout()->usuario->rol != 'analista')): ?>
            
                  <th style="text-align:center;width:10%;" >Comentario</th>
            
                <?php endif; ?>
            
                
                <th style="text-align:center;" >Fotos <br> Terreno</th>
                
                
                <?php if(($this->layout()->usuario->rol != 'analista')): ?>
                 
                	<th style="text-align:center;" >Mapa</th>
                
                <?php endif ?>
                
                
                <th style="text-align:center;" >RIM</th>
                
                <th style="text-align:center;" >Recibo <br> Cliente</th>
                
                
                <?php if(($this->layout()->usuario->rol != 'analista')): ?>
           
                	<th style="text-align:center;" >ITT</th>
                
                <?php endif ?>
                
                
                <th style="text-align:center;" >Certificado <br> Laboratorio</th>
                
                <th style="text-align:center;" >Fotos <br> Laboratorio</th>
                 
                <th style="text-align:center;" >Certificado <br> Med. Inst. </th>
                
                <?php if(($this->layout()->usuario->rol != 'analista') && ($this->layout()->usuario->rol != 'auditor')): ?>
                 	
                    <th style="text-align:center;" >Edit Y Adj.</th>
                    <th style="text-align:center;" >Tratamiento <br> RIM</th>
                    <th style="text-align:center;" >Cierre <br> Ciclo</th>
                            
                <?php endif ?>
                
                
                <?php if(($this->layout()->usuario->rol != 'analista')): ?>
           
                	<th style="text-align:center;" >Fecha<br>Finalizado</th>
                
                <?php endif ?>
                
                
                <?php if($this->layout()->usuario->rol == 'admin'): ?>
                
                     <th style="text-aling:center;" >Zip</th>
                
                <?php endif; ?>
                
                
            </tr>
        </thead>
        <tbody>
        <?php 
        
        $y = 1;
        
        foreach ($this->rimEjecutados as $rim): 
            
        ?>    
       
       
         <?php if($rim->getEstado_rim()!=1): ?>
             
         <?php endif ?>    
            
        <tr class="info" >
        	
            <td onclick="funcionactivar(this)" style="text-align:center;padding:0 auto;padding-top:30px;" > Nº <?php echo $y++ ?></td> 
              
            <!--<td onclick="funcionactivar(this)" style="text-align:center;padding:0 auto;padding-top:30px;" >
                <spam style="margin-left:5px" >
                    <input type="checkbox" name="rim_finalizados[]" value="<?php //echo $rim->getIdaviso() ?>" >
                </spam>
            </td> -->
            
           <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $rim->getDatosSucursal()->getNombre_sucursal() ?></td>
               
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $rim->getNum_avi() ?></td>
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $rim->getNum_insta() ?></td>
            
            
            <?php if(($this->layout()->usuario->rol != 'analista')): ?>
            
	            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $rim->getIdaviso() ?></td>
	            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $rim->getNumero_rim() ?></td>
            
            <?php endif; ?>
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $rim->getNu_se() ?></td>
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $this->formatDate($rim->getFe_eje(),'d-m-Y') ?></td>
            
            <?php if(($this->layout()->usuario->rol != 'analista')): ?>
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" >
            <?php
                        if ($rim -> getCodigo_tipo_servicio() == 197)
                            echo 'CM';
                        if ($rim -> getCodigo_tipo_servicio() == 198)
                            echo 'IV';
                        if ($rim -> getCodigo_tipo_servicio() == 213)
                            echo 'VM';
                        if ($rim -> getCodigo_tipo_servicio() == 214)
                            echo 'RE';
                        if ($rim -> getCodigo_tipo_servicio() == 215)
                            echo 'DE';
                       if ($rim -> getCodigo_tipo_servicio() == 216)
                            echo 'AUTO';
                 ?>
                 
                 <br>
                 
                 <?php echo $rim->getDatosDeAviso()->getDescripcion()  ?>
                 
                 </td>
                 
            <?php endif; ?>
                 
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php
            if ($rim -> getTi_serv() == 197)
                echo 'CM';
            if ($rim -> getTi_serv() == 198)
                echo 'IV';
            if ($rim -> getTi_serv() == 199)
                echo 'VCC';
            if ($rim -> getTi_serv() == 200)
                echo 'VSC';
            if ($rim -> getTi_serv() == 201)
                echo 'VF';
            if ($rim -> getTi_serv() == 213)
                echo 'VM';
            if ($rim -> getTi_serv() == 214)
                echo 'RE';
            if ($rim -> getTi_serv() == 215)
                echo 'DE';
            if ($rim -> getTi_serv() == 216)
                echo 'AUT';

            if (!empty($rim -> getTi_vi_fru())) {

                if ($rim -> getTi_vi_fru() == 1)
                            echo '<br><strong>Cliente no autoriza trabajos</strong>';
                if ($rim -> getTi_vi_fru() == 2)
                            echo '<br><strong>Empalme no existe</strong>';
                if ($rim -> getTi_vi_fru() == 3)
                            echo '<br><strong>Sitio eriazo</strong>';
                if ($rim -> getTi_vi_fru() == 4)
                            echo '<br><strong>Empalme sin energia</strong>';
                if ($rim -> getTi_vi_fru() == 5)
                            echo '<br><strong>Domicilio deshabitado</strong>';
                if ($rim -> getTi_vi_fru() == 6)
                            echo '<br><strong>No existe una persona responsable</strong>';
                if ($rim -> getTi_vi_fru() == 7)
                           echo '<br><strong>No Ubicado</strong>';
                if ($rim -> getTi_vi_fru() == 8)
                           echo '<br><strong>Casa Cerrada</strong>';
                if ($rim -> getTi_vi_fru() == 9)
                           echo '<br><strong>Sin acceso por caja tortuga</strong>';
                if ($rim -> getTi_vi_fru() == 10)
                           echo '<br><strong>Reagendar</strong>';
                if ($rim -> getTi_vi_fru() == 11)
                           echo '<br><strong>Otra causa</strong>';

            }
                 ?></td>
            
            
           <?php if(($this->layout()->usuario->rol != 'analista')): ?>
            
	            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $rim->getCote1() ?></td>
	            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $rim->getCote2() ?></td>
	            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" ><?php echo $rim->getPat_mo() ?></td>
            
            <?php endif; ?>
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;width:15%;" onclick="funcionactivar(this)" >
                
                <?php if($rim->getAnormalidadesMonofasico_0()->getTipo_anormalidad() != ""): ?>
                
                <?php if($rim->getAnormalidadesMonofasico_0()->getTipo_anormalidad() != "NORMAL"): ?>
                
                <?php echo '<strong>'. $rim->getAnormalidadesMonofasico_0()->getTipo_anormalidad() .'</strong>&nbsp;en&nbsp;'. 
                        $rim->getAnormalidadesMonofasico_0()->getComponente() .'&nbsp;del&nbsp;<strong>'. $rim->getAnormalidadesMonofasico_0()->getUbicacion_anormalidad() 
                        .'</strong>.<br>&nbsp;<strong>Detalle :</strong>&nbsp;'. $rim->getAnormalidadesMonofasico_0()->getDescripcion_anormalidad() ?>
                <br/> <?php

                $ditailResult = explode('-', $rim -> getRes_ev_ins_0_detalle());

                echo "<strong>Origen :</strong>";
                if ($ditailResult[0] == 1)
                    echo "Falla interna";
                if ($ditailResult[0] == 2)
                    echo "Intervancion terceros";
                if ($ditailResult[0] == 3)
                    echo "Falta de mantenimiento";
                if ($ditailResult[0] == 4)
                    echo "No determinado";
                //--------------------------------------------------------
                echo "<br><strong> quedando en condición </strong>";
                if ($ditailResult[1] == 1)
                    echo "Normalizado";
                if ($ditailResult[1] == 2)
                    echo "No normalizado";
                //--------------------------------------------------------
                if ($ditailResult[2] == 1)
                    echo ",Cliente no autoriza";
                if ($ditailResult[2] == 2)
                    echo ",Condición insegura";
                if ($ditailResult[2] == 3)
                    echo ",Mant. Mayor";
                if ($ditailResult[2] == 4)
                    echo ",Colgado acometida";
                //-------------------------
                        ?> 
               
               <?php else:  ?>
                        NORMAL  
               <?php endif ?>
               
               <?php else: ?>
                       -
               <?php endif ?>
                        
            </td>
            
            
            <?php if(($this->layout()->usuario->rol != 'analista')): ?>
           	
            	<td style="text-align:center;padding:0 auto;padding-top:30px;width:15%;" onclick="funcionactivar(this)" ><?php echo $rim->getCo_fin() ?></td>
           	
            <?php endif; ?>
            
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" style="width:35px;" >
                    <?php if ($rim->getFotosTerrenoRim()->getFoto1() != ""): ?>
                        <a  target="_blank" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'fotos', 'id' => $rim->getIdaviso())) ?>">
                            <img src="/images/icocamara.png">
                        </a>
                    <?php else: ?>
                          Sin Fotos    
                    <?php endif ?>
                </td>
                
                
            <?php if(($this->layout()->usuario->rol != 'analista')): ?>
                               
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" style="width:35px;" >
                
                <?php if(($rim->getLat() != '-1') && ($rim->getLon() != '-1' )): ?>
                    
                    	<?php if(($rim->getLat() != '') && ($rim->getLon() != '')): ?>
                    	
        	            	<?php if ($rim->getGeo_invalid() == FALSE ): ?>
        	                <a  target="_blank" href="https://www.google.es/maps?q=<?php echo $rim->getLat() ?> ,<?php echo $rim->getLon() ?>">
        	                    <img src="/images/icomap.png" width="32" height="32" >
        	                </a>
        	                <?php else: ?>
        	                	<strong>Sin Geo</strong>
        	                <?php endif ?>
        	                
                        <?php else: ?>
                        	<strong>Sin Geo</strong>
                        <?php endif ?>
                
                <?php else: ?>
                    <strong>Sin Geo</strong>
                <?php endif ?>
                 
            </td>
            
            <?php endif ?>
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" style="width:35px;" >
                
                <?php $fecha = new \DateTime('21-07-2015'); ?>
                
                <?php if(($rim->getFe_eje()) > $fecha->format('Y-m-d')) : ?>
                    
                    <a  target="_blank" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'rim2', 'id' => $rim->getIdaviso())) ?>">
                        <img src="/images/icopdf.png" alt="RIM">
                    </a>
                
                <?php else: ?>
                
                     <a  target="_blank" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'rim', 'id' => $rim->getIdaviso())) ?>">
                        <img src="/images/icopdf.png" alt="RIM">
                    </a>
                
                 <?php endif; ?>
                 
            </td>
            
            
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" style="width:35px;" >
                 
                 <?php 
              
                  if (file_exists('/home/meditres/public_html/public/RimPapel/rim_'. $rim->getIdaviso() .'.pdf')):
                      
                   ?>

                    <a  target="_blank" style="color:#70d900;" href="<?php  echo  '/RimPapel/rim_' . $rim->getIdaviso()  . '.pdf' ?>" >

                        <img src="/images/icopdf.png" alt="Cla">

                    </a>

                  <?php else: ?>

                  <?php if ( ($rim -> getTi_serv() != 201) ): ?>

                         Cargar
                         
                   <?php else: ?>
                       
                        No Aplica      
                         
                  <?php endif; ?>

                  <?php endif; ?>
                  
            </td> 
            
            
            <?php if(($this->layout()->usuario->rol != 'analista')): ?>
           
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" style="width:35px;" >
                
                <?php if ( ($rim -> getTi_serv() != 201) && ($rim -> getTi_serv() != 198) && ($rim -> getTi_serv() != 197) &&
                            ($rim -> getTi_serv() != 214) && ($rim -> getTi_serv() != 215) ) : ?>
                     
                     <?php $fecha = new \DateTime('21-07-2015'); ?>
                
                     <?php if(($rim->getFe_eje()) <= $fecha->format('Y-m-d')) : ?>
                    
                            <a  target="_blank" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'itt', 'id' => $rim->getIdaviso())) ?>">
                                <img src="/images/icopdf.png" alt="ITT">
                            </a>
                            
                     <?php else: ?>
                         
                         Rim2.0
                         
                     <?php endif; ?>
                                          
                <?php else: ?>
                    
                            No Aplica
                    
                 <?php endif; ?>   
                
            </td>
            
            <?php endif; ?> 
            
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" style="width:35px;" >
                 
                   <?php 
              
                       if (file_exists('/home/meditres/public_html/public/CertificadosLab/cert_'. $rim->getIdaviso() .'.pdf')):
                      
                   ?>
                    
                    <a  target="_blank" style="color:#70d900;" href="<?php  echo  '/CertificadosLab/cert_' . $rim->getIdaviso()  . '.pdf' ?>" >

                        <img src="/images/icopdf.png" alt="Cla">

                    </a>
                    
                  <?php else: ?>
                      
                       <?php if ( ($rim -> getTi_serv() != 201) ): ?>

                           Sin Cert.
                           
                           <?php else: ?>
                       
                        No Aplica      
                         
                  <?php endif; ?>

                  <?php endif; ?>
                  
            </td>
            
             
             <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" style="width:35px;" >
                    <?php if ($rim->getFotosLabMon()->getFotoLab1() != ""): ?>
                        <a  target="_blank" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'fotoslab', 'id' => $rim->getIdaviso())) ?>">
                            <img src="/images/icocamara.png">
                        </a>
                    <?php else: ?>
                          Sin Fotos    
                    <?php endif ?>
                </td> 
             
                
            
             <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" style="width:35px;" >
                 
                   <?php 
              
                       if (file_exists('/home/meditres/public_html/public/Cert_Med_Dej/certif_medidor_dejado_'. $rim->getIdaviso() .'.pdf')):
                      
                   ?>
                    
                    <a  target="_blank" style="color:#70d900;" href="<?php  echo  '/Cert_Med_Dej/certif_medidor_dejado_' . $rim->getIdaviso()  . '.pdf' ?>" >

                        <img src="/images/icopdf.png" alt="Cla">

                    </a>
                    
                  <?php else: ?>
                      
                        <?php if ( ($rim->getTi_serv() != 201) ): ?>

                          Sin Cert.

                        <?php else: ?>

                          No Aplica      

                        <?php endif; ?>

                  <?php endif; ?>
                  
            </td>
                
                
            
           <?php if(($this->layout()->usuario->rol != 'analista') && ($this->layout()->usuario->rol != 'auditor')): ?>
                                 
            <td style="text-align:center;padding:0 auto;padding-top:30px;" onclick="funcionactivar(this)" style="width:35px;" >
                
                <?php if($rim->getEstado_rim()!=1): ?>               
                
                        <a href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'edit', 'id' => $rim->getIdaviso())) ?>">
                            Edit
                        </a>
                 
                <?php endif; ?> 
                 
            </td>
            
            <td style="text-align:center;padding:0 auto;padding-top:25px;width:5%;" onclick="funcionactivar(this)" >
               
                <?php if($rim->getEstado_rim()!=1): ?>
                     
                <form class="form-inline"  action="/rim/index/finalizar" method="post" name="ejecutaraccion" id="buscador" >  
                  <div class="form-group">
                      
                      <input name="id_aviso" type="hidden" value="<?php echo $rim->getIdaviso() ?>" />
                      
                      <select name="tipoaccionsolicitada" class="form-control input-sm"  style="width:150px;margin-bottom:5px;" >
                                <option value="-" >&nbsp;Seleccionar&nbsp;</option>
                                <option value="1" >&nbsp;Finalizar Rim&nbsp;</option>
                                <option value="<?php echo $rim -> getCodigo_tipo_servicio() ?>" >&nbsp;Reprocesar Aviso&nbsp;</option>
                      </select>  
                       
                      <input name="enviar" class="btn form-control input-sm btn-success" type="submit" value="Ejecutar" />
                      
                  </div>
                </form>   
                
               <?php endif; ?>
                  
            </td>
            
          <td style="text-align:center;padding:0 auto;padding-top:25px;width:5%;" onclick="funcionactivar(this)" >
              
              <?php if($rim->getEstado_rim()!=1): ?>
              
                <form class="form-inline"  action="/rim/index/finalizar" method="post" name="ejecutaraccion" id="buscador" >  
                  <div class="form-group">
                      
                      <input name="id_aviso" type="hidden" value="<?php echo $rim->getIdaviso() ?>" />
                      
                      <select name="tipoaccionsolicitada" class="form-control input-sm"  style="width:150px;margin-bottom:5px;" >
                                <option value="-" >&nbsp;Seleccionar&nbsp;</option>
                                <option value="214" >&nbsp;Reinstalación&nbsp;</option>
                                <option value="215" >&nbsp;Devolución Cliente&nbsp;</option>
                                <option value="218" >&nbsp;Devolución Distribuidora&nbsp;</option>
                      </select>   
                      
                      <input name="enviar" class="btn form-control input-sm btn-danger" type="submit" value="Ejecutar" />
                      
                  </div>
                </form> 
                
                <?php endif; ?>
                
            </td>
            
            <?php endif; ?>
            
            <?php if(($this->layout()->usuario->rol != 'analista')): ?>
           
	            <td style="text-align:center;padding:0 auto;padding-top:25px;width:5%;" onclick="funcionactivar(this)" >
	                <?php echo $this->formatDate( $rim->getFecha_finalizado() ,'d-m-Y') ?>
	            </td>    
            
            <?php endif; ?>
            
            
            <?php if(($this->layout()->usuario->rol == 'admin')): ?>
            	
            <td onclick="funcionactivar(this)" >
                
            <?php
            
              /* 
               * Si existen imagenes de trabajos en terreno 
               */
            
               //if (file_exists( $directory .'zip_'. $aviso->getInstalacion()->getNum_instalacion() .'_'. $aviso->getNumero_aviso() . '_'  . $aviso->getOrs_riat()->getNum_form_riat() . '.zip' )){
            
             ?> 
                
                <a style="margin-left:5px;color:#70d900;" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'descargarzip', 'id' => $rim->getIdaviso() )) ?>">
                   
                   <img src="/images/zip.png" alt="Archivo Zip" style="margin:auto;width:30px;"  >
                       
                </a>       
                
             <?php  //} ?>
                
            </td>
            
            <?php endif; ?>
            
            
        </tr>

       <?php endforeach; ?>

       </tbody>
    </table>

    <?php
    echo $this -> paginationControl($this -> paginator, 'Sliding', 'riat/pagination_control', array('route' => 'paginatorrim', 'controller' => 'index', 'action' => 'index'));
    ?>
 
</div>

<script type="text/javascript">
    
    $(document).ready(function() {

        /*++++++++++++++++++++++++++++++++++++*/

        $('#fecha_entrega_dig').datetimepicker({
            format : 'dd-MM-yyyy',
            pickTime : false,
            language : 'ES'
        });

        $('#fecha_entrega_fisica').datetimepicker({
            format : 'dd-MM-yyyy',
            pickTime : false,
            language : 'ES'
        });

    });

    function marcar(source) {
        checkboxes = document.getElementsByTagName('input');
        //obtenemos todos los controles del tipo Input
        for ( i = 0; i < checkboxes.length; i++)//recoremos todos los controles
        {
            if (checkboxes[i].type == "checkbox")//solo si es un checkbox entramos
            {
                checkboxes[i].checked = source.checked;
                //si es un checkbox le damos el valor del checkbox que lo llamó (Marcar/Desmarcar Todos)
            }
        }
    }



   function finalizar_avisos(e) {

		checkboxes = document.getElementsByTagName('input');

		for ( i = 0; i < checkboxes.length; i++) {

			if (checkboxes[i].type == "checkbox") {

				if (i > 19) {

					if (checkboxes[i].checked == true) {

                        if($("#lista_avisos").val()==""){
                          $("#lista_avisos").val(checkboxes[i].value);
                        }else{ 
                          $("#lista_avisos").val($("#lista_avisos").val() + '_' + checkboxes[i].value);
                        }
					}
				}
			}
		}
           
		document.frm_finalizar_avisos.action = "/rim/index/finalizar";
		document.frm_finalizar_avisos.method = 'POST';
		document.frm_finalizar_avisos.submit();

	}
	


    function funcionactivar(e) {
        
        $(e).parent().nextAll().css({
            color : "#333333",
            "font-weight" : "Normal"
        });
        $(e).parent().prevAll().css({
            color : "#333333",
            "font-weight" : "Normal"
        });
        
        $(e).parent().nextAll().addClass('info');
        $(e).parent().prevAll().addClass('info');
        $(e).parent().removeClass('info');
        
        $(e).parent().css({
            "font-weight" : "Bold",
            "background-color" : "#bce8f1"
        });
    }

    //    function funcionmarcar(e){
    //
    //            $(e).parent().nextAll().css({color: "#333333", "font-weight": "Normal"});
    //            $(e).parent().prevAll().css({color: "#333333", "font-weight": "Normal"});
    //            $(e).parent().nextAll().addClass('info');
    //            $(e).parent().prevAll().addClass('info');
    //
    //            $(e).parent().removeClass('info');
    //            $(e).parent().css({"background-color": "#bce8f1" });
    //         }

</script>
