<!DOCTYPE html>
<html lang="en">
<head>   
 <title>ITT</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body>  
    
<div style="margin:0px;border:1px solid #000;width:0 auto;height:0 auto;padding:20px;padding-top:10px;padding-bottom:5px;text-align:center;" >

<img style="margin:0 auto;" src="/images/image001.jpg" height="40" width="130">

<div style="font-size:14px;" ><strong>INFORME TÉCNICO TERRENO</strong></div>
<div style="font-size:11px;" >Tecnet S. A., Organismo de Comprobación de Exactitud de Medidores de Energía</div>
<div style="font-size:11px;" >Eléctrica, según resolución exenta SEC Nº 219 del 19 de Febrero de 2001.</div>
<div style="font-size:11px;" ><strong>N° CVM - ITT - <?php echo $this->rimBuscado->getIdaviso() ?> </strong></div>

<div style="width:49%;height:0 auto;float:left;border:1px solid #000;font-size:12px;" >   
    <div style="margin-top:5px;"><strong>CARACTERÍSTICAS MEDIDOR DE ENERGÍA</strong></div>  
    <hr style="margin:0px;"> 
    <br>
    <table style="margin:0 auto;text-align:left; ">
        <tr><td><strong>Marca</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getDatosModeloMedidorEnc()->getMarca() ?></td></tr>
        <tr><td><strong>Modelo</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getDatosModeloMedidorEnc()->getModelo() ?></td></tr>
        <tr><td><strong>Nº de Serie</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getNu_se() ?></td></tr>
        <tr><td><strong>Tensión Nominal (V)</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getDatosModeloMedidorEnc()->getVoltaje() ?></td></tr>
        <tr><td><strong>Corriente (A)</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getDatosModeloMedidorEnc()->getAmperes() ?></td></tr>
        <tr><td><strong>Frecuencia (Hz)</strong></td><td><strong>:</strong></td><td>50</td></tr>
        <tr><td><strong>Constante (Kh)</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getDatosModeloMedidorEnc()->getKp() ?></td></tr>
        <tr><td><strong>Año Fabricación</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getAn_fa() ?></td></tr>
        <tr><td><strong>Clase Exactitud </strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getDatosModeloMedidorEnc()->getClase_medidor() ?></td></tr>
        <tr><td><strong>Constante Lectura</strong></td><td><strong>:</strong></td><td>1</td></tr>
        <tr><td><strong>Lectura Dejada (kWh)</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getLec_fin() ?></td></tr>
    </table>

    <hr style="border:1px solid #000;">
    
    <div style="margin-top:5px;"><strong>CONDICIÓN DE MEDIDA</strong></div> 
    <hr style="margin:0px;">

    <br>
    
    <table style="margin:0 auto;text-align:left; ">
        <tr><td><strong>Tipo de Medida</strong></td><td><strong>:</strong></td><td>Directa</td></tr>
        <tr><td><strong>Temperatura (°C)</strong></td><td><strong>:</strong></td><td>Ambiente</td></tr>
        <tr><td><strong>Frecuencia (Hz)</strong></td><td><strong>:</strong></td><td>50</td></tr>
        <tr><td><strong>Voltaje (V)</strong></td><td><strong>:</strong></td><td>232</td></tr>
    </table> 
    
    <br/><br/><br/><br/>
    
</div>

<div style="margin-left:50%;width:50%;height:auto;border:1px solid #000;font-size:12px;" >
    <div style="margin-top:5px;"><strong>ANTECEDENTES DEL CLIENTE</strong></div>
    <hr style="margin:0px;">
    
    <table style="margin:auto;text-align:left; ">
        <tr><td><strong>Razón Social</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getNom_cli() ?></td></tr>
        <tr><td><strong>Dirección o Domicilio</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getDir1() ?></td></tr>
        <tr><td><strong>Comuna</strong></td><td><strong>:</strong></td><td><?php echo htmlentities($this->rimBuscado-> getDatosComuna() -> getNombre_comuna(), ENT_QUOTES, "UTF-8")  ?></td></tr>
        <tr><td><strong>N° Servicio/Cliente</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getNum_insta() ?></td></tr>
        <tr><td><strong>N° Aviso</strong></td><td><strong>:</strong></td><td><?php echo $this->rimBuscado->getDatosDeAviso()->getNumero_aviso() ?></td></tr>
        <tr><td><strong>N° Fecha Solicitud</strong></td><td><strong>:</strong></td><td><?php echo $this->formatDate($this->rimBuscado->getDatosDeAviso()->getFecha_carga(), 'd-m-Y') ?></td></tr>
    </table>  
    
    <br>
</div>

<div style="margin-left:50%;width:50%;height:auto;border:1px solid #000;font-size:12px;" >
    <div style="margin-top:5px;"><strong>LUGAR DE INSPECCIÓN</strong></div>
    <hr style="margin:0px;">  
    
    <table style="margin:auto; margin-left:25%;text-align:left ;width:90%">
        
        <tr><td style="width: 30%;" ><strong>Lugar</strong></td>
            <td><strong>:</strong></td>
            <td>Domicilio</td></tr>
        <tr><td><strong>Fecha Ejecución</strong></td><td><strong>:</strong></td><td><?php echo $this->formatDate($this->rimBuscado->getFe_eje(), 'd-m-Y') ?></td></tr>
        <tr><td><strong>Procedimiento</strong></td><td><strong>:</strong></td><td>IN.GM-23</td></tr>
        
    </table>   
    
</div>

<div style="margin-left:50%;width:50%;height:auto;border:1px solid #000;font-size:12px;" >
    <div style="margin-top:5px;"><strong>CARACTERÍSTICAS DE PATRÓN</strong></div>
    <hr style="margin:0px;">
    
    <table style="margin:auto; margin-left:25%; text-align:left;width:90% " >
        
        <tr><td style="width: 30%;"  ><strong>Marca</strong></td><td><strong>:</strong></td><td><?php 
                                                                                                  
                                  if($this -> rimBuscado -> getPa_ma()==1) echo 'MTE';
                                  if($this -> rimBuscado -> getPa_ma()==2) echo 'ECA'; 
                                                                                                 
                                                                                                 ?></td></tr>
        <tr><td><strong>Modelo</strong></td><td><strong>:</strong></td><td><?php 

                                  if($this -> rimBuscado -> getPa_ma()==1){
                                             if($this -> rimBuscado -> getPa_mo()==1) echo 'PTS 2.1';
                                             if($this -> rimBuscado -> getPa_mo()==2) echo 'Checkmeter 2.1';
                                             if($this -> rimBuscado -> getPa_mo()==3) echo 'Checksystem 2.1';
                                   }

                                  if($this -> rimBuscado -> getPa_ma()==2){
                                             if($this -> rimBuscado -> getPa_mo()==1) echo '200'; 
                                   }     
                                                                                            
                                                                                                    ?></td></tr>
        <tr><td><strong>Clase</strong></td><td><strong>:</strong></td><td>0,2</td></tr>
        <tr><td><strong>N° serie</strong></td><td><strong>:</strong></td><td><?php echo $this -> rimBuscado -> getPa_se() ?></td></tr>
        
    </table>
</div>

<div style="margin-left:50%;width:50%;height:auto;border:1px solid #000;font-size:12px;" >
    
    <div style="margin-top:5px;"><strong>TRATAMIENTO SELLOS MEDIDOR</strong></div>
    <hr style="margin:0px;">
    
    <table style="margin:auto;margin-left:5%; text-align:left;width:99%;" >
        <tr>
            <td></td><td><strong>Encontrado</strong></td><td><strong>Dejado</strong></td></tr>
        <tr>
            <td><strong>Cubierta</strong></td><td><?php echo $this->rimBuscado->getCu_en() ?></td><td><?php echo $this->rimBuscado->getCu_de() ?></td></tr>
        <tr>
            <td><strong>Terminales</strong></td><td><?php echo $this->rimBuscado->getBl_en() ?></td><td><?php echo $this->rimBuscado->getBl_de() ?></td></tr>
        <tr>
            <td><strong>Caja Medidor</strong></td><td><?php echo $this->rimBuscado->getCm_en() ?></td><td><?php echo $this->rimBuscado->getCm_de() ?></td></tr>
    </table>
    
</div>

<hr>

<div style="margin:0 auto;margin-top:1px; width:100%;height:auto;border:0;font-size:12px;" >
             
    <table border="1" style="margin:0 auto;text-align:center;border:1px #000 solid;border-collapse:collapse;width:80%;">
        <tr>
            <td colspan="5" ><strong>RESULTADOS ENSAYOS DE LA CLASE DE EXACTITUD</strong></td>  
        </tr>    
        <?php if(($this->rimBuscado->getPf_11() != "")  AND  ($this->rimBuscado->getPf_12() != "")  ) : ?> 
                <tr>
                    <td><strong>Elemento</strong></td>
                    <td><strong>Carga (%)</strong></td>
                    <td><strong>FP</strong></td>
                    <td><strong>E (%)</strong></td>
                    <td><strong>Límite Aceptación</strong></td>
                </tr>
                <tr>
                    <td><strong>1</strong></td>
                    <td><strong>100</strong></td>
                    <td><strong>1.0</strong></td>
                    <td><strong><?php 

                            if( (!empty($this->rimBuscado->getPf_11()))  &&  (!empty($this->rimBuscado->getPf_12())) ){
                            
                            echo (($this->rimBuscado->getPf_11()  + $this->rimBuscado->getPf_12()) / 2 ); 

                             }else{
                            
                            echo '-';

                            }

                      ?></strong></td>
                    <td><strong>±2.0</strong></td>
                </tr>   
                <tr>
                    <td><strong>1</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>1.0</strong></td>
                    <td><strong><?php 

                            if( (!empty($this->rimBuscado->getBf_11())) && (!empty($this->rimBuscado->getBf_12())) ){
                                                
                                echo (($this->rimBuscado->getBf_11() +  $this->rimBuscado->getBf_12()) / 2 ); 
                            
                              }else{
                            
                               echo '-';
                            
                            }

                          ?></strong></td>
                    <td><strong>±2.0</strong></td>
                </tr>
        <?php endif; ?> 
        <?php if( ($this->rimBuscado->getVr_er1() != "")  AND  ($this->rimBuscado->getVr_er2() != "") ) : ?>             
                 <tr>
                    <td><strong>Elemento</strong></td>
                    <td><strong>Carga (A)</strong></td>
                    <td><strong>FP</strong></td>
                    <td><strong>E (%)</strong></td>
                    <td><strong>Límite Norma (Indicar normativa)</strong></td>
                </tr>
                <tr>
                    <td><strong>1</strong></td>
                    <td><strong>Valor Tomado</strong></td>
                    <td><strong>-</strong></td>
                    <td><strong><?php 

                            if( (!empty($this->rimBuscado->getVr_er1())) && (!empty($this->rimBuscado->getVr_er2())) ){
                            
                                      echo (( $this->rimBuscado->getVr_er1() +  $this->rimBuscado->getVr_er2() ) / 2); 
                            
                               }else{
                            
                                      echo '-';
                            
                            }
        
                ?></strong></td>
                                    <td><strong>±2.0</strong></td>
                                </tr> 
                        <?php endif; ?>     
                    </table>
         
        </div>

<div style="margin:0 auto;margin-top:1px; width:100%;font-size:12px;" >    
    <table border="1" style="margin:0 auto;text-align:left;border:1px #000 solid;border-collapse:collapse;width:100%;">
        <tr>
            <td colspan="5" ><strong><center>RESULTADOS</center></strong></td>  
        </tr>    
        <tr>
            <td style="padding-left:15px;" >
                <strong>RESULTADO EXACTITUD</strong><br/>
         
         <!--RESULTADO CON PATRON-->
         <?php 

                    if( (!empty($this->rimBuscado->getBf_11())) &&  (!empty($this->rimBuscado->getBf_12())) &&  (!empty($this->rimBuscado->getPf_11()))  &&  (!empty($this->rimBuscado->getPf_12()))  ){
                                   
                                       $valor1 = (($this->rimBuscado->getBf_11() +  $this->rimBuscado->getBf_12()) / 2 );
                                       $valor2 = (($this->rimBuscado->getPf_11()  + $this->rimBuscado->getPf_12()) / 2 );
                                       
                                       $valor3 =  (($valor1 + $valor2)/2);
                    
                                       if(   (($valor1 >= -2) && ($valor1 <= 2 )) && (($valor2 >= -2) && ($valor2 <= 2 ))  ) $no = ''; else $no = 'no';
                    
                                       echo 'El medidor '. $no .' cumple con los limites de exactitud especificados para su clase';   
                    
                     }else{
                    
                            echo '-';
                    
                    }

            ?>
                
          <!--RESULTADO CON VERIFICADOR RAPIDO-->      
          <?php
                         
                        if( (!empty($this->rimBuscado->getVr_er1()))  &&  (!empty($this->rimBuscado->getVr_er2())) ){

                                $valor = (( $this->rimBuscado->getVr_er1() +  $this->rimBuscado->getVr_er2() )/2);
            
                                if(($valor >= -2) && ($valor <= 2 )) $no = ''; else $no = 'no';
            
                                echo 'El medidor '. $no .' cumple con los limites de exactitud especificados para su clase';      
                              
                           }else{

                               echo '-';

                           }
    
            ?>    
                   
            </td>
        </tr>
        <tr>
            <td style="padding-left:15px;" >
                <strong>RESULTADO INSPECCIÓN TÉCNICA</strong><br/>
            
                <?php if($this->rimBuscado->getAnormalidadesMonofasico_0()->getTipo_anormalidad() != ""): ?>
                
                <?php if($this->rimBuscado->getAnormalidadesMonofasico_0()->getTipo_anormalidad() != "NORMAL"): ?>
                
                <?php 

                  if($this->rimBuscado->getAnormalidadesMonofasico_0()->getTipo_anormalidad()=='CNR') $r = 'IRREGULARIDAD'; else $r =  $this->rimBuscado->getAnormalidadesMonofasico_0()->getTipo_anormalidad();

                    echo 'Se encuentra <strong>'. $r .'</strong>&nbsp;en&nbsp;'. 
                        $this->rimBuscado->getAnormalidadesMonofasico_0()->getComponente() .'&nbsp;del&nbsp;<strong>'. $this->rimBuscado->getAnormalidadesMonofasico_0()->getUbicacion_anormalidad() 
                        .'</strong>.&nbsp;<strong>Detalle :</strong>&nbsp;'. $this->rimBuscado->getAnormalidadesMonofasico_0()->getDescripcion_anormalidad() ?>
                
                <?php

                $ditailResult = explode('-', $this->rimBuscado->getRes_ev_ins_0_detalle());

                echo "&nbsp;<strong>Origen : </strong>";
                if ($ditailResult[0] == 1)
                    echo "Falla interna";
                if ($ditailResult[0] == 2)
                    echo "Intervancion terceros";
                if ($ditailResult[0] == 3)
                    echo "Falta de mantenimiento";
                if ($ditailResult[0] == 4)
                    echo "No determinado";
                //--------------------------------------------------------
                echo "<strong> quedando en condición </strong>";
                if ($ditailResult[1] == 1)
                    echo "Normalizado";
                if ($ditailResult[1] == 2)
                    echo "No normalizado";
                //--------------------------------------------------------
                if ($ditailResult[2] == 1)
                    echo ",Cliente no autoriza";
                if ($ditailResult[2] == 2)
                    echo ",Condición insegura";
                if ($ditailResult[2] == 3)
                    echo ",Mant. Mayor";
                if ($ditailResult[2] == 4)
                    echo ",Colgado acometida";
                //-------------------------
                        ?> 
               
               <?php else: ?>
                        
                        NORMAL
                        
               <?php endif ?>
               
               
               <?php else: ?>
                        
                       -
                        
               <?php endif ?>    
            
            </td>
        </tr>
    </table>
</div>

<div style="margin:0 auto;margin-top:2px;text-align:left;width:100%;height:auto;border:0;font-size:12px;" >
    <strong>Observaciones</strong><br/>
    El equipo patrón utilizado cuenta con su Certificado de Calibración vigente y trazado al Sistema Internacional de Unidades (SI).<br>
    Este informe sólo puede ser difundido integro y sin modificaciones ni enmiendas.<br/>
    Este informe es válido sólo con firma y timbre.<br/>
</div>

<div style="margin:0 auto;margin-top:10px;width:100%;height:auto;border:0;font-size:12px;" >
    
    <table style="margin:0 auto;width:100%;padding: 0px;">
        <tr>
            <td style="width:35%;" >
                
                <img src="<?php echo 'http://www.medicions3.com/images/fotos/' . $this -> rimBuscado -> getDatosPersonaSupervisor() -> getFoto_firma() ?> "  height="80" width="150" style="text-align:center;margin:0px;border:0px solid #000"  />                 
                <hr style="width:70%">
                
            </td>
            <td style="width:35%;padding-top:0px;" >
                
                 <img src="<?php echo 'http://www.medicions3.com/images/fotos/' . $this -> rimBuscado -> getDatosPersonaTecnico1() -> getFoto_firma() ?> "  height="80" width="150"  style="text-align:center;margin:0px;border:0px solid #000" />          
                <hr style="width:70%">
                
            </td>
            <td>
                
                <img src="/css/timbre2.PNG"  height="100" width="120"  style="text-align:center;margin:0px;" />          
                <hr style="width:70%;margin-top:0px; ">
                
                </td>
        </tr> 
        <tr>
            <td>
                Responsable
            </td>
            <td>
                Ejecutó
            </td>
            <td>
                
            </td>            
        </tr>      
        <tr>
            <td><?php echo ucwords(strtolower($this -> rimBuscado -> getDatosPersonaSupervisor() -> getNombres()  . ' ' . $this -> rimBuscado -> getDatosPersonaSupervisor() -> getApellidos() )) ?></td>
            <td><?php echo ucwords(strtolower($this -> rimBuscado -> getDatosPersonaTecnico1() -> getNombres()  . ' ' . $this -> rimBuscado -> getDatosPersonaTecnico1() -> getApellidos() )) ?></td>
            <td>TIMBRE</td>
        </tr>
        <tr>
            <td><?php echo $this -> rimBuscado -> getDatosPersonaSupervisor() -> getRut_persona() ?></td>
            <td><?php echo $this -> rimBuscado -> getDatosPersonaTecnico1() -> getRut_persona() ?></td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>

<div style="clear:both;margin:0 auto;margin-top:5px;width:100%;height:auto;border:0;font-size:12px;" >
    
    <?php $fecha = new \DateTime(); ?>
    <div style="float:left" >Fecha emisión: <?php echo $this->formatDate($this->rimBuscado->getFe_eje(), 'd-m-Y')  ?></div>
    <div style="margin-left:79%;" >Fecha impresión: <?php echo $fecha->format('d-m-Y') ?></div>
    
</div>
</div>
</body>
</html>