<!DOCTYPE html>
<html lang="en">
<head>   
 <title>RIM</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body>  
    
<div style="margin:0px;border:1px solid #000;width:0 auto;height:0 auto;padding:0px;padding-top:10px;padding-bottom:5px;text-align:center;" >
 
 <table>   
 <tr>
 <td>       
    <img style="margin:0px;margin-right:99%;" src="/images/image001.jpg" height="60" width="150">
 </td>
 <td>   
    <strong>REGISTRO DE INSPECCIÓN MONOFÁSICA</strong>&nbsp;&nbsp;
    <strong>N° <?php echo $this->rimBuscado->getIdaviso() ?></strong>
 </td>
 <tr>
 </table>
        
<hr>

<div style="width:40%;height:0 auto;float:left;border:1px solid #000;font-size:12px;" >   
    
    <div style="margin-top:5px;"><strong>AVISO</strong></div>
      
    <hr style="margin:0px;margin-bottom:10px;"> 
    
    <table style="margin:0 auto;text-align:left; ">
    	
        <tr><td><strong>N° Aviso</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php echo $this->rimBuscado->getNum_avi() ?></td></tr>
        
        <tr><td><strong>Tipo</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php echo 'I5' ?></td></tr>
        
        <tr><td><strong>Servicio</strong></td><td>
            <strong>:</strong>
        	<?php 
				
	            if($this->rimBuscado->getCodigo_tipo_servicio() == 197)
	                  echo 'Cambio Directo';
				
	            if($this->rimBuscado->getCodigo_tipo_servicio() == 198)
	                  echo 'Inspección Visual';
				
	            if($this->rimBuscado->getCodigo_tipo_servicio() == 199)
	                  echo 'Verificación con Cambio';
				
	            if($this->rimBuscado->getCodigo_tipo_servicio() == 200)
	                  echo 'Verificación sin Cambio';
				
	            if($this->rimBuscado->getCodigo_tipo_servicio() == 201)
	                  echo 'Viaje Frustrado';
				
	            if($this->rimBuscado->getCodigo_tipo_servicio() == 213)
	                  echo 'Verificación Monofásico';
				
	            if($this->rimBuscado->getCodigo_tipo_servicio() == 214)
	                  echo 'Reinstalación';
	                
	            if($this->rimBuscado->getCodigo_tipo_servicio() == 215)
	                  echo 'Devolución';
				
	            if($this->rimBuscado->getCodigo_tipo_servicio() == 216)
	                  echo 'Autogestionado';
			         
             ?>                     
         </td></tr>
        
        <tr><td><strong>Descripción</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php echo ucfirst(strtolower($this->rimBuscado->getDatosDeAviso()->getDescripcion()))  ?></td></tr>
        
        <tr><td><strong>Origen servicio</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php echo  $this->rimBuscado->getDatosSolicitante()->getDepartamento_distri()  ?></td></tr>
        
        <tr><td><strong>Distribuidora</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php echo  ucwords (strtolower ($this->rimBuscado->getDatosDistribuidora()->getNombre()))  ?></td></tr>
                
        <tr><td><strong>Nombre cliente</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php echo $this->rimBuscado->getNom_cli() ?></td></tr>
        
        <tr><td><strong>Teléfono</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php if(empty($this->rimBuscado->getTel())) echo 'No Disponible';  else echo $this->rimBuscado->getTel(); ?></td></tr>
        
        <tr><td><strong>Dirección 1</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php echo $this->rimBuscado->getDir1() ?></td></tr>
        
        <tr><td><strong>Dirección 2</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php if(empty($this->rimBuscado->getDir2())) echo '-'; else echo $this->rimBuscado->getDir2(); ?></td></tr>
        
        <tr><td><strong>Comuna</strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php echo htmlentities($this->rimBuscado-> getDatosComuna() -> getNombre_comuna(), ENT_QUOTES, "UTF-8")  ?></td></tr>
        
    </table>
    
    <hr style="border:1px solid #000;">
    
    <div style="margin-top:0px;"><strong>INSTALACIÓN</strong></div> 
    
    <hr style="margin:0px;margin-bottom:10px;">
    
    <table style="margin:auto;margin-bottom:6px;text-align:left; ">
    	
        <tr><td><strong>N° Instalación </strong></td><td><strong>:</strong>&nbsp;&nbsp;<?php echo $this->rimBuscado->getNum_insta() ?></td></tr>
        
        <tr><td><strong>Tipo empalme </strong></td><td><strong>:</strong>&nbsp;&nbsp;
        	<?php 
		
				if($this->rimBuscado->getTi_emp()==1) echo 'Residencial';
				
				if($this->rimBuscado->getTi_emp()==2) echo 'Comercial';
				
				if($this->rimBuscado->getTi_emp()==3) echo 'Industrial';
				
				if($this->rimBuscado->getTi_emp()==4) echo 'Agrícola';
				
				if($this->rimBuscado->getTi_emp()==5) echo 'Alumbrado Público';
		
		    ?>
		</td></tr>
        
        <tr><td><strong>Tipo red </strong></td><td><strong>:</strong>&nbsp;&nbsp;
            <?php

				if($this->rimBuscado->getR_dis()==1) echo 'Aérea';
				 
				if($this->rimBuscado->getR_dis()==2) echo 'Subterránea';
        	
        	?></td></tr>
        
        <tr><td><strong>Tipo acometida </strong></td><td><strong>:</strong>&nbsp;&nbsp;
            <?php 

				if($this->rimBuscado->getTi_aco()==1) echo 'PI';
				
				if($this->rimBuscado->getTi_aco()==2) echo 'Concéntrico';
				
				if($this->rimBuscado->getTi_aco()==3) echo 'XLPE Subterráneo';
             
             ?></td></tr>

        <tr><td><strong>Tipo Cond. Empalme</strong></td><td><strong>:</strong>&nbsp;&nbsp;
            <?php 

                if($this->rimBuscado->getCod_insp_emp()==0) echo 'Normal';
                
                if($this->rimBuscado->getCod_insp_emp()==1) echo 'Empalme pareado';
                
                if($this->rimBuscado->getCod_insp_emp()==2) echo 'Medidor interior';
                
                if($this->rimBuscado->getCod_insp_emp()==3) echo 'Medidor en nicho';             

             ?></td></tr>
   
        <tr><td><strong>Tarifa </strong></td><td><strong>:</strong>&nbsp;&nbsp;
            <?php if (empty($this->rimBuscado->getDatosInstalacion()->getTarifa() ))  echo 'No Disponible';  else  echo $this->rimBuscado->getDatosInstalacion()->getTarifa();   ?></td></tr>
        
        <tr><td><strong>Automático </strong></td><td><strong>:</strong>&nbsp;&nbsp;
            <?php echo $this->rimBuscado->getAuto() ?></td></tr>
        
        <tr><td><strong>Placa poste </strong></td><td><strong>:</strong>&nbsp;&nbsp;
            <?php if($this->rimBuscado->getPla_pos() == '-1' )  echo 'No Disponible'; else echo $this->rimBuscado->getPla_pos(); ?></td></tr>
        
    </table> 
    
</div>

<!--EL otro Lado-->

<div style="margin-left:40%;width:60%;height:auto;border:1px solid #000;font-size:12px;" >
    
<table style="width:99.9%;" >
<tr>
<td  style="border:1px solid #000000;width:60%" >        
    
    <div style="margin-top:0px;"><strong>SERVICIO</strong></div>
    
    <hr style="margin:0px;margin-bottom: 15px; ">
    
    <table style="margin:0 auto;text-align:left;">
        <tr>
        	<td><strong>Fecha ejecución</strong></td>
        	<td>
        	    <strong>:</strong>&nbsp;&nbsp;
        	 <?php echo $this->formatDate($this->rimBuscado->getFe_eje(), 'd-m-Y') ?>
        	</td>
        </tr>
        
        <tr><td><strong>Hora inicio</strong></td><td>
            <strong>:</strong>&nbsp;&nbsp;
            <?php echo  substr($this->rimBuscado->getH_ini(),0,5) ?></td></tr>
        
        <tr><td><strong>Hora Final</strong></td><td>
            <strong>:</strong>&nbsp;&nbsp;
            <?php echo substr($this->rimBuscado->getH_te(),0,5) ?></td></tr>
        
        <tr><td><strong>Tipo servicio</strong></td><td>
            <strong>:</strong>&nbsp;&nbsp;
        	<?php 
                              
				if($this->rimBuscado->getTi_serv() == 197)
	                echo 'Cambio Directo';
				
	            if($this->rimBuscado->getTi_serv() == 198)
	                echo 'Inspecciòn Visual';
				
	            if($this->rimBuscado->getTi_serv() == 199)
	                echo 'Verificaciòn con Cambio';
				
	            if($this->rimBuscado->getTi_serv() == 200)
	                echo 'Verificaciòn sin Cambio';
				
	            if($this->rimBuscado->getTi_serv() == 201)
	                echo 'Viaje Frustrado';
				
	            if($this->rimBuscado->getTi_serv() == 213)
	                echo 'Verificaciòn Monofasico';
				
	            if($this->rimBuscado->getTi_serv() == 214)
	                echo 'Reinstalaciòn';
	                
	            if($this->rimBuscado->getTi_serv() == 215)
	                echo 'Devoluciòn';
				
	            if($this->rimBuscado->getTi_serv() == 216)
	                echo 'Autogestionado';
			         
             ?>
        	</td></tr>
        <tr><td><strong>Peritaje</strong></td><td>
            <strong>:</strong>&nbsp;&nbsp;
            <?php if($this->rimBuscado->getSe_pe()==1)echo 'SI'; else echo 'NO'; ?></td></tr>
    </table>  

</td>
<td style="border:1px solid #000000;width:40%" >
    
    
        <div style="margin-top:5px;"><strong>MANTENCIÓN EMPALME</strong></div>
    
    <hr style="margin:0px;">  
    
    <table style="margin:0 auto;margin-bottom:4px;text-align:left;">
        <tr>
            <td><strong>Int. Automático</strong></td>
            <td>
                <strong>:</strong>&nbsp;
                <?php 
                    if($this->rimBuscado->getMa_emp_int_automatico()==1) echo 'Afiance'; 
                    elseif ($this->rimBuscado->getMa_emp_int_automatico()==2) echo 'Cambio'; 
                    else echo '-';
                    ?></td>
       </tr>
       <tr>             
            <td><strong>Acometida</strong></td>
            <td>
                <strong>:</strong>&nbsp;
                <?php 
                    if($this->rimBuscado->getMa_emp_acometida()==1) echo 'Afiance'; 
                    elseif ($this->rimBuscado->getMa_emp_acometida()==2) echo 'Cambio'; 
                    else echo '-';
                    ?></td>
       </tr>
       <tr>             
            <td><strong>Mástil</strong></td>
            <td>
                <strong>:</strong>&nbsp;
                <?php 
                    if($this->rimBuscado->getMa_emp_mastil()==1) echo 'Afiance'; 
                    elseif ($this->rimBuscado->getMa_emp_mastil()==2) echo 'Cambio';  
                    else echo '-';
                    ?></td>
         </tr>
         <tr>           
             <td><strong>Mirilla</strong></td>
            <td>
                <strong>:</strong>&nbsp;
                <?php 
                    if($this->rimBuscado->getMan_emp_mirilla()==1) echo 'Afiance'; 
                    elseif ($this->rimBuscado->getMan_emp_mirilla()==2) echo 'Cambio';  
                    else echo '-';
                    ?></td>          
        </tr>
        <tr>
            <td><strong>Bajada</strong></td>
            <td>
                <strong>:</strong>&nbsp;
                <?php 
                    if($this->rimBuscado->getMa_emp_bajada()==1) echo 'Afiance'; 
                    elseif ($this->rimBuscado->getMa_emp_bajada()==2) echo 'Cambio'; 
                    else echo '-';
                    ?></td>
         </tr>
         <tr>               
            <td><strong>Caja empalme</strong></td>
            <td>
                <strong>:</strong>&nbsp;
                <?php 
                    if($this->rimBuscado->getMa_emp_caja_empalme()==1) echo 'Afiance'; 
                    elseif ($this->rimBuscado->getMa_emp_caja_empalme()==2) echo 'Cambio'; 
                    else echo '-';
                    ?></td>
           </tr>
           <tr>         
            <td><strong>Alambrado</strong></td>
            <td>
                <strong>:</strong>&nbsp;
                <?php
                    if($this->rimBuscado->getMa_emp_alambrado()==1) echo 'Afiance'; 
                    elseif ($this->rimBuscado->getMa_emp_alambrado()==2) echo 'Cambio'; 
                    else echo '-';
                    ?></td>
             </tr>       
             <tr>
             <td><strong>Tapa</strong></td>
            <td>
                <strong>:</strong>&nbsp;
                <?php
                    if($this->rimBuscado->getMan_emp_tapa()==1) echo 'Afiance'; 
                    elseif ($this->rimBuscado->getMan_emp_tapa()==2) echo 'Cambio'; 
                    else echo '-';
                    ?></td>                
        </tr>    
    </table>   
    
</td>
</tr>
</table> 
    
</div>

<div style="margin-left:40%;width:60%;height:auto;border:1px solid #000;font-size:12px; padding:0%;" >
 
<table style="width:99.9%;" >
<tr>
<td style="width:40%;border:1px solid #000000;padding:0%;" >
     
    <div><strong>MED. INSTANTÁNEAS</strong></div>
    
    <hr style="margin:0px;margin-bottom:15px;">

    <table style="width:90%" >
     <tr>
          <td><strong>V<span style="font-size:10px;font-weight:bold;">fn </span>  </strong>(V)</td>
          <td><strong>:</strong></td> 
          <td>
              <?php if(empty($this->rimBuscado->getVo_fn())) echo '-'; else echo $this->rimBuscado->getVo_fn(); ?> 
          </td>
     </tr>
     <tr>
          <td><strong>V<span style="font-size:10px;font-weight:bold;">nt </span> </strong>(V)</td> 
          <td><strong>:</strong></td>  
          <td>
              <?php if(empty($this->rimBuscado->getVo_fn())): echo '-'; ?>
              <?php else: ?>
              <?php if($this->rimBuscado->getVo_nt() == '-1') echo 'Sin tierra'; else echo $this->rimBuscado->getVo_nt(); ?>
              <?php endif; ?>
          </td>
     </tr>
     <tr>
         <td><strong>V<span style="font-size:10px;font-weight:bold;">ft </span></strong>(V)</td>
         <td><strong>:</strong></td> 
         <td>
              <?php if(empty($this->rimBuscado->getVo_ft())): echo '-'; ?>
              <?php else: ?>
             <?php if($this->rimBuscado->getVo_ft() == '-1') echo 'Sin tierra';  else   echo $this->rimBuscado->getVo_ft(); ?>
             <?php endif; ?>
         </td>
     </tr>
     <tr>
          <td><strong>I </strong>(A)</td>
          <td><strong>:</strong></td>
          <td>
              <?php if(empty($this->rimBuscado->getCo_in())) echo '-'; else  echo $this->rimBuscado->getCo_in(); ?> 
          </td>
     </tr>    
    </table>            

</td>
<td  style="width:60%;border:1px solid #000000;"  >
                 
    <div style="margin-top:5%;" ><strong>VERIFICACIÓN MEDIDOR</strong></div>
    
    <hr style="margin:0px;">


                <?php if( ( $this->rimBuscado->getBf_11() != "" )  AND  ( $this->rimBuscado->getBf_12() != "" )  ) : ?> 
                
                    <table style="width:100%" >
                        <tr>
                            <td colspan="2" style="text-align:center;padding-left:13%;"   ><strong>Pruebas de exactitud Error (%) </strong></td>  
                        </tr>
                        <tr>    
                            <td>&nbsp;</td>
                            <td style="text-align:center;" ><strong>BC FP=1</strong></td>
                            <td style="text-align:center;" ><strong>PC FP=1</strong></td>
                        </tr>
                        <tr>      
                            <td style="text-align:center;border-bottom:1px solid #000000;" >&nbsp; <strong>T1 </strong></td>
                            <td style="text-align:center;border-bottom:1px solid #000000;" >&nbsp; <?php echo $this->rimBuscado->getBf_11() ?> </td>
                            <td style="text-align:center;border-bottom:1px solid #000000;" >&nbsp; <?php echo $this->rimBuscado->getPf_11() ?> </td>
                        </tr> 
                        <tr>  
                            <td style="text-align:center;border-bottom:1px solid #000000;" >&nbsp; <strong>T2 </strong></td>     
                            <td style="text-align:center;border-bottom:1px solid #000000;" >&nbsp; <?php echo $this->rimBuscado->getBf_12() ?> </td>
                            <td style="text-align:center;border-bottom:1px solid #000000;" >&nbsp; <?php echo $this->rimBuscado->getPf_12() ?> </td>
                        </tr>   
                        <tr>
                            <td style="text-align:center;" >&nbsp; <img src="/css/w5448s07.gif"  height="18" width="18"  style="text-align:center;margin:0px;" />  </td>
                            <td style="text-align:center;" >&nbsp; <strong><?php echo (($this->rimBuscado->getBf_11() +  $this->rimBuscado->getBf_12())/2) ?> </strong></td>
                            <td style="text-align:center;" >&nbsp; <strong><?php echo (($this->rimBuscado->getPf_11()  + $this->rimBuscado->getPf_12())/2) ?> </strong></td>
                        </tr>    
                    </table>
                
                <?php endif; ?> 
   
                <?php if( ( $this->rimBuscado->getVr_er1() != "" )  AND  ( $this->rimBuscado->getVr_er2() != "" ) ) : ?> 
                    
                <table style="width:100%" >
                    <tr>    
                        <td style="text-align:center;width:120px;"  ><strong>Verificador Rápido <br> Error (%)</strong></td>
                    </tr>
                    <tr>    
                        <td style="text-align:center;" >&nbsp; <?php echo $this->rimBuscado->getVr_er1() ?> </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;" >&nbsp; <?php echo $this->rimBuscado->getVr_er2() ?> </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;" >&nbsp; <strong><?php echo (($this->rimBuscado->getVr_er1() + $this->rimBuscado->getVr_er2())/2) ?></strong></td>
                    </tr>
                </table>    
                
                <?php endif; ?>  
                
                <?php if( ( $this->rimBuscado->getBf_11() == "" )  OR  ( $this->rimBuscado->getVr_er1() == "" ) ) : ?> 
                    
                <table style="width:100%" >
                    <tr>    
                        <td style="text-align:center;width:120px;"  ><strong>Sin Verificación</strong></td>
                    </tr>
                </table>    
                
                <?php endif; ?> 
                
</td>
</tr>
</table>                
    
</div>

<div style="margin-left:40%;width:60%;height:auto;border:1px solid #000;font-size:12px;" >

    <table style="width:99.9%;"  >
    <tr>
    <td style="width:60%;border:1px solid #000000;" >
            
        <div><strong>SELLOS</strong></div>
        
        <hr style="margin:0px;">
        
        <table style="margin:0 auto;text-align:left;width:90%;">
            <tr>
            	<td></td><td><strong>Encontrado</strong></td><td><strong>Dejado</strong></td></tr>
            <tr>
            	<td style="border-bottom:1px solid #000000;" ><strong>Cubierta</strong></td>
            	<td style="border-bottom:1px solid #000000;" ><?php echo $this->rimBuscado->getCu_en() ?></td>
            	<td style="border-bottom:1px solid #000000;" ><?php echo $this->rimBuscado->getCu_de() ?></td>
            </tr>
            <tr>
            	<td style="border-bottom:1px solid #000000;" ><strong>Terminales</strong></td>
            	<td style="border-bottom:1px solid #000000;" ><?php echo $this->rimBuscado->getBl_en() ?></td>
            	<td style="border-bottom:1px solid #000000;" ><?php echo $this->rimBuscado->getBl_de() ?></td>
            </tr>
            <tr>
            	<td><strong>Caja Medidor</strong></td>
            	<td><?php echo $this->rimBuscado->getCm_en() ?></td>
            	<td><?php echo $this->rimBuscado->getCm_de() ?></td>
            </tr>
        </table>
    
    </td>
    <td style="width:40%;border:1px solid #000000;"  >
    
            <div><strong>PATRÓN ENERGIA</strong></div>
            
            <hr style="margin:0px;margin-bottom:5px; ">
            
            <table style="margin:auto;text-align:left;width:90%;" >
             <tr>
               <td><strong>N° Serie</strong></td>
               <td><strong>:</strong></td>  
               <td>     
                 <?php echo $this->rimBuscado->getPa_se() ?>
               </td>
             </tr>   
              <tr>
               <td><strong>Marca</strong></td>
               <td><strong>:</strong></td>   
               <td>     
                 <?php 
                             
                            if($this->rimBuscado->getPa_ma()==1) echo 'MTE';
                            
                            if($this->rimBuscado->getPa_ma()==2) echo 'ECA';
                          
                   ?>
               </td>
             </tr> 
              <tr>
               <td><strong>Modelo</strong></td>
               <td><strong>:</strong></td>   
               <td>     
                 <?php   

                        if($this->rimBuscado->getPa_ma()==1) {
                              if($this->rimBuscado->getPa_mo()==1) echo 'PTS 2.1';
                              if($this->rimBuscado->getPa_mo()==2) echo 'CheckMeter 2.1';
                              if($this->rimBuscado->getPa_mo()==3) echo 'CheckSystem 2.1'; 
                        }
                        
                        if($this->rimBuscado->getPa_ma()==2) {
                             if($this->rimBuscado->getPa_mo()==1) echo '200'; 
                        }

                 ?>
               </td>
             </tr> 
             </table>
     
     
    </td>
    </tr>
    </table>
    
</div>

<br>

<div style="width:100%;border:1px solid #000 ;font-size:12px;" >
  
  <table style="width:100%;" >
      <tr>
       <td style="width:50%;" >
           
                         <div style="margin-top:0px;"><strong>MEDIDOR ENCONTRADO</strong></div> 
                        
                        <hr style="margin:0px;">
                        
                        <table style="margin:0 auto;text-align:left;">
                            
                            <tr><td><strong>Código </strong></td><td><strong>:</strong>&nbsp;&nbsp;
                                <?php echo $this->rimBuscado->getCo_me() ?></td></tr>
                            
                            <tr><td><strong>Marca </strong></td><td><strong>:</strong>&nbsp;&nbsp;
                                <?php echo $this->rimBuscado->getDatosModeloMedidorEnc()->getMarca() ?></td></tr>
                            
                            <tr><td><strong>Modelo </strong></td><td><strong>:</strong>&nbsp;&nbsp;
                                <?php echo $this->rimBuscado->getDatosModeloMedidorEnc()->getModelo() ?></td></tr>
                            
                            <tr><td><strong>N° Serie </strong></td><td><strong>:</strong>&nbsp;&nbsp;
                                <?php echo $this->rimBuscado->getNu_se() ?></td></tr>
                            
                            <tr><td><strong>Año fabricación </strong></td><td><strong>:</strong>&nbsp;&nbsp;
                                <?php echo $this->rimBuscado->getAn_fa() ?></td></tr>
                            
                            <!--<tr><td><strong>Propiedad </strong></td><td><strong>:</strong>&nbsp;&nbsp;
                                <?php echo $this->rimBuscado->getDatosInstalacion()->getPropiedad_medidor()  ?></td></tr>-->
                            
                            <tr><td><strong>Lectura inicial </strong></td><td><strong>:</strong>&nbsp;&nbsp;
                                <?php echo $this->rimBuscado->getLec_ini() ?></td></tr>
                            
                            <tr><td><strong>Lectura final </strong></td><td><strong>:</strong>&nbsp;&nbsp;
                                <?php echo $this->rimBuscado->getLec_fin() ?></td></tr>
                            
                        </table>
       
       </td>
       <td style="width:50%;"  >         
    
                    <div style="margin-top:0px;"><strong>MEDIDOR DEJADO</strong></div>
                    
                    <hr style="margin:0px;">
                    
                    <table style="margin:0 auto;text-align:left;">
                    	
                        <tr><td><strong>Código</strong></td>
                        <td><strong>:</strong>&nbsp;&nbsp;
                            <?php if(empty($this->rimBuscado->getCo_me_ins())) echo '-'; else echo $this->rimBuscado->getCo_me_ins(); ?>
                        </td>
                        </tr>
                        
                        <tr><td><strong>Marca</strong></td>
                        <td><strong>:</strong>&nbsp;&nbsp;
                             <?php if(empty($this->rimBuscado->getDatosModeloMedidorDej()->getMarca())) echo '-'; else  echo $this->rimBuscado->getDatosModeloMedidorDej()->getMarca()  ?>
                        </td>
                        </tr>
                        
                        <tr><td><strong>Modelo</strong></td>
                       <td><strong>:</strong>&nbsp;&nbsp;
                              <?php if(empty($this->rimBuscado->getDatosModeloMedidorDej()->getModelo())) echo '-' ; else echo $this->rimBuscado->getDatosModeloMedidorDej()->getModelo()  ?>
                       </td>
                       </tr>
                        
                        <tr><td><strong>N° Serie</strong></td>
                        <td><strong>:</strong>&nbsp;&nbsp;
                              <?php if(empty($this->rimBuscado->getNu_se_ins())) echo '-' ; else echo $this->rimBuscado->getNu_se_ins() ?>
                        </td>
                        </tr>
                        
                        <tr><td><strong>Año fabricación</strong></td>
                        <td><strong>:</strong>&nbsp;&nbsp;
                               <?php if(empty($this->rimBuscado->getA_fa_ins())) echo '-' ; else echo $this->rimBuscado->getA_fa_ins() ?>
                        </td>
                        </tr>
                        
                        <tr><td><strong>Estado</strong></td>
                        	<td>
                        	    <strong>:</strong>&nbsp;&nbsp;
                        	    <?php
                                     
                                     if($this->rimBuscado->getEs_ins()==1) echo 'Definitivo';
                					 elseif($this->rimBuscado->getEs_ins()==2) echo 'Provisorio'; 
                                     elseif(empty($this->rimBuscado->getEs_ins())) echo '-'; 
                                     
                                     ?></td></tr>
                        
                        <tr><td><strong>Lectura inicial</strong></td><td>
                            <strong>:</strong>&nbsp;&nbsp;
                            <?php if(empty($this->rimBuscado->getLe_ini_ins())) echo '-'; else echo $this->rimBuscado->getLe_ini_ins(); ?></td></tr>
                
                   </table>
   
   </td>
   </tr>    
   </table>
   
</div>

<br>

<div style="margin:0 auto;margin-top:0px; width:100%;height:auto;border:0;font-size:11px;" >
	
    <table border="1" style="margin:0 auto;text-align:center;border:1px #000 solid;border-collapse:collapse;width:100%;">
        <tr>
            <td colspan="6" ><strong>RESULTADO DE LA INSPECCIÓN</strong></td>  
        </tr>    
        <tr>
            <td><strong>Tipo</strong></td>
            <td><strong>Ubicación</strong></td>
            <td><strong>Componente</strong></td>
            <td><strong>Detalle</strong></td>
            <td><strong>Origen</strong></td>
            <td><strong>Tratamiento</strong></td>
        </tr>
        <tr>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_0()->getTipo_anormalidad())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_0()->getUbicacion_anormalidad())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_0()->getComponente())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_0()->getDescripcion_anormalidad())) ?></td>
            <td><?php
                
                $ditailResult = explode('-', $this->rimBuscado-> getRes_ev_ins_0_detalle());

                if ($ditailResult[0] == 1)
                    echo "Falla interna";
                if ($ditailResult[0] == 2)
                    echo "Intervancion terceros";
                if ($ditailResult[0] == 3)
                    echo "Falta de mantenimiento";
                if ($ditailResult[0] == 4)
                    echo "No determinado";
                
                ?></td>
            <td><?php 
                
                if (!empty($ditailResult[1])){
                	
	                   if ($ditailResult[1] == 1)
	                         echo "Normalizado";
	                   if ($ditailResult[1] == 2)
	                         echo "No normalizado,";
				   
				   }
				
                     echo '<br>';

                if (!empty($ditailResult[2])){
                	       
	                    if ($ditailResult[2] == 1)
	                             echo "Cliente no autoriza";
	                    if ($ditailResult[2] == 2)
	                             echo "Condición insegura";
	                    if ($ditailResult[2] == 3)
	                             echo "Mant. Mayor";
	                    if ($ditailResult[2] == 4)
	                             echo "Colgado acometida";
					
				   }
				
                ?></td>
        </tr>
        <tr>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_1()->getTipo_anormalidad())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_1()->getUbicacion_anormalidad())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_1()->getComponente())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_1()->getDescripcion_anormalidad())) ?></td>
            <td>
            	<?php
                
                $ditailResult = explode('-', $this->rimBuscado-> getRes_ev_ins_1_detalle());

                if ($ditailResult[0] == 1)
                    echo "Falla interna";
                if ($ditailResult[0] == 2)
                    echo "Intervancion terceros";
                if ($ditailResult[0] == 3)
                    echo "Falta de mantenimiento";
                if ($ditailResult[0] == 4)
                    echo "No determinado";
                
                ?>
            </td>
            <td><?php 
                
                if (!empty($ditailResult[1])){
                	
	                   if ($ditailResult[1] == 1)
	                         echo "Normalizado";
	                   if ($ditailResult[1] == 2)
	                         echo "No normalizado,";
				   
				   }
				
                     echo '<br>';

                if (!empty($ditailResult[2])){
                	       
	                    if ($ditailResult[2] == 1)
	                             echo "Cliente no autoriza";
	                    if ($ditailResult[2] == 2)
	                             echo "Condición insegura";
	                    if ($ditailResult[2] == 3)
	                             echo "Mant. Mayor";
	                    if ($ditailResult[2] == 4)
	                             echo "Colgado acometida";
					
				   }
				
                ?></td>
        </tr>
        <tr>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_2()->getTipo_anormalidad())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_2()->getUbicacion_anormalidad())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_2()->getComponente())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_2()->getDescripcion_anormalidad())) ?></td>
            <td>
            	<?php
                
                $ditailResult = explode('-', $this->rimBuscado-> getRes_ev_ins_2_detalle());

                if ($ditailResult[0] == 1)
                            echo "Falla interna";
                if ($ditailResult[0] == 2)
                            echo "Intervancion terceros";
                if ($ditailResult[0] == 3)
                            echo "Falta de mantenimiento";
                if ($ditailResult[0] == 4)
                            echo "No determinado";
                
                ?>
            </td>
            <td><?php 
                
                if (!empty($ditailResult[1])){
                	
	                   if ($ditailResult[1] == 1)
	                               echo "Normalizado";
	                   if ($ditailResult[1] == 2)
	                               echo "No normalizado,";
				   
				   }
				
                     echo '<br>';

                if (!empty($ditailResult[2])){
                	       
	                    if ($ditailResult[2] == 1)
	                               echo "Cliente no autoriza";
	                    if ($ditailResult[2] == 2)
	                               echo "Condición insegura";
	                    if ($ditailResult[2] == 3)
	                               echo "Mant. Mayor";
	                    if ($ditailResult[2] == 4)
	                               echo "Colgado acometida";
					
				   }
				
                ?>
                </td>
        </tr>
        <tr>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_3()->getTipo_anormalidad())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_3()->getUbicacion_anormalidad())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_3()->getComponente())) ?></td>
            <td><?php echo ucfirst(strtolower($this->rimBuscado->getAnormalidadesMonofasico_3()->getDescripcion_anormalidad())) ?></td>
            <td>
            	<?php
                
                $ditailResult = explode('-', $this->rimBuscado-> getRes_ev_ins_3_detalle());

                if ($ditailResult[0] == 1)
                         echo "Falla interna";
                if ($ditailResult[0] == 2)
                        echo "Intervancion terceros";
                if ($ditailResult[0] == 3)
                        echo "Falta de mantenimiento";
                if ($ditailResult[0] == 4)
                        echo "No determinado";
                
                ?>
            </td>
            <td><?php 
                
                if (!empty($ditailResult[1])){
                	
	                   if ($ditailResult[1] == 1)
	                         echo "Normalizado";
	                   if ($ditailResult[1] == 2)
	                         echo "No normalizado,";
				   
				   }
				
                     echo '<br>';

                if (!empty($ditailResult[2])){
                	       
	                    if ($ditailResult[2] == 1)
	                             echo "Cliente no autoriza";
	                    if ($ditailResult[2] == 2)
	                             echo "Condición insegura";
	                    if ($ditailResult[2] == 3)
	                             echo "Mant. Mayor";
	                    if ($ditailResult[2] == 4)
	                             echo "Colgado acometida";
					
				   }
				
                ?>
                </td>
        </tr>
    </table>
</div>

<br>

<?php if(!empty($this->rimBuscado->getCo_fin())): ?>
    <?php echo $this->rimBuscado->getCo_fin() ?>
<?php else: ?>
    Sin Comentario
<?php endif; ?>

<div style="margin:0 auto;margin-top:20px;width:100%;height:auto;border:0;font-size:11px;" >
    <table style="margin:0 auto;width:100%;">
        <tr>
            <?php if(!empty($this->rimBuscado->getDatosPersonaTecnico1()->getRut_persona())): ?><td style="width:35%;" ><hr style="width:70%"></td><?php endif; ?>
            <?php if(!empty($this->rimBuscado->getDatosPersonaTecnico2()->getRut_persona())): ?><td style="width:35%;" ><hr style="width:70%"></td><?php endif; ?>
        </tr>    
        <tr>
            <?php if(!empty($this->rimBuscado->getDatosPersonaTecnico1()->getRut_persona())): ?><td>Ejecutó</td><?php endif; ?>
            <?php if(!empty($this->rimBuscado->getDatosPersonaTecnico2()->getRut_persona())): ?><td>Ejecutó</td><?php endif; ?>
        </tr>
        <tr>
            <?php if(!empty($this->rimBuscado->getDatosPersonaTecnico1()->getNombres())): ?>
                <td><strong><?php echo $this->rimBuscado->getDatosPersonaTecnico1()->getNombres() .' '. $this->rimBuscado->getDatosPersonaTecnico1()->getApellidos()  ?></strong></td>
            <?php endif; ?>
            
            <?php if(!empty($this->rimBuscado->getDatosPersonaTecnico2()->getNombres())): ?>
                <td><strong><?php echo $this->rimBuscado->getDatosPersonaTecnico2()->getNombres() .' '. $this->rimBuscado->getDatosPersonaTecnico2()->getApellidos() ?></strong></td>
           <?php endif; ?>
        </tr>
        <tr>
            <?php if(!empty($this->rimBuscado->getDatosPersonaTecnico1()->getRut_persona())): ?>
                <td><strong><?php echo $this->rimBuscado->getDatosPersonaTecnico1()->getRut_persona()  ?></strong></td>
            <?php endif; ?>
            
            <?php if(!empty($this->rimBuscado->getDatosPersonaTecnico2()->getRut_persona())): ?>
                <td><strong><?php echo $this->rimBuscado->getDatosPersonaTecnico2()->getRut_persona()  ?></strong></td>
            <?php endif; ?>    
        </tr>
    </table>
</div>

<div style="clear:both;margin:0 auto;margin-top:15px;width:100%;height:auto;border:0;font-size:12px;" >    
</div>

</div>
</body>
</html>