<script>

     $(document).ready(function(){ 

/*++++++++++++++++++++++++++++++++++++*/
    
    $('#fecha_entrega_dig').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });

    $('#fecha_entrega_fisica').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });

    });


  	function marcar(source) 
	{
		checkboxes=document.getElementsByTagName('input'); //obtenemos todos los controles del tipo Input
		for(i=0;i<checkboxes.length;i++) //recoremos todos los controles
		{
			if(checkboxes[i].type == "checkbox") //solo si es un checkbox entramos
			{
				checkboxes[i].checked=source.checked; //si es un checkbox le damos el valor del checkbox que lo llamó (Marcar/Desmarcar Todos)
			}
		}
	}

        
</script>

<style>
    
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 10px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse; 
     }
    
     table td{ border: 1px solid #DDDDDD; }
     
     table th{ border: 1px solid #DDDDDD; }
     
</style>

<div class="mio" >
    
  <p><a style="margin-left:5px" href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>
        
  <div class="row">

    <div class="span6">    
     <h3 style="margin-left:20%;" ><?php echo $this->escapeHtml($this->title); ?></h3>
    </div>

     <!--
     <div class="span6">
        <table style="width:60%;float:right;border: 1px solid #DDDDDD; border-collapse: collapse;font-size:12px;line-height: 20px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;color: #333333;"  >
           <tr>
             <td style="border: 1px solid #DDDDDD;text-align:center;background-color:#70d900;" > Pendientes <spam style="font-size:20px;" >18</spam> </td>
             <td style="border: 1px solid #DDDDDD;text-align:center;background-color:#f89406;" > Aceptados <spam style="font-size:20px;" >5</spam> </td>
             <td style="border: 1px solid #DDDDDD;text-align:center;background-color:#08c;" > Comprometidos <spam style="font-size:20px;" >50</spam> </td>
             <td style="border: 1px solid #DDDDDD;text-align:center;background-color:#e9322d; " > Finalizados <spam style="font-size:20px;" >15</spam> </td>
           </tr>
        </table>
     </div>
     -->

   </div>
 
   <hr>

  <div class="row">
      <div class="span4">     
   
    <?php
    $formBuscador = $this->formBuscadorAvisos;
    $formBuscador->setAttribute('action', $this->url('riat', array('controller' => 'index', 'action' => 'buscaraviso')));
    $formBuscador->prepare();
    echo $this->form()->openTag($formBuscador);
    ?>
    <table>
        <tr>
            <td>
                <?php $element = $formBuscador->get('numeroaviso') ?> 
                <?php echo $this->formInput($element) ?>
                &nbsp;
                <?php echo $this->formElement($formBuscador->get('send')) ?>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top;color:red;" >
                <?php echo $this->formElementErrors($element) ?>
            </td>
        </tr>
    </table>
    <?php echo $this->form()->closeTag() ?>
          
          
          
        <?php
           $formBuscadorInstalacion = $this->formBuscadorInstalacion;
           $formBuscadorInstalacion->setAttribute('action', $this->url('riat', array('controller' => 'index', 'action' => 'buscarNumInstalacion')));
           $formBuscadorInstalacion->prepare();
           echo $this->form()->openTag($formBuscadorInstalacion);
        ?>
        <table>
            <tr>
                <td>
                    <?php $element = $formBuscadorInstalacion->get('numeroinstalacion'); ?>
                    <?php echo $this->formInput($element) ?>
                    &nbsp;
                    <?php echo $this->formElement($formBuscadorInstalacion->get('send')) ?>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;color:red;" >
                     <?php echo $this->formElementErrors($element) ?>
                </td>
            </tr>
        </table>
        <?php echo $this->form()->closeTag() ?>
          
          
   
    <!-- Filtrar por Sucursal -->
    <?php
    $formSucursales = $this->formSucursales;
    $formSucursales->setAttribute('action', $this->url('riat', array('controller' => 'index', 'action' => 'buscasucursal')));
    $formSucursales->prepare();
    echo $this->form()->openTag($formSucursales);
    ?>
    <table>
        <tr>
            <td>
                <?php $element = $formSucursales->get('sucursal') ?>  
                <?php echo $this->formSelect($element) ?>
                    &nbsp;
                <?php echo $this->formElement($formSucursales->get('send')) ?>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top;color:red;" >
                <?php echo $this->formElementErrors($element) ?>
            </td>
        </tr>
    </table>
    <?php echo $this->form()->closeTag() ?> 
    
    
    <!-- Filtrar por Estado Riat -->
    <?php
    $formSucursales = $this->formSelectEstados;
    $formSucursales->setAttribute('action', $this->url('riat', array('controller' => 'index', 'action' => 'buscarestado')));
    $formSucursales->prepare();
    echo $this->form()->openTag($formSucursales);
    ?>
    <table>
        <tr>
            <td>
                <?php $element = $formSucursales->get('estado_ors_riat') ?>
                <?php echo $this->formSelect($element) ?>
                    &nbsp;
                <?php echo $this->formElement($formSucursales->get('send')) ?>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top;color:red;" >
                <?php echo $this->formElementErrors($element) ?>
            </td>
        </tr>
    </table>
    <?php echo $this->form()->closeTag() ?> 

 </div>
 <div class="span4">     


     
 </div>    
 <div class="span4"> 
     
    <?php
      $form = $this->formFinalizar;
      $form->setAttribute('action', $this->url('riat', array('controller' => 'index', 'action' => 'finalizarriat')));
      $form->prepare();
      echo $this->form()->openTag($form);
    ?>

        <div id="fecha_entrega_dig" class="input-append date" >
            <?php
                $element = $form->get('fecha_entrega_dig');
                echo $this->formInput($element); 
            ?>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
        <spam style="vertical-align:top;color:red;font-size:10px;" ><?php echo $this->formElementErrors($element); ?></spam> 

        <div id="fecha_entrega_fisica" class="input-append date"  style="vertical-align:top;color:red;"  >
            <?php
                $element = $form->get('fecha_entrega_fisica');
                echo $this->formInput($element); 
            ?>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
        <spam style="vertical-align:top;color:red;font-size:10px;" ><?php echo $this->formElementErrors($element); ?></spam>   
   
       <?php echo $this->formSubmit($form->get('send')) ?>
       
   
         
 </div>
 </div> 
   
   
    <div style="color:#003bb3;font:small ">
        <h4> 
            <u> Cantidad de Ordenes RIAT </u> : <?php echo $this->listaorsriat->count() ?>
        </h4>
    </div>
   
 
   <div style="margin-left:80%;margin-bottom:8px;" >
       <a class="btn btn-info" href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'index')); ?>">Listar Todos</a> 
       <a class="btn btn-primary" href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'crear')); ?>">Registrar Riat</a>
   </div>
        
    <table class="table table-hover table-bordered" >
        <thead>
            <tr>
                <th>#</th>
                <th style="width:25px" ><input style="margin-left:6px" type="checkbox" onclick="marcar(this);" /></th>
                <th>Estado</th>
                <th>N°Aviso</th>
                <th>Asignacion</th>
                <th>Comprometido</th>
                <th>Entrega_Dig</th>
                <th>Entrega_Fisica</th>
                <th>Digitador</th>
                <th>Digitar</th>
                <th>Riat</th>
                <th>Fotos</th>
                <th>Zip</th>
                <th>Cert</th>
                <th>Devo</th>
            </tr>
        </thead>
        <tbody>
        <?php 
        
        $y = 1;
        
        foreach ($this->listaorsriat as $orsriat): ?>
            
        <tr  class="<?php echo $orsriat->getEstado_ors()->getClase_color() ?>" >
            
            
            <td>
               
              Nº <?php echo $y++ ?>  
                
            </td>
                        
            <td>
                <spam style="margin-left:6px" >
                    <?php if($orsriat->getEstados_ors_id_estado_ors()===3): ?>
                        <input type="checkbox" name="comprometidos[]" value="<?php echo $orsriat->getId_ors_riat().'_'.$orsriat->getAvisos_id_aviso() ?>" >
                    <?php endif ?>
                </spam>
            </td>
    
            <td><?php echo ucwords(strtolower($orsriat->getEstado_ors()->getDescripcion_estado_ors())) ?></td>
            
            <td><?php echo $orsriat->getAviso()->getNumero_aviso() ?></td>
            
            <td><?php echo $this->formatDate($orsriat->getFecha_asignacion_riat(), 'd-m-Y') ?></td>
            
            <td><?php echo $this->formatDate($orsriat->getFecha_comprometido(), 'd-m-Y') ?></td>
            
            <td><?php echo $this->formatDate($orsriat->getFecha_entrega_dig(), 'd-m-Y') ?></td>
            
            <td><?php echo $this->formatDate($orsriat->getFecha_entrega_fisica(), 'd-m-Y') ?></td>
            
            <td>  
                <a href="mailto:<?php echo $orsriat->getDigitador_persona()->getEmail() ?>"><?php echo $orsriat->getDigitador_persona()->getEmail() ?></a>  
            </td>
            
            <td>
                <a style="margin-left:15px;" 
                   href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'editar', 'id' => $orsriat->getId_ors_riat())) ?>">
                
                   <?php 
                          if($orsriat->getFecha_asignacion_riat()===null)
                          {
                                    echo "Aceptar";
                                    
                              }else{
                                  
                                    echo "Digitar";
                                    
                          }
                     ?>      
                
                </a></td>
            
            <td style="color:#70d900;font-size:26px;padding-left:25px;" >
               
                <?php 
                
                 $directory = '/home/meditres/public_html/public/images/'. $orsriat->getInstalacion()->getNum_instalacion() .'/'. $orsriat->getAviso()->getNumero_aviso() .'/';
                 
                  if (file_exists($directory .'riat_'. $orsriat->getNum_form_riat() .'.pdf')){
                      
                   ?>
                   
                        <a  target="_blank" style="color:#70d900;" href="<?php echo $this->basePath() . '/images/' . $orsriat->getInstalacion()->getNum_instalacion() .'/'. $orsriat->getAviso()->getNumero_aviso() .'/riat_'. $orsriat->getNum_form_riat() . '.pdf'  ?>">
                        
                            <img src="/images/icopdf.png" alt="Formulario Riat Pdf">
                        
                        </a>
                                   
                  <?php } ?>
               
                
            </td> 
            
            <td style="color:#70d900;font-size:26px;padding-left:25px;" >
                
            <?php
            
              /* 
               * 
               * Si existen imagenes de trabajos en terreno 
               * 
               */
            
               if (file_exists( $directory .'img_riat_' . $orsriat->getAviso()->getNumero_aviso() . '_'  . $orsriat->getNum_form_riat() . '_0.jpg' )){
            
             ?> 
  
                <a  target="_blank" style="color:#70d900;" href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'fotos', 'id' => $orsriat->getAvisos_id_aviso() , 'r' => $orsriat->getId_ors_riat() )) ?>">
                
                  <img src="/images/icocamara.png">
                
                </a>
                
             <?php  } ?>
                
            </td>
            
            
            <td style="color:#70d900;font-size:26px;padding-left:25px;" >
                
            <?php
            
              /* 
               * 
               * Si existen imagenes de trabajos en terreno 
               * 
               */
            
               if (file_exists( $directory .'zip_'. $orsriat->getInstalacion()->getNum_instalacion() .'_'. $orsriat->getAviso()->getNumero_aviso() . '_'  . $orsriat->getNum_form_riat() . '.zip' )){
            
             ?> 
  
                <a  target="_blank" style="color:#70d900;" href="<?php echo $this->basePath() . '/images/' . $orsriat->getInstalacion()->getNum_instalacion() .'/'. $orsriat->getAviso()->getNumero_aviso() .'/zip_'. $orsriat->getInstalacion()->getNum_instalacion() .'_'. $orsriat->getAviso()->getNumero_aviso() . '_'  . $orsriat->getNum_form_riat() . '.zip'  ?>">
                        
                    <img src="/images/zip.png" alt="Archivo Zip" width="30"  >
                        
                </a>        
                
             <?php  } ?>
                
            </td>
            
            
            <td style="color:#70d900;font-size:26px;padding-left:25px;" >
               
                <?php 
              
                  if (file_exists($directory .'cert_'. $orsriat->getAviso()->getNumero_aviso() .'_'. $orsriat->getNum_form_riat() .'.pdf')){
                      
                   ?>

                    <a  target="_blank" style="color:#70d900;" href="<?php echo $this->basePath() . '/images/' . $orsriat->getInstalacion()->getNum_instalacion() .'/'. $orsriat->getAviso()->getNumero_aviso() .'/cert_'. $orsriat->getAviso()->getNumero_aviso() .'_'. $orsriat->getNum_form_riat() .'.pdf'  ?>">

                        <img src="/images/icopdf.png" alt="Certificado">

                    </a>

                  <?php } ?>
               
                
            </td>
            
            
            
            <td style="color:#70d900;font-size:26px;padding-left:25px;" >
               
                <?php 
              
                  if (file_exists($directory .'devo_'. $orsriat->getAviso()->getNumero_aviso() .'_'. $orsriat->getNum_form_riat() .'.pdf')){
                      
                   ?>

                    <a  target="_blank" style="color:#70d900;" href="<?php echo $this->basePath() . '/images/' . $orsriat->getInstalacion()->getNum_instalacion() .'/'. $orsriat->getAviso()->getNumero_aviso() .'/devo_'. $orsriat->getAviso()->getNumero_aviso() .'_'. $orsriat->getNum_form_riat() .'.pdf'  ?>">

                        <img src="/images/icopdf.png" alt="Formulario Devolucion">

                    </a>

                  <?php } ?>
               
                
            </td>
       
        </tr>

       <?php endforeach; ?>
        
        <?php echo $this->form()->closeTag() ?>
        
        
       </tbody>
    </table>

    <?php
        echo $this->paginationControl($this->paginator, 'Sliding', 'riat/pagination_control', array('route' => 'paginatorriat', 'controller' => 'index', 'action' => 'index'));
    ?>
 
</div>