<h3>Estimado :</h3>

<h3>CNR Detectado :</h3>

<p>Distribuidora : <?php echo $this->distribuidora ?></p>
<p>Num instalacion : <?php echo $this->num_instalacion ?></p>
<p>Numero aviso : <?php echo $this->numero_aviso ?></p>
<p>Numero riat : <?php echo $this->num_form_riat ?></p>
<p>Fecha atencion : <?php echo $this->fecha_atencion_servicio ?></p> 
<p>Obs : <?php echo $this->origen_afecta_comentario ?></p>

<br>
<br>

<h5>Por favor NO responder este correo.</h5>
<h5>Enviado el <?php echo $this->fecha ?></h5>
<h5>Saludos Operador S3</h5>