
<h3>Estimados :</h3>

<h3 style="color:#e9322d" ><u>Alerta CNR Detectado</u></h3>

<p>Distribuidora : <?php echo utf8_decode($this->distribuidora) ?></p>
<p>Num instalacion : <?php echo $this->num_instalacion ?></p>
<p>Numero aviso : <?php echo $this->numero_aviso ?></p>
<p>Numero riat : <?php echo $this->num_form_riat ?></p>
<p>Fecha atencion : <?php echo $this->fecha_atencion_servicio ?></p> 
<p>Obs : <?php echo utf8_decode($this->origen_afecta_comentario) ?></p>

<br>
<br>
<br>
<br>
   
<h5 style="color:#57a900" >Por favor NO responder este correo.</h5>
