<div class="mio">

<a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>

<h3>Cargador de Bitácoras</h3>

<hr>

<h4>Registros No Cargados</h4>
            
<table class="table table-striped table-hover table-bordered "  >
    <caption><h5>Registros ya existen en la base de datos</h5></caption>
    <thead>    
<tr style="background-color:#003bb3;color:#ffffff;" class="btn-primary" >
   <th>#</th> 
   <th>__FECHA__</th>
   <th>OFICINA</th>
   <th>PROYECTO</th>
   <th>ENCARGADO</th>
   <th>AYUDANTE</th>
   <th>INSTRUMENTO</th>
   <th>PATENTE</th>
   <th>KM SALIDA</th>
   <th>KM LLEGADA</th>
   <th>HORA SALIDA</th>
   <th>HORA LLEGADA</th>
</tr>
</thead>
<tbody>
 <?php 
   $i=0;
   foreach ($this->nocargados as $reg): ?>
     <tr>
        <td><?php echo ++$i ?></td> 
        <td><?php echo $reg->getGNR_FECHA() ?></td>
        <td><?php echo $reg->getGNR_OFICINA() ?></td>
        <td><?php echo $reg->getGNR_PROYECTO() ?></td>
        <td><?php echo $reg->getBGD_ENCARGADO() ?></td>
        <td><?php echo $reg->getBGD_AYUDANTE() ?></td>
        <td><?php echo $reg->getBGD_INSTRUMENTO() ?></td>
        <td><?php echo $reg->getMV_PATENTE() ?></td>
        <td><?php echo $reg->getMV_KM_SALIDA() ?></td>
        <td><?php echo $reg->getMV_KM_LLEGADA() ?></td>
        <td><?php echo $reg->getHRS_HORA_SALIDA() ?></td>
        <td><?php echo $reg->getHRS_HORA_LLEGADA() ?></td>
     </tr>
 <?php endforeach; ?>
</tbody>
</table>

</div>