
<style>
    
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 10px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse; 
       margin:auto; 
     }
    
     table td{ border: 1px solid #DDDDDD; }
     
     table th{ border: 1px solid #DDDDDD; }
     
</style>

<div class="mio">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 

    <p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>


<h3>Cargador de Bitácoras</h3>


       <hr>
    
       <?php
            $form = $this->FormCargador;
            $form->setAttribute('action', $this->url('avisos', array('controller' => 'bitacora', 'action' => 'cargar')));
            $form->prepare();
            echo $this->form()->openTag($form);
          ?>
       <table>
         <tr>
             <td><label>Seleccionar bitácora Excel : </label></td>
             <td><?php echo $this->formRow($form->get('file')); ?></td> 
         </tr> 
         <tr>
           <td>
           </td>    
           <td>
               <?php echo $this->formSubmit($form->get('send')) ?>
           </td>    
         </tr>    
       </table>
       
       <hr>  
       
       <?php echo $this->form()->closeTag() ?>
    
    
</div>    