<div class="mio">

<a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>

<h3>Reporte de Bitácoras</h3>

<hr>



<table class="table table-striped table-hover table-bordered table-condensed" style="width:100%" >
<thead>
<tr>
  <th colspan="2" class="btn-primary" >
       OFICINAS
  </th> 
  <th colspan="5" class="btn-primary" >
      Servicios efectivos : <?php echo $this->total_se ?>   
  </th>
  <th colspan="2" class="btn-warning" >
      CNR : <?php echo $this->total_cnr ?>   
  </th>
  <th colspan="1" class="btn-warning" >
      
  </th>
  <th colspan="1" class="btn-warning" >
      
  </th>
  <th colspan="4" class="btn-success" >
      Frustrados causa distribuidora : <?php echo $this->total_causa_distribuidora ?> 
  </th>
  <th colspan="4" class="btn-danger" >
      Frustrados causa tecnet : <?php echo $this->total_causa_tecnet ?>  
  </th>
  <th class="btn-primary" ></th>
</tr>      
<tr>
    <th class="btn-primary" >#</th> 
    <th class="btn-primary" >Oficinas</th>
    <th class="btn-primary" >Inspeccion visual</th>
    <th class="btn-primary" >Sin cambio</th>
    <th class="btn-primary" >Con cambio</th>
    <th class="btn-primary" >Cambio directo</th>
    <th class="btn-primary" >Lab Terceros</th>
    <th class="btn-warning" >Servicios con CNR </th>
    <th class="btn-warning" >Servicios con CNR Ordenes Autogen</th>
    <th class="btn-warning" >CNR Configurables</th>
    <th class="btn-warning" >CNR Normalizados</th>
    <th class="btn-success" >Empalme no existe</th>
    <th class="btn-success" >Sitio eriazo</th>
    <th class="btn-success" >Sin energia</th>
    <th class="btn-success" >Domicilio deshabitado</th>
    <th class="btn-danger" >Cliente no autoriza</th>
    <th class="btn-danger" >No existe responsable</th>
    <th class="btn-danger" >No ubicado</th>
    <th class="btn-danger" >Cerrado en 2da visita</th>
    <th class="btn-primary" >UBP</th>
</tr>
</thead>
<tbody>
 <?php 
   $i=0;
   foreach ($this->result_oficina as $reg): ?>
     <tr>
        <td style="text-align:center" ><?php echo ++$i ?></td> 
        <td><?php echo strtoupper($reg["oficina"]) ?></td>
        <td style="text-align:center" ><?php echo $reg["se_inspeccion_visual"] ?></td>
        <td style="text-align:center" ><?php echo $reg["se_vrf_sin_cambio"] ?></td>
        <td style="text-align:center" ><?php echo $reg["se_vrf_con_cambio"] ?></td>
        <td style="text-align:center" ><?php echo $reg["se_cambio_directo"] ?></td>
        <td style="text-align:center" ><?php echo $reg["osrv_lab_terceros"] ?></td>
        <td style="text-align:center" ><?php echo $reg["rslt_servicios_con_cnr"] ?></td>
        <td style="text-align:center" ><?php echo $reg["rslt_servicios_con_cnr_en_ordenes_autogen"] ?></td>
        <td style="text-align:center" ><?php echo $reg["rslt_cnr_configurable"] ?></td>
        <td style="text-align:center" ><?php echo $reg["nrm_cnr_normalizados"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_empalme_no_existe"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_sitio_eriazo"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_sin_energia"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_domicilio_deshabitado"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_cliente_no_autoriza"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_no_existe_responsable"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_no_ubicado"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_cerrado_en_2da_visita"] ?></td>
        <td style="text-align:center" ><?php echo round($reg["ubp"]) ?></td>
     </tr>
 <?php endforeach; ?>
</tbody>
</table>


<hr>

<table class="table table-striped table-hover table-bordered table-condensed" style="width:100%" >
<thead>   
 
<tr>
  <th colspan="3" class="btn-primary" >
       ENCARGADOS
  </th> 
  <th colspan="5" class="btn-primary" >
      Servicios efectivos : <?php echo $this->total_se ?>   
  </th>
  <th colspan="2" class="btn-warning" >
      CNR : <?php echo $this->total_cnr ?>   
  </th>
  <th colspan="1" class="btn-warning" >
      
  </th>
  <th colspan="1" class="btn-warning" >
      
  </th>
  <th colspan="4" class="btn-success" >
      Frustrados causa distribuidora : <?php echo $this->total_causa_distribuidora ?> 
  </th>
  <th colspan="4" class="btn-danger" >
      Frustrados causa tecnet : <?php echo $this->total_causa_tecnet ?>  
  </th>
  <th class="btn-primary" ></th>
</tr>  

<tr>
    <th class="btn-primary" >#</th> 
    
    <th class="btn-primary" >Oficinas</th>
    
    <th class="btn-primary" >Encargados</th>
    
    <th class="btn-primary" >Inspeccion visual</th>
    <th class="btn-primary" >Sin cambio</th>
    <th class="btn-primary" >Con cambio</th>
    <th class="btn-primary" >Cambio directo</th>
    <th class="btn-primary" >Lab Terceros</th>
    
    <th class="btn-warning" >Servicios con CNR </th>
    <th class="btn-warning" >Servicios con CNR Ordenes Autogen</th>
    <th class="btn-warning" >CNR Configurables</th>
    <th class="btn-warning" >CNR Normalizados</th>
    
    <th class="btn-success" >Empalme no existe</th>
    <th class="btn-success" >Sitio eriazo</th>
    <th class="btn-success" >Sin energia</th>
    <th class="btn-success" >Domicilio deshabitado</th>
    
    <th class="btn-danger" >Cliente no autoriza</th>
    <th class="btn-danger" >No existe responsable</th>
    <th class="btn-danger" >No ubicado</th>
    <th class="btn-danger" >Cerrado en 2da visita</th>
    
    <th class="btn-primary" >UBP</th>
</tr>
</thead>
<tbody>
 <?php 
   $i=0;
   foreach ($this->result_0 as $reg): ?>
     <tr>
         
        <td style="text-align:center" ><?php echo ++$i ?></td> 
        
        <td><?php echo strtoupper($reg["oficina"]) ?></td>
        
        <td><?php echo strtoupper($reg["encargado"]) ?></td>
        
        <td style="text-align:center" ><?php echo $reg["se_inspeccion_visual"] ?></td>
        <td style="text-align:center" ><?php echo $reg["se_vrf_sin_cambio"] ?></td>
        <td style="text-align:center" ><?php echo $reg["se_vrf_con_cambio"] ?></td>
        <td style="text-align:center" ><?php echo $reg["se_cambio_directo"] ?></td>
        <td style="text-align:center" ><?php echo $reg["osrv_lab_terceros"] ?></td>
        
        <td style="text-align:center" ><?php echo $reg["rslt_servicios_con_cnr"] ?></td>
        <td style="text-align:center" ><?php echo $reg["rslt_servicios_con_cnr_en_ordenes_autogen"] ?></td>
        <td style="text-align:center" ><?php echo $reg["rslt_cnr_configurable"] ?></td>
        <td style="text-align:center" ><?php echo $reg["nrm_cnr_normalizados"] ?></td>
        
        <td style="text-align:center" ><?php echo $reg["tvipd_empalme_no_existe"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_sitio_eriazo"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_sin_energia"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_domicilio_deshabitado"] ?></td>
        
        <td style="text-align:center" ><?php echo $reg["tvipd_cliente_no_autoriza"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_no_existe_responsable"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_no_ubicado"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_cerrado_en_2da_visita"] ?></td>
        <td style="text-align:center" ><?php echo round($reg["ubp"]) ?></td>
     </tr>
 <?php endforeach; ?>
</tbody>
</table>

<hr>

<table class="table table-striped table-hover table-bordered table-condensed" style="width:100%" >
<thead>   
<tr>
  <th colspan="3" class="btn-primary" >
      AYUDANTES
  </th> 
  <th colspan="5" class="btn-primary" >
      Servicios efectivos   
  </th>
  <th colspan="4" class="btn-warning" >
      CNR   
  </th>
  <th colspan="4" class="btn-success" >
      Frustrados causa distribuidora  
  </th>
  <th colspan="4" class="btn-danger" >
      Frustrados causa tecnet  
  </th>
  <th class="btn-primary" ></th>
</tr>    
<tr>
    <th class="btn-primary" >#</th> 
    
    <th class="btn-primary" >Oficinas</th>
    
    <th class="btn-primary" >Ayudantes</th>
    
    <th class="btn-primary" >Inspeccion visual</th>
    <th class="btn-primary" >Sin cambio</th>
    <th class="btn-primary" >Con cambio</th>
    <th class="btn-primary" >Cambio directo</th>
    <th class="btn-primary" >Lab Terceros</th>
    
    <th class="btn-warning" >Servicios con CNR </th>
    <th class="btn-warning" >Servicios con CNR Ordenes Autogen</th>
    <th class="btn-warning" >CNR Configurables</th>
    <th class="btn-warning" >CNR Normalizados</th>
    
    <th class="btn-success" >Empalme no existe</th>
    <th class="btn-success" >Sitio eriazo</th>
    <th class="btn-success" >Sin energia</th>
    <th class="btn-success" >Domicilio deshabitado</th>
    
    <th class="btn-danger" >Cliente no autoriza</th>
    <th class="btn-danger" >No existe responsable</th>
    <th class="btn-danger" >No ubicado</th>
    <th class="btn-danger" >Cerrado en 2da visita</th>
    
    <th class="btn-primary" >UBP</th>
    
</tr>
</thead>
<tbody>
 <?php 
   $i=0;
   foreach ($this->result_1 as $reg): ?>
     <tr>
        <td style="text-align:center" ><?php echo ++$i ?></td>
        
        <td><?php echo strtoupper($reg["oficina"]) ?></td>
        
        <td><?php echo strtoupper($reg["ayudante"]) ?></td>
        
        <td style="text-align:center" ><?php echo $reg["se_inspeccion_visual"] ?></td>
        <td style="text-align:center" ><?php echo $reg["se_vrf_sin_cambio"] ?></td>
        <td style="text-align:center" ><?php echo $reg["se_vrf_con_cambio"] ?></td>
        <td style="text-align:center" ><?php echo $reg["se_cambio_directo"] ?></td>
        <td style="text-align:center" ><?php echo $reg["osrv_lab_terceros"] ?></td>
        
        <td style="text-align:center" ><?php echo $reg["rslt_servicios_con_cnr"] ?></td>
        <td style="text-align:center" ><?php echo $reg["rslt_servicios_con_cnr_en_ordenes_autogen"] ?></td>
        <td style="text-align:center" ><?php echo $reg["rslt_cnr_configurable"] ?></td>
        <td style="text-align:center" ><?php echo $reg["nrm_cnr_normalizados"] ?></td>
        
        <td style="text-align:center" ><?php echo $reg["tvipd_empalme_no_existe"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_sitio_eriazo"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_sin_energia"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_domicilio_deshabitado"] ?></td>
        
        <td style="text-align:center" ><?php echo $reg["tvipd_cliente_no_autoriza"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_no_existe_responsable"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_no_ubicado"] ?></td>
        <td style="text-align:center" ><?php echo $reg["tvipd_cerrado_en_2da_visita"] ?></td>
        
        <td style="text-align:center" ><?php echo round($reg["ubp"]) ?></td>
        
     </tr>
 <?php endforeach; ?>
</tbody>
</table>


</div>