
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


<script>

    function funcionactivar(e) {
        $(e).parent().nextAll().css({
            color : "#333333",
            "font-weight" : "Normal"
        });
        $(e).parent().prevAll().css({
            color : "#333333",
            "font-weight" : "Normal"
        });
        $(e).parent().css({
            color : "#d14",
            "font-weight" : "Bold"
        });
    }
    
</script>


<style>
    
    .avisos {
      color: #333333;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 10px;
      line-height: 20px;
     }
     
</style>


<div class="mio" style="width:2500px;" >
    
    <p>
        <a style="margin-left:5px" href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>
    </p>

<div class="row">
        <div class="span4">
            <h3><?php echo $this->escapeHtml($this->title); ?></h3>
        </div>
        <!--<div class="span8">
            <table style="width:100%;float:right;border: 1px solid #DDDDDD; border-collapse: collapse;font-size:12px;line-height: 20px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;color: #333333;"  >
                <tr>
                    <td style="border: 1px solid #DDDDDD;text-align:center;" > Cargados : 189 </td>
                    <td style="border: 1px solid #DDDDDD;text-align:center;" > Asignados : 5 </td>
                    <td style="border: 1px solid #DDDDDD;text-align:center;" > Valorizados : 50 </td>
                    <td style="border: 1px solid #DDDDDD;text-align:center;" > Finalizados : 15 </td>
                </tr>
            </table>
        </div>-->
    </div>

    <hr>  

    <div class="row">
        <div class="span4">
            
<!--            Form Unico Busca Num Aviso-->
            <?php
                $formBuscador = $this->formBuscador;
                $formBuscador->setAttribute('action', $this->url('auditor', array('controller' => 'index', 'action' => 'buscar')));
                $formBuscador->prepare();
                echo $this->form()->openTag($formBuscador);
            ?>
            <table>
                <tr>
                    <td>
                        <?php  $element = $formBuscador->get('numeroaviso'); ?>
                        <?php echo $this->formInput($element) ?>
                            &nbsp;
                        <?php echo $this->formElement($formBuscador->get('send')) ?>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top;color:red;" >
                        <?php echo $this->formElementErrors($element) ?>
                    </td>
                </tr>
            </table>
            <?php echo $this->form()->closeTag() ?>


<!--            Form Buscado de NUmero de Instalacion-->
            <?php
                $formBuscadorInstalacion = $this->formBuscadorInstalacion;
                $formBuscadorInstalacion->setAttribute('action', $this->url('auditor', array('controller' => 'index', 'action' => 'buscarNumInstalacion')));
                $formBuscadorInstalacion->prepare();
                echo $this->form()->openTag($formBuscadorInstalacion);
            ?>
            <table>
                <tr>
                    <td>
                        <?php $element = $formBuscadorInstalacion->get('numeroinstalacion'); ?>
                        <?php echo $this->formInput($element) ?>
                        &nbsp;
                        <?php echo $this->formElement($formBuscadorInstalacion->get('send')) ?>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top;color:red;" >
                         <?php echo $this->formElementErrors($element) ?>
                    </td>
                </tr>
            </table>
            <?php echo $this->form()->closeTag() ?>
                        

        </div>    
        
                
        <div class="span6">

            <!-- Filtrar por Combinacion de Campos este form es dirigido hacia el form index-->
            <?php
            
              $formBusCom = $this->formBusCom;
              $formBusCom->setAttribute('action', $this->url('auditor', array('controller' => 'index', 'action' => 'index')));
              $formBusCom->prepare();
              echo $this->form()->openTag($formBusCom);
              
            ?>
            <table>
                <tr>
                    <td>
                        <?php $element1 = $formBusCom->get('poblacion') ?>
                        <?php echo $this->formSelect($element1) ?>
                    </td>
                    <td>
                        <?php $element2 = $formBusCom->get('sucursal') ?> 
                        <?php echo $this->formSelect($element2) ?>
                    </td>
                    <td>
                        <?php $element3 = $formBusCom->get('estado_aviso') ?>
                        <?php echo $this->formSelect($element3) ?>
                    </td>
                    <td><?php echo $this->formElement($formBusCom->get('send')) ?></td>
                </tr>
                <tr>
                    <td style="vertical-align:top;color:red;" >
                        <?php echo $this->formElementErrors($element1) ?>
                    </td>
                    <td style="vertical-align:top;color:red;" >
                        <?php echo $this->formElementErrors($element2) ?>
                    </td>
                    <td style="vertical-align:top;color:red;" >
                        <?php echo $this->formElementErrors($element3) ?>
                    </td>      
                </tr>
                <tr>
                  <td>
                     <?php $element4 = $formBusCom->get('persona_tecnico') ?>     
                     <?php echo $this->formSelect($element4) ?>
                  </td>
                  <td>
                     <?php $element5 = $formBusCom->get('estado_riat') ?>
                     <?php echo $this->formSelect($element5) ?>
                  </td>
                  <td>
                     <?php $element6 = $formBusCom->get('meses_anio') ?>
                     <?php echo $this->formSelect($element6) ?>
                  </td>
                  <td><?php echo $this->formElement($formBusCom->get('reset')) ?></td>
                </tr>
                <tr>
                    <td style="vertical-align:top;color:red;" >
                        <?php echo $this->formElementErrors($element4) ?>
                    </td>
                    <td style="vertical-align:top;color:red;" >
                        <?php echo $this->formElementErrors($element5) ?>
                    </td>
                    <td style="vertical-align:top;color:red;" >
                        <?php echo $this->formElementErrors($element6) ?>
                    </td>
                </tr>
                <tr>
                  <td>
                     <?php $element7 = $formBusCom->get('anio') ?>     
                     <?php echo $this->formSelect($element7) ?>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top;color:red;" >
                     <?php echo $this->formElementErrors($element7) ?>
                  </td>
                </tr>
                
            </table>
           
           <?php echo $this->form()->closeTag() ?>
           
        </div>
    </div>

  
    <div style="width:100%" > 
        <a class="btn btn-info" style="float:right;margin-right: 5px;margin-bottom: 5px;  " href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')); ?>">Listar Todos</a>  
    </div>

    <div style="color:#003bb3;font:small ">
        <h4> 
            <u> Cantidad de Avisos </u> : <?php echo $this->listaAvisos->count() ?>
        </h4>
    </div>
    
    
<!--    
    -->
    <table class="table table-condensed table-hover table-bordered avisos table-striped" id="checks" style="width:100%" >
        <thead>
            <tr style="background-color:#003bb3;color:#FFFFFF;" >
                <th>#</th>
                <th>N°Aviso</th>
                <th>Estado</th>
                <th>Servicios</th>    
                <th>Instalación</th>
                <th>Descripción</th>
                <th>Cliente</th>
                <th>Comuna</th>
                <th>TécnicoR</th>
                <th>Sucursal</th>
                <th>FCarga</th>
                <th>FAsignación</th>
                <th>Ejecucion</th>
                <th>FFinalización</th>
                <th>NumFormRiat</th>
                <th>ResultRiat</th>
                <th>PdfRiat</th>
                <th>Fotos</th>
                <th>Zip</th>
                <th>Cert</th>
                <th>Devo</th>
                <th>Todo</th>
            </tr>
        </thead>
        <tbody>
   
        <?php 
        
        $y = 1;
        foreach ($this->listaAvisos as $aviso): ?>
    
        <tr class="<?php echo $aviso->getEstado_aviso()->getClase_color() ?>" > 
            
            <td onclick="funcionactivar(this)" >
              Nº <?php echo $y ?>  
            </td>    
            <td  onclick="funcionactivar(this)" >
                
               <?php if(($aviso->getEstados_avisos_id_estado_aviso() >= 3 )): ?>  
                      <a style="margin-left:15px;" target="_blank" href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'editar', 'id' => $aviso->getId_aviso() , 'r' => 2  )) ?>">            
                      <?php echo $aviso->getNumero_aviso() ?>
                      </a>
                <?php else: ?>    
                      <?php echo $aviso->getNumero_aviso() ?>
                <?php endif ?>
                    
            </td>    
            
            <td  onclick="funcionactivar(this)" style="background-color:#003bb3;color:#FFFFFF;" ><?php echo $aviso->getEstado_aviso()->getNombreEstadoAviso() ?></td>
            
            <td onclick="funcionactivar(this)" >
 
               <img src="<?php echo $this->basePath() . '/images/servicios_auditoria_icono.png' ?>" id="opener<?php echo $y ?>" width="42" style="margin:auto;width:42px;" />   
                
               <div id="dialog<?php echo $y ?>" title="Detalle de Servicios en Aviso : <?php echo $aviso->getNumero_aviso() ?>">
               </div>
               
               <script>

                    $(function() {

                    $("#dialog<?php echo $y ?>").dialog({
                        autoOpen: false,
                        height:400,
                        width: 500,
                        show: {
                        effect: "blind",
                        duration: 1000
                        },
                        hide: {
                        effect: "explode",
                        duration: 1000
                        }
                      });

                      $("#opener<?php echo $y ?>").click(function(){
                      
                      /*Consulta por Id Aviso*/
                      var data = "id=" + <?php echo $aviso->getId_aviso() ?>;

                        $.ajax({
                            type: "GET",
                            url: "<?php echo $this->basePath('/avisos/valoriza/detalleserviciosprestados/'.$aviso->getId_aviso()) ?>",
                            data: data,
                            success: function(html) {
                                if (html != "") {

                                    $("#dialog<?php echo $y ?>").html(html);
                                    
                                    $("#dialog<?php echo $y ?>").dialog("open");

                                  }
                                }
                              });

                         });
                      });

                </script>

            </td>
            
            <td onclick="funcionactivar(this)" ><?php echo $aviso->getInstalacion()->getNum_instalacion() ?></td>
            
            <td onclick="funcionactivar(this)" style="width: 15%;"><?php echo ucfirst(strtolower($aviso->getDescripcion())) ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo ucwords(strtolower($aviso->getInstalacion()->getNombre_cliente())) ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo ucwords(strtolower($aviso->getInstalacion()->getNom_poblacion())) ?></td> 
            
            <td onclick="funcionactivar(this)" ><?php echo ucfirst(strtolower($aviso->getResponsable_persona()->getNombres())) .' '. ucfirst(strtolower($aviso->getResponsable_persona()->getApellidos())) ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $aviso->getSucursal()->getNombre_sucursal() ?></td>
           
            <td onclick="funcionactivar(this)" ><?php echo $this->formatDate($aviso->getFecha_carga(), 'd-m-Y') ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $this->formatDate($aviso->getFecha_asignacion(), 'd-m-Y') ?></td>
                        
            <td onclick="funcionactivar(this)"  style="background-color:#003bb3;color:#FFFFFF;" ><?php echo $this->formatDate($aviso->getOrs_riat()->getFecha_atencion_servicio(), 'd-m-Y') ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $this->formatDate($aviso->getFecha_finalizacion(), 'd-m-Y') ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $aviso->getOrs_riat()->getNum_form_riat() ?></td>
            
            <td onclick="funcionactivar(this)" style="background-color:#003bb3;color:#FFFFFF;width: 8%;" >
                <?php 
        
                     echo $aviso->getResultado_aviso_trifasico()->getResultado_trifasico_new();  
     
                ?>
            </td>
            

             <?php 
                
                $directory = '/home/meditres/public_html/public/images/'. $aviso->getInstalacion()->getNum_instalacion() .'/'. $aviso->getNumero_aviso() .'/';
                        
                if (file_exists($directory .'riat_'. $aviso->getOrs_riat()->getNum_form_riat() .'.pdf')){
                      
              ?>

                  <td onclick="funcionactivar(this)" >
                     <a  target="_blank" style="color:#70d900;" href="<?php echo $this->basePath() . '/images/' . $aviso->getInstalacion()->getNum_instalacion() .'/'. $aviso->getNumero_aviso() .'/riat_'. $aviso->getOrs_riat()->getNum_form_riat() . '.pdf'  ?>">
                       <img src="<?php echo $this->basePath() . '/images/icopdf.png' ?>" alt="Formulario Riat Pdf" /> 
                     </a>
                  </td> 
                                   
              <?php }else{ ?>
               
                <td onclick="funcionactivar(this)" >
                    &nbsp; 
                </td>
                 
              <?php } ?>
            
            
            <td onclick="funcionactivar(this)" >
                
            <?php
            
              /* 
               * Si existen imagenes de trabajos en terreno 
               */
            
               if (file_exists( $directory .'img_riat_' . $aviso->getNumero_aviso() . '_'  . $aviso->getOrs_riat()->getNum_form_riat() . '_0.jpg' )){
            
             ?> 
  
                <a  target="_blank" style="color:#70d900;" href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'fotos', 'id' => $aviso->getId_aviso() , 'r' => $aviso->getOrs_riat()->getId_ors_riat() )) ?>">                
                <img src="<?php echo $this->basePath() . '/images/icocamara.png' ?>" />                   
                </a>
                
             <?php } ?>
               
            </td> 
            
            
            
            <td onclick="funcionactivar(this)" >
                
            <?php
            
              /* 
               * Si existen imagenes de trabajos en terreno 
               */
            
               if (file_exists( $directory .'zip_'. $aviso->getInstalacion()->getNum_instalacion() .'_'. $aviso->getNumero_aviso() . '_'  . $aviso->getOrs_riat()->getNum_form_riat() . '.zip' )){
            
             ?> 
  
                <a  target="_blank" style="color:#70d900;" href="<?php echo $this->basePath() . '/images/' . $aviso->getInstalacion()->getNum_instalacion() .'/'. $aviso->getNumero_aviso() .'/zip_'. $aviso->getInstalacion()->getNum_instalacion() .'_'. $aviso->getNumero_aviso() . '_'  . $aviso->getOrs_riat()->getNum_form_riat() . '.zip'  ?>">
                        
                    <img src="/images/zip.png" alt="Archivo Zip" style="margin:auto;width:30px;"  >
                        
                </a>        
                
             <?php  } ?>
                
            </td>
            
            
           <td onclick="funcionactivar(this)" >
               
                <?php 
              
                  if (file_exists($directory .'cert_'. $aviso->getNumero_aviso() .'_'. $aviso->getOrs_riat()->getNum_form_riat() .'.pdf')){
                      
                   ?>

                    <a  target="_blank" style="color:#70d900;" href="<?php echo $this->basePath() . '/images/' . $aviso->getInstalacion()->getNum_instalacion() .'/'. $aviso->getNumero_aviso() .'/cert_'. $aviso->getNumero_aviso() .'_'. $aviso->getOrs_riat()->getNum_form_riat() .'.pdf'  ?>">

                        <img src="/images/icopdf.png" alt="Certificado">

                    </a>

                  <?php } ?>
               
                
            </td>
            
            
            
            <td onclick="funcionactivar(this)" >
               
                <?php 
              
                  if (file_exists($directory .'devo_'. $aviso->getNumero_aviso() .'_'. $aviso->getOrs_riat()->getNum_form_riat() .'.pdf')){
                      
                   ?>

                    <a  target="_blank" style="color:#70d900;" href="<?php echo $this->basePath() . '/images/' . $aviso->getInstalacion()->getNum_instalacion() .'/'. $aviso->getNumero_aviso() .'/devo_'. $aviso->getNumero_aviso() .'_'. $aviso->getOrs_riat()->getNum_form_riat() .'.pdf'  ?>">

                        <img src="/images/icopdf.png" alt="Formulario Devolucion">

                    </a>

                  <?php } ?>
               
                
            </td>
                        
            <td onclick="funcionactivar(this)" >
                
              <?php if(file_exists($directory)): ?>  
                
               <a style="margin-left:5px;" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'descargarzip', 'id' => $aviso->getInstalacion()->getNum_instalacion() , 'br' => $aviso->getNumero_aviso() )) ?>">
                   Zip      
               </a>
               
             <?php endif; ?>  
                
            </td>

       </tr>

       <?php $y++ ?>
       
       <?php endforeach; ?>
       
       </tbody>
    </table>

        <?php echo $this->form()->closeTag() ?>      

<?php
 echo $this->paginationControl($this->paginator, 'Sliding', 'auditor/pagination_control', array('route' => 'paginatorauditor', 'controller' => 'index', 'action' => $this->a , 'id' => $this->id ));
?>

</div>

<br/>