<?php
    header('Content-type: application/vnd.ms-excel');
    header("Content-Disposition: attachment; filename=informe_produccion_semanal.xls");
    header("Pragma: no-cache");
    header("Expires: 0");
?>
<style>
    
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 12px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse;
       margin:auto; 
     }
    
     table td{ border: 1px solid #DDDDDD; }
     
     table th{ border: 1px solid #DDDDDD; }
     
</style>
<body>
<table>
        <thead>
            <tr>
               <th>Numsolicitudtri</th>
               <th>Mesfacturacion</th>
               <th>Zonal</th>
               <th>Oficina</th>
               <th>Distribuidoras</th>
               <th>Estadosolicitud</th>
               <th>Fechaejecucion</th>
               <th>Aviso</th>
               <th>Numservicio</th>
               <th>Cliente</th>
               <th>Direccion</th>
               <th>Comuna</th>
               <th>Tarifa</th>
               <th>Tipoempalme</th>
               <th>Circuito</th>
               <th>Conexion</th>
               <th>Medida</th>
               <th>Numeroserie</th>
               <th>Marca</th>
               <th>Activadejada</th>
               <th>Numeroseriereac</th>
               <th>Marcareac</th>
               <th>Reactivadejada</th>
               <th>Comentarios</th>
               <th>Cambiomedidorresu</th>
               <th>Seriecambio</th>
               <th>Marcacambio</th>
               <th>Modelocambio</th>
               <th>Propiedadcambio</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ( $this->produccion_semanal as $fila ): ?>
            
                  <tr>
                    <td><?php echo utf8_decode($fila->getNumsolicitudtri()) ?></td>
                    <td><?php echo utf8_decode($fila->getMesfacturacion()) ?></td>
                    <td><?php echo utf8_decode($fila->getZonal()) ?></td>
                    <td><?php echo utf8_decode($fila->getOficina()) ?></td>
                    <td><?php echo utf8_decode($fila->getDistribuidoras()) ?></td>
                    <td><?php echo utf8_decode($fila->getEstadosolicitud()) ?></td>
                    <td><?php echo utf8_decode($fila->getFechaejecucion()) ?></td>
                    <td><?php echo utf8_decode($fila->getAviso()) ?></td>
                    <td><?php echo utf8_decode($fila->getNumservicio()) ?></td>
                    <td><?php echo utf8_decode($fila->getCliente()) ?></td>
                    <td><?php echo utf8_decode($fila->getDireccion()) ?></td>
                    <td><?php echo utf8_decode($fila->getComuna()) ?></td>
                    <td><?php echo utf8_decode($fila->getTarifa()) ?></td>
                    <td><?php echo utf8_decode($fila->getTipoempalme()) ?></td>
                    <td><?php echo utf8_decode($fila->getCircuito()) ?></td>
                    <td><?php echo utf8_decode($fila->getConexion()) ?></td>
                    <td><?php echo utf8_decode($fila->getMedida()) ?></td>
                    <td><?php echo utf8_decode($fila->getNumeroserie()) ?></td>
                    <td><?php echo utf8_decode($fila->getMarca()) ?></td>
                    <td><?php echo utf8_decode($fila->getActivadejada()) ?></td>
                    <td><?php echo utf8_decode($fila->getNumeroseriereac()) ?></td>
                    <td><?php echo utf8_decode($fila->getMarcareac()) ?></td>
                    <td><?php echo utf8_decode($fila->getReactivadejada()) ?></td>
                    <td><?php echo utf8_decode($fila->getComentarios()) ?></td>
                    <td><?php echo utf8_decode($fila->getCambiomedidorresu()) ?></td>
                    <td><?php echo utf8_decode($fila->getSeriecambio()) ?></td>
                    <td><?php echo utf8_decode($fila->getMarcacambio()) ?></td>
                    <td><?php echo utf8_decode($fila->getModelocambio()) ?></td>
                    <td><?php echo utf8_decode($fila->getPropiedadcambio()) ?></td>   
                  </tr> 
                    
        <?php endforeach; ?>
        </tbody>
</table>
</body>