<?php
header('Content-type: application/vnd.ms-excel');
header("Content-Disposition: attachment; filename=informe_asignacion.xls");
header("Pragma: no-cache");
header("Expires: 0");
?>
<style>
    
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 10px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse; 
       margin:auto; 
     }
    
     table td{ border: 1px solid #DDDDDD; }
     
     table th{ border: 1px solid #DDDDDD; }
     
</style>
<body>
<table>
    <caption><h4>Avisos Asignados</h4></caption>
        <thead>
            <tr>
                <th>Ck</th>
                <th>Pri</th>
                <th>Aviso</th>
                <th>Descripcion</th>
                <th>Instalacion</th>
                <th>Tarifa</th>
                <th>ULectura</th>
                <th>Cliente</th>
                <th>Direccion1</th>
                <th>Direccion2</th>
                <th>Comuna</th>
                <th>PPoste</th>
                <th>NSerie</th>
                <th>MMedidor</th>
                <th>PMedidor</th>
                <th>Constante</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ( $this->avisosAsignados as $aviso ): ?>
            
                  <tr>
                    <th>&nbsp;</th>  
                    <td><spam style="margin-left:5px" ><?php echo $aviso->getPrioridad() ?></spam></td>  
                    <td><?php echo (String) $aviso->getNumero_aviso() ?></td>
                    <td><?php echo ucwords(strtolower($aviso->getDescripcion())) ?></td>
                    <td><?php echo $aviso->getInstalacion()->getNum_instalacion() ?></td>
                    <td><?php echo $aviso->getInstalacion()->getTarifa() ?></td>
                    <td><?php echo $aviso->getInstalacion()->getUnidad_lectura() ?></td>
                    <td><?php echo ucwords(strtolower($aviso->getInstalacion()->getNombre_cliente())) ?></td>
                    <td><?php echo ucwords(strtolower($aviso->getInstalacion()->getDireccion1())) ?></td>
                    <td><?php echo ucwords(strtolower($aviso->getInstalacion()->getDireccion2())) ?></td>
                    <td><?php echo ucwords(strtolower($aviso->getInstalacion()->getNom_poblacion())) ?></td>        
                    <td><?php echo $aviso->getInstalacion()->getNumero_poste_camara() ?></td>
                    <td><?php echo $aviso->getInstalacion()->getNumero_serie() ?></td>
                    <td><?php echo $aviso->getInstalacion()->getMarca_medidor() ?></td>
                    <td><?php echo $aviso->getInstalacion()->getPropiedad_medidor() ?></td>
                    <td><?php echo $aviso->getInstalacion()->getConstante() ?></td>
                  </tr> 
                    
        <?php endforeach; ?>
        </tbody>
    </table>
</body>