<?php

    header('Content-type: application/vnd.ms-excel');
    header("Content-Disposition: attachment; filename=listado_modelos_medidores.xls");
    header("Pragma: no-cache");
    header("Expires: 0");
    
?>
<style>
    
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 12px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse;
       margin:auto; 
     }
    
     table td{ border: 1px solid #DDDDDD; }
     
     table th{ border: 1px solid #DDDDDD; }
     
</style>
<body>
<table BORDER=1 align="center" CELLPADDING=1 CELLSPACING=1 >
        <thead>
            <tr>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Cod Modelo&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Marca&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Modelo&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Voltaje&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Kp&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Kq&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Contante Interna&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Tecnologia&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Corriente Nominal&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Corriente Maxima&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Tipo Alimentacion&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Hilos&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Elementos&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Energia&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Demanda Max.&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Thr&nbsp;</span></th>
                <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Multifuncion&nbsp;</span></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ( $this->modelos_medidores as $fila ): ?>
  
                  <tr>
                      <td><?php echo utf8_decode($fila->getCodigo_modelo()) ?></td>
                      <td><?php echo utf8_decode($fila->getMarca()) ?></td>
                      <td><?php echo utf8_decode($fila->getModelo()) ?></td>
                      <td><?php echo utf8_decode($fila->getVoltaje()) ?></td>
                      <td><?php echo utf8_decode($fila->getKp()) ?></td>
                      <td><?php echo utf8_decode($fila->getKq()) ?></td>
                      <td><?php echo utf8_decode($fila->getContante_interna()) ?></td>
                      <td><?php echo utf8_decode($fila->getTecnologia()) ?></td>
                      <td><?php echo utf8_decode($fila->getCorriente_nominal()) ?></td>
                      <td><?php echo utf8_decode($fila->getCorriente_maxima()) ?></td>
                      <td><?php echo utf8_decode($fila->getTipo_alimentacion()) ?></td>
                      <td><?php echo utf8_decode($fila->getNumero_hilos()) ?></td>
                      <td><?php echo utf8_decode($fila->getNumero_elementos()) ?></td>
                      <td><?php echo utf8_decode($fila->getTipo_energia()) ?></td>
                      <td><?php echo utf8_decode($fila->getDemanda_max()) ?></td>
                      <td><?php echo utf8_decode($fila->getThr()) ?></td>
                      <td><?php echo utf8_decode($fila->getMultifuncion()) ?></td>
                  </tr> 
                    
        <?php endforeach; ?>
        </tbody>
</table>
</body>