<script>

    function reprocesarAviso(id,Num)
    {

            var r = confirm("Esta seguro que quiere reprocesar el Aviso Nº" + Num + "!");

            if (r == true) {

                var data = "id=" + id;

                $.ajax({
                    type: "POST",
                    url: "<?php echo $this->basePath('/avisos/cargar/reprocesar') ?>",
                    data: data,
                    success: function(result) {

                        if (result == 1) {
                            
                            $("#avisosCargados").append("<tr><td>"+$('#'+Num).children().html()+"&nbsp;</td><td>" + Num + "</td><td>"+$('#'+Num).children().next().next().html()+"&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>");

                            $('#'+Num).remove();

                            alert("el Aviso Nº "+ Num + " esta cargado para procesar nuevamente");


                        }

                    }
                });


            } else {

                alert("Adios");

            }

        }

</script>

<div class="hero-unit">

 <a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>


<h4>Gestor de Carga Masiva</h4>

<hr>


<?php if($this->Error): ?>

<br>
<br>
<br>

<h2 style="color:blue"> <?php echo $this->Error ?></h2>

<br>
<br>
<br>


<?php else: ?>

<h4>Cantidad Registros Leidos : <?php echo $this->cont ?></h4>

<?php endif ?>

<table class="table table-striped table-hover table-condensed"  >
    <caption><h5>Avisos ya existen en la bd estan cargado o ejecutados son repetidos</h5></caption>  
<tr>
   <th>SubOT</th>
   <th>Aviso</th>
   <th>Descripcion</th>
   <th>Fecha Carga</th>
   <th>Fecha Asignación</th>
   <th>Fecha Finalicación</th>
   <th>Reprocesar</th>
   <th>Repetido</th>
</tr>    
 <?php 
 
 foreach ($this->arrayobj_nocargados  as $reg): ?>
    <tr id="<?php echo $reg->getNumero_aviso() ?>" >
      <td><?php echo $reg->getSubot() ?></td>
      <td><?php echo $reg->getNumero_aviso() ?></td>
      <td><?php echo ucfirst(strtolower($reg->getDescripcion())) ?></td>
      <td><?php echo $this->formatDate($reg->getFecha_carga(), 'd-m-Y') ?></td>
      <td><?php echo $this->formatDate($reg->getFecha_asignacion(), 'd-m-Y') ?></td>
      <td><?php echo $this->formatDate($reg->getFecha_finalizacion(), 'd-m-Y') ?></td>
      <td>
      <?php if(!empty($reg->getFecha_finalizacion())): ?>
      
          <input class="btn btn-danger" value="reprocesar" name="reprocesar" type="button" onclick="reprocesarAviso(<?php echo $reg->getId_aviso().','.$reg->getNumero_aviso() ?>)" />
      
      <?php endif; ?>          
      </td>
      <td>
      	
      	<input class="btn btn-danger" value="repetido" name="repetido" type="button" onclick="" />
            	
      </td>
    </tr>
 <?php endforeach; ?>
</table>

<table id="avisosCargados" class="table table-striped table-hover table-condensed"  >
    <caption><h5>Avisos cargados para ejecutar</h5></caption> 
<tr>
   <th>SubOT</th>
   <th>Aviso</th>
   <th>Descripcion</th>
   <th>Fecha Carga</th>
   <th>Fecha Asignación</th>
   <th>Fecha Finalicación<t/>    
</tr>      
 <?php foreach ($this->arrayobj_cargados  as $reg): ?>
     <tr>
      <td><?php echo $reg->getSubot() ?></td>
      <td><?php echo $reg->getNumero_aviso() ?></td>
      <td><?php echo ucfirst(strtolower($reg->getDescripcion())) ?></td>
      <td><?php echo $this->formatDate($reg->getFecha_carga(), 'd-m-Y') ?></td>
      <td><?php echo $reg->getFecha_asignacion() ?></td>
      <td><?php echo $reg->getFecha_finalizacion() ?></td>
    </tr>
 <?php endforeach; ?>
</table>


<!--    <tr>
        <td><?php //echo $reg['Aviso'] ?></td>
        <td><?php //echo $reg['Instalación'] ?></td>
        <td><?php //echo $reg['Cuenta contrato'] ?></td>
        <td><?php //echo $reg['Descripción'] ?></td>
        <td><?php //echo $reg['Nombre'] ?></td>
        <td><?php //echo $reg['Calle'] ?></td>
        <td><?php //echo $reg['Calle 4'] ?></td>
        <td><?php //echo $reg['Población'] ?></td>
        <td><?php //echo $reg['Clase de Tarifa'] ?></td>
        <td><?php //echo $reg['Número de serie'] ?></td>
        <td><?php //echo $reg['Material'] ?></td>
        <td><?php //echo $reg['Marca del Medidor'] ?></td>
        <td><?php //echo $reg['Propiedad del Medidor'] ?></td>
        <td><?php //echo $reg['Texto breve de material'] ?></td>
        <td><?php //echo $reg['Unidad de lectura'] ?></td>
        <td><?php //echo $reg['Poste/Cámara'] ?></td>
        <td><?php //echo $reg['Constante del Medidor'] ?></td>
    </tr>-->

 
</div>