<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>

    $(document).ready(function(){ 
     
    $("#accordion" ).accordion({
        active: false,
             collapsible: true
         });

     });

     function cargarSelectDistribuidoras()
     {
         var data = "SucId=" + $("#sucursal").val();

         $.ajax({
             type: "POST",
             url: "<?php echo $this->basePath('/avisos/cargar/distribuidoras') ?>",
             data: data,
             success: function(html) {
                 $("#carga_distribuidoras_div").html(html);
             }
         });
     }


     function cargarSelectSolicitantes()
     {
         var data = "IdDis=" + $("#distribuidoras").val();

         $.ajax({
             type: "POST",
             url: "<?php echo $this->basePath('/avisos/cargar/solicitantes') ?>",
             data: data,
             success: function(html) {
                 $("#carga_solicitantes_div").html(html);
             }
         });
     }
    
</script>

<style>
    
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 10px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse; 
       margin:auto; 
     }
    
     table td{ border: 1px solid #DDDDDD; }
     
     table th{ border: 1px solid #DDDDDD; }
     
     .error li {
         color:#d14;
         font-size:14px;
         font-weight: bold;
       }
     
</style>

<div class="mio">

<?php
if ($this->flashMessenger()->hasMessages()) {
    echo '<div class="alert alert-dismissable alert-error">';
    echo '<h5>El formato de la planilla no es correcto por favor modificar e intentar nuevamente</h5>';
    echo '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>';
    $messages = $this->flashMessenger()->getMessages();
    $i = 0;
    echo "<ul>";
        foreach($messages as $message) {
           echo '<li>'. $message . '</li>';
        }
    echo "</ul>";
    echo '</div>';
  }
?>    

<p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 

<!--<h1>Este modulo esta en mantenci&#243;n no usar hasta nuevo aviso !</h1>    -->
    
<?php //exit; ?>

<h4>Formulario para Cargar Avisos por medio de una planilla excel</h4>


<div id="accordion">
    
    <h2 style="color:#DC143C" ><strong><u>Leer Indicaciones</u></strong></h2>
    
<div>
    
<div class="well">
    <strong style="font-size:34px;">1_</strong> <strong style="font-size:24px;">Importante </strong> <br><br>
    
    Para la correcta carga de avisos en el sistema tienen que ser indicados todos los datos solicitados a continuación. 
</div>

<div class="well">
    
    <strong style="font-size:34px;">2_</strong> <strong style="font-size:24px;">Campo ID de servicio : </strong> <br><br>
        
    Cada Aviso solicita un servicio en especial. estos servicios en el sistema <strong>S3</strong> tienen un ID que los identifica 
    
    <strong>( ID de servicio )</strong> este lo puedes obtener en el 
    
    modulo listado de servicios en la pantalla principal.
    
</div>

<div class="well">

<strong style="font-size:34px;">3_</strong> <strong style="font-size:24px;">Los campos que tiene que tener la planilla excel a cargar :</strong><br><br>

ID de servicio | 
Clase de aviso |
Sub. OT |
Aviso |
Fecha Creado SAP |
Fecha Asignado SAP |
Instalación |
Cuenta contrato |
Descripción |
Nombre |
Teléfono |
Calle |
Calle 4 |
Departamento |
Comuna |
Clase de Tarifa |
Número de serie |
Material |
Marca del Medidor |
Propiedad del Medidor |
Texto breve de material |
Unidad de lectura |
Porción |
Poste/Cámara |
Constante medidor |
Status usuario |
Ce. emplazam.
    
<br><br>

<a href="../Classes/Plantilla Avisos.xlsx" >Descargar Planilla Excel con las columnas solicitadas</a>

</div>


<div class="well">
    
    <strong style="font-size:34px;">4_</strong>  <strong style="font-size:24px;">Importante </strong><br><br>
    Que hacer si no tienes los siguientes datos : <br><br>

    <strong>Sin NºInstalación : </strong>     
    Si el campo Instalación esta vacio se completara con el numero de Aviso.
    esto se podra modificar en el modulo de digitación. esperando que en ese momento tengan el numero de instalación que corresponda.<br>
    
    <br>
    
    <strong>Sin NºAviso : </strong> Si el campo aviso esta vacio se completara con el numero de instalación el mismo programa agregara despues del caracter "_" un numero aleatorio.
    ( ejem. G102020_55655444 ) con esto podra continuar con el flujo hasta tener el numero de aviso que corresponda.<br>
    
    <br>
    
    <strong>Si faltan los dos NºInstalación y NºAviso  : </strong> Puedes ocupar el numero de serie del medidor asi logras identificar con un numero asociado el aviso
    podras modificar estos datos en la digitación. posterior.
        
    <br>
            
</div>    
    
    
</div>
</div>


       <hr>
    
       <?php
            $form = $this->FormCargador;
            $form->setAttribute('action', $this->url('avisos', array('controller' => 'cargar', 'action' => 'cargar')));
            $form->prepare();
            echo $this->form()->openTag($form);
          ?>
       <table>
         <tr>
            <td><label><strong>1_ Seleccionar sucursal : </strong></label></td> 
            <td class="error" ><?php echo $this->formRow($form->get('sucursal')); ?></td>
         </tr>          
         <tr> 
            <td><label><strong>2_ Seleccionar Distribuidora : </strong></label></td>
            <td class="error" ><div id="carga_distribuidoras_div" ><?php echo $this->formRow($form->get('distribuidoras')); ?></div></td>
         </tr> 
         <tr> 
             <td><label><strong>3_ Seleccionar Solicitantes : </strong></label></td>  
             <td class="error" ><div id="carga_solicitantes_div" ><?php echo $this->formRow($form->get('solicitantes')); ?></div></td>
         </tr>
         <tr>
             <td><label><strong>4_ Seleccionar planilla Excel : </strong></label></td>
             <td><?php echo $this->formRow($form->get('file')); ?></td> 
         </tr> 
         <tr>
           <td>
           </td>    
           <td>
               <?php echo $this->formSubmit($form->get('send')) ?>
           </td>    
         </tr>    
       </table>
       
       <hr>  
       
       <?php echo $this->form()->closeTag() ?>
    
    
</div>    