<div class="mio">

<p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>

<h3>Listado de Avisos que tienes que Facturar</h3>
    
       <hr>
       
       <?php echo $this->msj ?>
       
       <hr>  

</div>    