<script>
   
 $(document).ready(function(){ 

/*++++++++++++++++++++++++++++++++++++*/
    
    $('#fecha_buscar_1').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });
      
    $('#fecha_buscar_2').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });  
      
   });
      
</script>      
<div class="mio">

<p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>


<h3>Seleccionar pendientes de facturacion</h3>
    
       <hr>
    
       <?php
            $form = $this->formBuscadorFechas;
            $form->setAttribute('action', $this->url('avisos', array('controller' => 'facturacion', 'action' => 'facturar')));
            $form->prepare();
            echo $this->form()->openTag($form);
          ?>
       <table>
         <tr>
           <td><label>Fecha de ejecucion inicial :</label></td>
           <td>
             <div id="fecha_buscar_1" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_1')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
           </td> 
         </tr> 
         <tr>
          <tr>
             <td><label>Fecha de ejecucion final:</label></td>
             <td>
             <div id="fecha_buscar_2" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_2')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
           </td> 
         </tr> 
         <tr>   
           <td>
           </td>    
           <td>
               <?php echo $this->formSubmit($form->get('buscar')) ?>
           </td>    
         </tr>    
       </table>
       
       <?php echo $this->form()->closeTag() ?>
       
       <?php echo $this->msj ?>
       
       <hr>  
       
       

</div>    