        <h3 style="margin-left:10px" >Servicios Prestados</h3> 
        
        <table class="table table-condensed table-hover table-bordered table-striped" style="margin:auto;" >
        <thead>
            <tr> 
              <th>Servicios</th>
              <th style="width:15%" >Cant UF</th>
              <th style="width:15%" >Cantidad</th>
            </tr>
        </thead>
        <tbody>      
            <?php foreach ( $this->servicioscargados as $serviciocargado ) : ?>         
                 <tr>
                   <td><?php echo ucfirst(strtolower($serviciocargado->getServicio()->getNombre_servicio()))  ?></td>
                   <td style="padding-right:15px;text-align:right" ><?php echo $serviciocargado->getPrecio_uf() ?></td>
                   <td style="padding-left:15px;text-align:right" ><?php echo $serviciocargado->getCantidad() ?></td>
                 </tr>            
            <?php endforeach; ?>
        </tbody>
        </table>

        <h2>Total : <?php echo $this->totalFacturacionUf ?> UF </h2>
        