<script>
    
$(document).ready(function() {

        var valorfacturacion = 0;
        var valorcobro = 0;

        $("input[class=sumar]").live('click', function() {
            if ($(this).is(':checked')) {

                var idserv = $(this).val();
                var cant = $(this).parent().parent().closest('tr').find("input[type=text]").val();
                var serv = $(this).parent().parent().children().next().next().html();
                var valoruf = $(this).parent().parent().children().next().next().next().html();
                var idaviso = $("#id").val();
                var valorufactual = parseFloat($("#valoruf").text());

                if (valorufactual !== 0)
                    valorfacturacion = valorufactual;

                valorcobro = parseFloat(valoruf) * cant;
                valorfacturacion = valorfacturacion + valorcobro;


                $("#valoruf").text(String(valorfacturacion.toFixed(2)) + " UF");
                $("table #servicioprestados").append("<tr id='" + idserv + "'><td><input id='unosur' style='margin-left:15px' type='checkbox' class='restar' value='" + idserv + "' ></td><td>"+ idserv +"</td><td>" + serv + "</td><td style='padding-right:15px;text-align:right' >" + valoruf + "</td><td style='padding-left:15px' ><input style='margin-left:5px;width:25px' type='text'  maxlength='4' disabled  value='" + cant + "' ></td></tr>");


                /*Datos que se envian al insert*/
                var data = "idserv=" + idserv + "&cant=" + cant + "&valoruf=" + valoruf + "&idaviso=" + idaviso;

                $.ajax({
                    type: "POST",
                    url: "<?php echo $this->basePath('/avisos/valoriza/insert') ?>",
                    data: data,
                    success: function(html) {

                        if (html == "OK") {
                            $("#" + idserv).remove();
                        } else {
                            alert(html);
                        }
                    }
                });

            }
        });


        /*
         * Restar 
         */
        $("input[class=restar]").live('click', function() {
            if ($(this).is(':checked')) {

                var idserv = $(this).val();
                var cant = $(this).parent().parent().closest('tr').find("input[type=text]").val();
                var serv = $(this).parent().parent().children().next().html();
                var valoruf = $(this).parent().parent().children().next().next().next().html();
                var idaviso = $("#id").val();
                var valorufactual = parseFloat($("#valoruf").text());

                /*Total Resta*/
                if (valorufactual !== 0)
                    valorfacturacion = valorufactual;

                valorcobro = parseFloat(valoruf) * cant;
                valorfacturacion = valorfacturacion - parseFloat(valorcobro);

                $("#valoruf").text(String(valorfacturacion.toFixed(2)) + " UF");
                /*Fin*/


                /*Datos que se envian al delete*/
                var data = "idserv=" + idserv + "&cant=" + cant + "&valoruf=" + valoruf + "&idaviso=" + idaviso;


                $.ajax({
                    type: "POST",
                    url: "<?php echo $this->basePath('/avisos/valoriza/delete') ?>",
                    data: data,
                    success: function(html) {

                        if (html === "OK") {

                            $("#" + idserv).remove();
                            /*Reiniciar el sitio*/
                            window.location.href = "<?php echo $this->basePath('/avisos/valoriza/') ?>" + idaviso;

                        } else {
                            alert(html);
                        }
                    }
                });




            }
        });

        /*
         * 
         * 
         */
         
         
      $('#fecha_ejecucion').datetimepicker({
      
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
        
       });    


        //if(navigator.onLine){
        //alert('Online');
        //} else {
        //alert('Offline')
        //}


  });
  
  
        function eliminarimg(){
      
          alert('Eliminar Imagen del Formulario');
          
          document.FormCargaArchivos.action= "/avisos/valoriza/eliminarImgForm";
          document.FormCargaArchivos.method= 'POST';
          document.FormCargaArchivos.submit();
        
        }
        
</script>


<div class="mio">

<p>
  <a href="<?php  echo $this->url('avisos', array('controller' => 'index', 'action' => 'index'));  ?>">&DoubleLeftArrow; volver</a>  
</p>

<?php

if(!empty($this->mensaje)){
    echo $this->mensaje;
    exit;
}

//echo $this->tienefoto;
//echo '<br>';
//echo $this->basePath() . $this->url_imagen;
//echo '<br>';
//echo $this->tienefotosterreno;
//echo '<br>';
//echo $this->url_imagen_terreno;

?>


<div class="row">
<div class="span6">

    <div class="well" >   
    <div class="row">
        <div class="span4">
            <?php
                $formBuscador = $this->formBuscadorAviso;
                $formBuscador->setAttribute('action', $this->url('avisos', array('controller' => 'valoriza', 'action' => 'index' , 'id' => '0')));
                $formBuscador->prepare();
                echo $this->form()->openTag($formBuscador);
            ?>
            <table>
                <tr>
                    <td>
                        <?php  $element = $formBuscador->get('numeroaviso'); ?>
                        <?php echo $this->formInput($element) ?>
                            &nbsp;
                        <?php echo $this->formElement($formBuscador->get('send')) ?>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top;color:red;" >
                        <?php echo $this->formElementErrors($element) ?>
                    </td>
                </tr>
            </table>
            <?php echo $this->form()->closeTag() ?>
        </div>
    </div>

        <h4>
        Valorizar Aviso :     
        <?php if( $this->estado_aviso === 3 ): ?>
           <a href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'editar', 'id' => $this->aviso , 'r' => 1 )) ?>">
               <?php echo $this->aviso ?>
           </a>
        <?php else:?>
           <?php echo $this->aviso ?>
        <?php endif ?>
        </h4>
        <h4><?php echo $this->escapeHtml($this->descrip); ?></h4>
        <h4>Instalación : <?php echo $this->escapeHtml($this->instala); ?></h4>
        <h4><?php echo $this->escapeHtml($this->tec); ?></h4>
        <h4>Fecha Valorización : <?php echo $this->formatDate($this->fechavalorizacion,'d-m-Y') ?></h4>
        
        <h4>Fecha Ejecucion : <?php echo $this->formatDate($this->fecha_ejecucion,'d-m-Y') ?></h4>
        <h4>Mes Facturacion : <?php 
        
        switch ($this->mes_facturacion) {
            case 1:
                echo "Enero";
                break;
            case 2:
                echo "Febrero";
                break;
            case 3:
                echo "Marzo";
                break;
            case 4:
                echo "Abril";
                break;
            case 5:
                echo "Mayo";
                break;
            case 6:
                echo "Junio";
                break;
            case 7:
                echo "Julio";
                break;
            case 8:
                echo "Agosto";
                break;
            case 9:
                echo "Septiembre";
                break;
            case 10:
                echo "Octubre";
                break;
            case 11:
                echo "Noviembre";
                break;
            case 12:
                echo "Diciembre";
                break;
             }
             
             
        ?>
        </h4>
        <h4>Numero Formulario : <?php echo $this->numero_documento ?></h4>

    </div>    
        
</div>
<div class="span6">
    
    <!-- <div class="well" >
        
            <h5>Cargar datos y archivos del trabajo realizado</h5>
            <form action="/avisos/valoriza/cargarArchivos" method="POST" name="FormCargaArchivos" enctype="multipart/form-data" >
            <table class="table" >
                <tr>  
                    <td class="form_element" >
                       <label>Numero del Formulario :
                           <input type="text" value="<?php echo $this->numero_documento ?>" name="num_form_riat" id="num_form_riat" required="true" />
                       <input type="hidden" value="<?php echo $this->id ?>" name="id_aviso" id="id_aviso" />
                       <input type="hidden" value="<?php echo $this->escapeHtml($this->instala) ?>" name="num_instalacion" id="num_instalacion" />
                       <input type="hidden" value="<?php echo $this->escapeHtml($this->aviso) ?>" name="numero_aviso" id="numero_aviso" />
                       </label>
                    </td> 
                </tr>
                <tr>  
                <td class="form_element" >
                   <label>Mes Facturacion :
                   <select type="select" name="mes_facturacion" required="true" >
                       <option value="" <?php if($this->mes_facturacion=="") echo 'selected' ?> >..::Seleccionar::..</option>
                      <option value="1" <?php if($this->mes_facturacion=='1') echo 'selected' ?> >ENERO</option>
                      <option value="2" <?php if($this->mes_facturacion=='2') echo 'selected' ?> >FEBRERO</option>
                      <option value="3" <?php if($this->mes_facturacion=='3') echo 'selected' ?> >MARZO</option>
                      <option value="4" <?php if($this->mes_facturacion=='4') echo 'selected' ?> >ABRIL</option>
                      <option value="5" <?php if($this->mes_facturacion=='5') echo 'selected' ?> >MAYO</option>
                      <option value="6" <?php if($this->mes_facturacion=='6') echo 'selected' ?> >JUNIO</option>
                      <option value="7" <?php if($this->mes_facturacion=='7') echo 'selected' ?> >JULIO</option>
                      <option value="8" <?php if($this->mes_facturacion=='8') echo 'selected' ?> >AGOSTO</option>
                      <option value="9" <?php if($this->mes_facturacion=='9') echo 'selected' ?> >SEPTIEMBRE</option>
                      <option value="10" <?php if($this->mes_facturacion=='10') echo 'selected' ?> >OCTUBRE</option>
                      <option value="11" <?php if($this->mes_facturacion=='11') echo 'selected' ?> >NOVIEMBRE</option>
                      <option value="12" <?php if($this->mes_facturacion=='12') echo 'selected' ?> >DICIEMBRE</option>
                   </select>
                   </label>
                </td> 
                </tr>
                <tr>  
                    <td class="form_element" >
                        
                       <label>Fecha Ejecucion : </label>
                        
                           <div id="fecha_ejecucion" class="input-append date">
                               <input type="text" name="fecha_ejecucion" value="<?php echo $this->formatDate($this->fecha_ejecucion,'d-m-Y') ?>" required="true" >
                               <span class="add-on">
                                   <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i>
                               </span>
                           </div>
                       
                    </td> 
                </tr>
                <tr>  
                    <td class="form_element" >
                       <label>Imagen del Formulario (Formato PDF. peso menor a 1MB):</label>
                       <input type="file" name="img_form_riat" accept="application/pdf" value="">
                    </td>
                    <td>
                        
                      <?php if($this->tienefoto==1): ?>
                        
                         <a  target="_blank" style="color:#70d900;" href="<?php echo $this->basePath() . $this->url_imagen ?>">
                           <img src="<?php echo $this->basePath() . '/images/icopdf.png' ?>" alt="Formulario" /> 
                         </a>
                         <input type="hidden" value="<?php echo $this->url_imagen ?>" name="url" />
                         <input type="button" name="eliminar" value="eliminar" class="btn btn-info btn-mini" onclick="eliminarimg()" /> 
                      
                      <?php else: ?>
                      
                        <spam style="color:#bd362f" >No tiene Imagen Adjunta.</spam>
                         
                      <?php endif ?>
                    </td>
                </tr>
                <!--<tr>
                    <td class="form_element" >
                        <label>Fotos de la Auditoria Max. (20Unid.) (Formato JPGE. peso menor a 1MB):  </label>
                        <input type="file" name="img_riat[]" multiple="multiple" accept="image/*" value="">                  
                    </td>
                </tr>
                <tr>  
                    <td class="form_element" >
                        <label>Archivo Zip con grupo de archivos de evidencia (Formato zip. peso menor a 5MB):  </label>
                        <input type="file" name="archivozip" accept=".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed" value="">                  
                    </td> 
                </tr>-->
          <!--  </table>
                <input type="submit" name="enviar_archivos" value="Enviar Datos y Archivo" class="btn btn-info" />  
            </form> 
            
        </div>  -->
        
       <table style="margin-top:150px;margin-left: 150px;">
        <tr>
        <td>    
        <h3>Total a Facturar</h3>
        <h1 id="valoruf" >
           <?php echo $this->totalFacturacionUf ?> UF
           <?php if( $this->estado_aviso === 3 ): ?>
           <img src="<?php echo $this->basePath() . '/images/tick.png' ?>" height="64" width="64" />  
           <?php endif ?>     
        </h1>
<br><br>
          <?php if($this->estado_aviso!=5): ?>     
          <a  class="btn btn-danger"  href="<?php echo $this->url('avisos', array('controller' => 'valoriza', 'action' => 'valorizar' , 'id' => $this->id )) ?>">Confirmar Valorización</a>
          <?php else: ?>
          <a  class="btn"  href="#">Valorización Confirmada</a>
          <?php endif ?> 
        </td>
        </tr>
        </table>
        
    
</div>    
</div>    

<hr>

<div class="row">
    <div class="span6">
    <?php
        $formBuscador = $this->formBuscador;
        $formBuscador->setAttribute('action', $this->url('avisos', array('controller' => 'valoriza', 'action' => 'filtrarservicios')));
        $formBuscador->prepare();       
        $formLabel = $this->plugin('formLabel');
        echo $this->form()->openTag($formBuscador);
    ?>
    <table>
        <tr>
            <td>
               <?php 
                  $element = $formBuscador->get('nombreservicio');
                  echo $formLabel->openTag() . $element->getOption('label') . $formLabel->closeTag();
                ?>        
            </td>
            <td>
               <?php echo $this->formInput($element) ?>
                &nbsp;
               <?php echo $this->formElement($formBuscador->get('send')) ?>
            </td>
        </tr>
        <tr>
          <td> 
              <input type="hidden" value="<?php echo $this->id ?>" name="id" id="id" />
          </td>
          <td style="vertical-align:top;color:red;" >
                <?php echo $this->formElementErrors($element)  ?>
          </td>
        </tr>
     </table>   
     <a style="margin-left:5px" class="btn btn-info btn-mini" href="<?php echo $this->url('avisos', array('controller' => 'valoriza', 'action' => 'index' , 'id' => $this->id  )) ?>">Listar Todos Los Servicios</a>
     <?php echo $this->form()->closeTag() ?>  
    </div>
    <div class="span6">
      

          
   </div>
</div>
     
     
<div class="row">
<div class="span6">

<h3>Listado de Servicios</h3>


   <table class="table table-condensed table-hover table-bordered table-striped"  >
        <thead>
            <tr>   
             
              <th>Sumar</th>  
              <th>Cod.</th>
              <th>Servicios</th>
              <th>Valor UF</th>
              <th>Cantidad</th>

            </tr>
        </thead>
        <tbody>  
            
        <?php foreach ($this->listadeservicios as $servicio ): ?>
            
                <tr id="<?php echo $servicio->getId_servicio() ?>" >
                   
                    <td>  
                      <?php if($this->estado_aviso!=5): ?>   
                         <input style="margin-left:15px" type="checkbox" class="sumar" value="<?php echo $servicio->getId_servicio() ?>" >  
                      <?php endif ?>  
                    </td>
                    
                    <td style="padding-right:15px;text-align:right" ><?php echo $servicio->getId_servicio() ?></td>
                    
                    <td><?php echo ucfirst(strtolower($servicio->getNombre_servicio())) ?></td>
                    <td style="padding-right:15px;text-align:right" ><?php echo $servicio->getListadeprecios()->getPrecio_uf() ?></td>
                    <td style="padding-left:15px" ><input style="margin-left:5px;width:25px" type="text" name="cantidad_servicio[]"  maxlength="4"  value="1" ></td>
                </tr>
                
        <?php endforeach; ?>
                
        </tbody>
    </table>

<?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'avisos/pagination_control', array('route' => 'paginatoravisos', 'controller' => 'valoriza', 'action' => 'index' , 'id' => $this->id )); ?>


</div>
    <div class="span6">
        
        <h3 style="margin-left:80px" >Servicios Prestados</h3> 
        
        <table class="table table-condensed table-hover table-bordered table-striped" style="margin-left:80px" >
        <thead>
            <tr> 
              <th style="width:10%" >Restar</th>
              
              <th>Cod.</th>
              
              <th>Servicios</th>
              <th style="width:15%" >Cant UF</th>
              <th style="width:15%" >Cantidad</th>
            </tr>
        </thead>
        <tbody id="servicioprestados">
            
            <?php foreach ( $this->servicioscargados as $serviciocargado ) : ?>
            
                 <tr id="<?php echo $serviciocargado->getServicios_id_servicio() ?>" >
                     
                   <td>
                     <?php if($this->estado_aviso!=5): ?>       
                         <input style="margin-left:15px" type="checkbox" class="restar" value="<?php echo $serviciocargado->getServicios_id_servicio() ?>" >
                     <?php endif ?>
                   </td>
                   
                   <td style="padding-right:15px;text-align:right" ><?php echo $serviciocargado->getServicios_id_servicio() ?></td>
                   
                   <td><?php echo ucfirst(strtolower($serviciocargado->getServicio()->getNombre_servicio()))  ?></td>
                   <td style="padding-right:15px;text-align:right" ><?php echo $serviciocargado->getPrecio_uf() ?></td>
                   <td style="padding-left:15px" ><input style="margin-left:5px;width:25px" type="text" name="cantidad_servicio[]"  maxlength="4" disabled  value="<?php echo $serviciocargado->getCantidad() ?>" ></td>
                 
                 </tr>
                 
            <?php endforeach; ?>

        </tbody>
        </table>
        
    </div>
</div>
     

</div>        