<br>
<footer>
    <center>
    <img style="margin:auto;"  src="<?php echo $this->basePath() . '/images/image001.jpg' ?>" height="100" width="220" />
    
    <br>
    <br>
    
    <a href="http://medicions3.com/soporte/"  target="top"><strong>Soporte S3 -Ticket</strong></a>
    
    </center>
</footer>