<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav"> 
                    <?php if ($this->layout()->usuario !== null): ?>
                        <li class="active">
                            <a href="<?php echo $this->url('home') ?>" > 
                                Usuario : <?php echo ucwords(strtolower($this->layout()->usuario->nombres)) ?> <?php echo ucwords(strtolower($this->layout()->usuario->apellidos)) ?>
                            </a>    
                        </li>
                        <li class="active">
                            <a href="<?php echo $this->url('home') ?>" > 
                                Perfil : <?php echo ucwords(strtolower($this->layout()->usuario->rol)) ?>
                            </a>    
                        </li>
                        
                        <li class="active">
                            <a href="<?php echo $this->url('home') ?>" > 
                                Sucursal : <?php echo ucwords(strtolower($this->layout()->usuario->nombre_sucursal)) ?>
                            </a>    
                        </li>
                        
                        <li class="" style="float:right" >
                            <a href="<?php echo $this->url('admin/default', array('controller' => 'login', 'action' => 'logout')) ?>">
                                Cerrar sesi&oacute;n
                            </a>
                        </li>
                        <li class="" style="float:right" >
                            <a href="<?php echo $this->url('admin/default', array('controller' => 'login', 'action' => 'b55c711b1be9bc03d671c41b1a2306d1')) ?>">Cambiar contraseña</a>
                        </li> 
                        
                        <li class="" style="float:right" >
                            <a href="http://medicions3.com/soporte/" target="top" >Soporte S3</a>
                        </li>
                        
                        <li class="" style="float:right" >
                            <a href="http://medicions3.com/wp/" target="top" >Manuales</a>
                        </li>
                        
                    <?php endif; ?>
                </ul>   
            </div>
        </div>
    </div>
</div>


<!--    
<li class="active"><a href="<?php //echo $this->url('home');  ?>"><?php //echo $this->translate('Iniciar Sesión')  ?></a></li>
<li class="active"><a href="<?php //echo $this->url('usuarios', array('controller' => 'index', 'action' => 'listar'));  ?>"><?php //echo $this->translate('Usuarios')  ?></a></li>
<li class="active"><a href="<?php //echo $this->url('avisos', array('controller' => 'index', 'action' => 'index'));  ?>"><?php //echo $this->translate('Bandeja Entrada')  ?></a></li>
<li class="active"><a href="<?php //echo $this->url('contacto/default', array('controller' => 'index', 'action' => 'index'));  ?>"><?php //echo $this->translate('Contacto')  ?></a></li>
-->
