<?php echo $this->doctype();?>

<html lang="en">
    <head>   
        <meta charset="utf-8">
        
<!--        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
        
        <?php echo $this->headTitle()->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

<!--        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">-->
                
        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-datetimepicker.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') 
                                                                                            ?>   
        
        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                                     ->prependFile($this->basePath() . '/js/bootstrap-datetimepicker-ES.js' )
                                                     ->prependFile($this->basePath() . '/js/bootstrap-datetimepicker.min.js' )
                                                     ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                                                     ->prependFile($this->basePath() . '/js/jquery.min.js') 
                ?>

    </head>
    
    <style>

    .mio{
        background-color: #EEEEEE;
        border-radius: 6px;
        margin-left:10px;
        margin-right:10px; 
        padding: 30px;
       }

    </style>

    
    
    <body>
    
        <?php  if( $this->layout()->usuario !== null): ?>
        <!--Header-->
           <?php echo $this->header; ?>
        <!--/Header-->
        <?php endif; ?> 

        <!--Container-->
            
            <?php echo $this->content; ?>
        
            <?php echo $this->partial('layout/footer'); ?>

        <!--/Container-->
        
        <?php echo $this->inlineScript() ?>
        
    </body>
</html>
