<div class="hero-unit">

<h3><?php echo $this->titulo; ?></h3>

<hr>

    
<!--<div style="margin:30px">-->

    <?php
// within a view script
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('usuarios', array('controller' => 'index', 'action' => 'buscar')));
    $form->setAttribute('method', 'post');
// Get the form label plugin
    $formLabel = $this->plugin('formLabel');
// Render the opening tag
    echo $this->form()->openTag($form);
    ?>
    <div class="form_element">
        <?php
        
        $nombre = $form->get('nombre');
        
        echo '<table><tr><td>';
        echo $formLabel->openTag() . $nombre->getOption('label');
        echo $formLabel->closeTag();
        echo '</td><td>';
        echo $this->formInput($nombre);
        echo $this->formElementErrors($nombre);
        echo '</td><td style="vertical-align: top;" >';
        echo $this->formElement($form->get('send')); 
        echo '</td></tr></table>';
        
        ?>
    </div>

    <?php echo $this->form()->closeTag() ?>
<!--</div>-->

<p>
<a href="<?php echo $this->url('usuarios', array('controller' => 'index', 'action' => 'listar')); ?>">Ver Listado</a>
</p>

<table class="table table-striped table-hover" >
    <thead>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Detalle</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->listaUsuario as $usuario): ?>
            <tr>
                <td><?php echo $usuario->getId() ?></td>
                <td><?php echo $usuario->getNombre() ?></td>
                <td><?php echo $usuario->getApellido() ?></td>
                <td>
                  <a href="<?php echo $this->url('usuarios', array('controller' => 'index', 'action' => 'ver', 'id' => $usuario->getId())); ?>">ver</a>
                </td>
            </tr>
    <?php endforeach; ?>

    <?php
    
//    style="background-color:<?php
//    echo $this->cycle(array("#F0F0F0",
//                "#FFFFFF"))
//            ->next()
//      
        
//    $this->cycle()->assign(array("#F0F0F0", "#FFFFFF"));
//    $this->cycle()->prev();
    
    ?>
  </tbody>
</table>

</div>