<div class="hero-unit">
    
<h3><?php echo $this->titulo; ?></h3>
<p><a href="<?php echo $this->url('usuarios', array('controller' => 'index', 'action' => 'listar')); ?>">&DoubleLeftArrow; volver</a>
</p>
<?php if ($this->usuario !== null): ?>
    <p>
        <span><strong>Id:</strong></span>
        <?php echo $this->usuario->getId() ?>
    </p>
    <p>
        <span><strong>Nombre:</strong></span>
        <?php echo $this->usuario->getNombre() ?>
    </p>
    <p>
        <span><strong>Apellido:</strong></span>
        <?php echo $this->usuario->getApellido() ?>
    </p>
<?php else: ?>
    <h4>Usuario no encontrado</h4>
<?php endif; ?>

</div>
