
<script>
 $(document).ready(function(){ 
     
/*++++++++++++++++++++++++++++++++++++*/
    
    $('#fecha_buscar_1').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });
      
    $('#fecha_buscar_2').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });  
      
   });   
   
   
   function informeExcel() {

        var fecha_buscar_1 = document.querySelector('input[name="fecha_buscar_1"]');
        var fecha_buscar_2 = document.querySelector('input[name="fecha_buscar_2"]');
        
        if (fecha_buscar_1.value == '') {
            alert('No se puede ejecutar sin una fecha valida')
            return false;
        }

        if (fecha_buscar_2.value == '') {
            alert('No se puede ejecutar sin una fecha valida')
            return false;
        }
        
        if (confirm('Exportar a Excel')) {
        
            document.datos.action = "/avisos/index/informeproduccionsemanalmonofasicocliente";
            document.datos.method = 'POST';
            document.datos.submit();
        }

    }
      
</script> 
   
<div class="mio">

<div class="well" >

<p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>    
    
<form name="datos" value="datos" method="post" action="/avisos/controlling/index" >  

<table  style="margin:auto;width:70%;">
<tr>
<td>
    
     <label>Cargar seleccionando un rango de Fechas</label> 
    <div id="fecha_buscar_1" class="input-append date">
             <input type="text" name="fecha_buscar_1" style="width:100px;margin-bottom:3px;" placeholder="Fecha Inicio" value="">                
             <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i>
             </span>
    </div>    
    
    <div id="fecha_buscar_2" class="input-append date">
             <input type="text" name="fecha_buscar_2" style="width:100px;margin-bottom:3px;" placeholder="Fecha Final" value="">                
             <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i>
             </span>
    </div>
    
</td>  
<td>
    <label>Cargar seleccionando una Región o varias  Regiones</label>     
    <select multiple name="regiones[]" > 
      <option value=1 >XV</option>    
      <option value=2 >I</option>   
      <option value=3 > II</option>  
      <option value=4 >III</option> 
      <option value=5 >IV</option>  
      <option value=6 >V</option>  
      <option value=15 >RM</option>  
      <option value=7 >VI</option>  
      <option value=8 >VII</option> 
      <option value=9 >VIII</option>    
      <option value=10 >IX</option>
    </select>
</td>      
</tr>    
<tr>
<td>
     <label>Cargar seleccionando un Mes o varios Meses</label> 
    <select multiple name="meses[]" > 
       <option value=1 >Enero</option>
       <option value=2 >Febrero</option>
       <option value=3 >Marzo</option> 
       <option value=4 >Abril</option>
       <option value=5 >Mayo</option>
      <option value=6 >Junio</option>
      <option value=7 >Julio</option>
      <option value=8 >Agosto</option>
      <option value=9 >Septiembre</option>
      <option value=10 >Octubre</option> 
      <option value=11 >Noviembre</option>
      <option value=12 >Diciembre</option>
    </select>
</td>
<td>
     <label>Cargar seleccionando una Empresa o varias Empresas</label> 
    <select multiple name="empresas[]" >   
       <option value="1">CGED</option>    
       <option value="2">CONAFE</option>  
       <option value="3">EMELAT</option>  
       <option value="4">ELECDA</option>  
       <option value="5">ELIQSA</option>  
       <option value="6">EMELARI</option>
    </select>
</td>
</tr>
<tr>
    <td style="padding:auto;padding-top: 25px" >   
        <input name="cargar" class="btn btn-primary"  value="..::Cargar Datos::.." type="submit" />
    </td>
    <td style="padding:auto;padding-top: 25px" >
        <input name="exportar" class="btn btn-success" value="..::Extraer reporte periodo seleccionado::.." type="button" onclick="informeExcel()" />
    </td>
</tr>    
</table>
</form>
</div>

<div class="well" >
    
<h1 style="text-align:center">Resumen Servicios Monofásicos</h1>    
    
<h4 style="text-align:center" >

    Periodo : <?php echo $this->meses_view ?> - 
    Regiones o Empresas : <?php echo $this->regiones_view ?> - 
    Días Laborales : <?php echo $this->cantidadDiasLaborales ?>
    
</h4>   
    
<table class="table table-striped table-hover table-bordered table-condensed"  style="width:1000px;margin: auto;">
<thead>
<tr style="background-color:#003bb3;color:#ffffff;" >
    <th rowspan="2" style="padding-bottom: 20px;padding-left: 15px;"  >
        <strong>Parámetros Control</strong>
    </th>
    <th colspan="5" style="text-align:center">
        <strong>Estadísticas</strong>
    </th> 
</tr>
<tr style="background-color:#003bb3;color:#ffffff;" >
    <th style="text-align:center" >
       <strong>Cantidad</strong> 
    </th>
    <th style="text-align:center" >
       <strong>Promedio/Mes</strong>
    </th>
    <th style="text-align:center" >    
      <strong>Promedio/día</strong>
    </th>
    <th style="text-align:center" >   
      <strong>Mínimo Día</strong>  
    </th>
    <th style="text-align:center" >
      <strong>Máximo Día</strong>
    </th>
</tr>    
</thead>
<tbody>

<?php  if( (!empty($this->resultado0))  AND (!empty($this->resultado1)) ) { ?>

    <tr>
        <td style="padding-left: 10px;">
            <?php echo 'Total de avisos enviados por la EE.DD.' ?>
        </td>
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[0]['cantidad_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[0]['promedio_mes'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[0]['promedio_dia'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php  echo $this->resultado1[0]['cantidad_min_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php  echo $this->resultado1[0]['cantidad_max_avisos_out'] ?></strong>
        </td>      
    <tr>
        
        
    <tr>
        <td style="padding-left: 10px;">
            <?php echo $this->resultado0[1]['parametro_out'] ?>
        </td>
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[1]['cantidad_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[1]['promedio_mes'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[1]['promedio_dia'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php  echo $this->resultado1[1]['cantidad_min_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo $this->resultado1[1]['cantidad_max_avisos_out'] ?></strong>
        </td>   
    <tr> 
        
        
    <tr>
        <td style="padding-left: 10px;">
            <?php echo $this->resultado0[2]['parametro_out'] ?>
        </td> 
        <td style="text-align:center;">
            <strong><?php echo $this->resultado0[2]['cantidad_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center;">
            <strong><?php echo $this->resultado0[2]['promedio_mes'] ?></strong>
        </td> 
        <td style="text-align:center;">
            <strong><?php echo $this->resultado0[2]['promedio_dia'] ?></strong>
        </td> 
        <td style="text-align:center;">
            <strong><?php  echo $this->resultado1[2]['cantidad_min_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center;">
            <strong><?php echo $this->resultado1[2]['cantidad_max_avisos_out'] ?></strong>
        </td>  
    <tr>
        
        
    <tr>
        <td style="padding-left: 10px;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[3]['parametro_out'] ?>
        </td>
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php echo $this->resultado0[3]['cantidad_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php echo $this->resultado0[3]['promedio_mes'] ?></strong>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php echo $this->resultado0[3]['promedio_dia'] ?></strong>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php  echo (empty($this->resultado1[3]['cantidad_min_avisos_out']))?0:$this->resultado1[3]['cantidad_min_avisos_out']; ?></strong>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php echo (empty($this->resultado1[3]['cantidad_max_avisos_out']))?0:$this->resultado1[3]['cantidad_max_avisos_out']; ?></strong>
        </td>   
    <tr>
        
        
    <tr>
        <td style="padding-left: 10px;">
           <strong> <?php echo 'Cantidad viajes frustrados responsabilidad TECNET' ?> </strong>
        </td>
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[4]['cantidad_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[4]['promedio_mes'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[4]['promedio_dia'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php  echo (empty($this->resultado1[4]['cantidad_min_avisos_out']))?0:$this->resultado1[4]['cantidad_min_avisos_out']; ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo (empty($this->resultado1[4]['cantidad_max_avisos_out']))?0:$this->resultado1[4]['cantidad_max_avisos_out']; ?></strong>
        </td>   
    <tr> 
         
    <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. $this->resultado0[5]['parametro_out'] ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[5]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[5]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[5]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[5]['cantidad_min_avisos_out']))?0:$this->resultado1[5]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[5]['cantidad_max_avisos_out']))?0:$this->resultado1[5]['cantidad_max_avisos_out']; ?>
        </td>     
    <tr>
        
        <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. $this->resultado0[6]['parametro_out'] ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[6]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[6]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[6]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[6]['cantidad_min_avisos_out']))?0:$this->resultado1[6]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[6]['cantidad_max_avisos_out']))?0:$this->resultado1[6]['cantidad_max_avisos_out']; ?>
        </td>   
    <tr>    
      
         <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. $this->resultado0[7]['parametro_out'] ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[7]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[7]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
           <?php echo $this->resultado0[7]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[7]['cantidad_min_avisos_out']))?0:$this->resultado1[7]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[7]['cantidad_max_avisos_out']))?0:$this->resultado1[7]['cantidad_max_avisos_out']; ?>
        </td> 
    <tr>         
     
    <tr>
        <td style="padding-left: 25px;border-bottom:solid 1px #000;">
            <?php echo '.  '. $this->resultado0[8]['parametro_out'] ?>
        </td>
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[8]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[8]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[8]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php  echo (empty($this->resultado1[8]['cantidad_min_avisos_out']))?0:$this->resultado1[8]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo (empty($this->resultado1[8]['cantidad_max_avisos_out']))?0:$this->resultado1[8]['cantidad_max_avisos_out']; ?>
        </td>  
    <tr>
                 
    <tr>
        <td style="padding-left:10px;">
           <strong> <?php echo 'Cantidad viajes frustrados responsabilidad CLIENTE' ?> </strong>
        </td> 
        <td style="text-align:center;">
            <strong><?php echo $this->resultado0[9]['cantidad_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center;">
            <strong><?php echo $this->resultado0[9]['promedio_mes'] ?></strong>
        </td> 
        <td style="text-align:center;">
            <strong><?php echo $this->resultado0[9]['promedio_dia'] ?></strong>
        </td> 
        <td style="text-align:center;">
            <strong><?php  echo (empty($this->resultado1[9]['cantidad_min_avisos_out']))?0:$this->resultado1[9]['cantidad_min_avisos_out']; ?></strong>
        </td> 
        <td style="text-align:center;">
            <strong><?php echo (empty($this->resultado1[9]['cantidad_max_avisos_out']))?0:$this->resultado1[9]['cantidad_max_avisos_out']; ?></strong>
        </td>     
    <tr>     


    <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. $this->resultado0[10]['parametro_out'] ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[10]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[10]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[10]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[10]['cantidad_min_avisos_out']))?0:$this->resultado1[10]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[10]['cantidad_max_avisos_out']))?0:$this->resultado1[10]['cantidad_max_avisos_out']; ?>
        </td>   
    <tr>
        
        
    <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. $this->resultado0[11]['parametro_out'] ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[11]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[11]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[11]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[11]['cantidad_min_avisos_out']))?0:$this->resultado1[11]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[11]['cantidad_max_avisos_out']))?0:$this->resultado1[11]['cantidad_max_avisos_out']; ?>
        </td>  
    <tr>
    	
    	
    <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. $this->resultado0[12]['parametro_out'] ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[12]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[12]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[12]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[12]['cantidad_min_avisos_out']))?0:$this->resultado1[12]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[12]['cantidad_max_avisos_out']))?0:$this->resultado1[12]['cantidad_max_avisos_out']; ?>
        </td>  
    <tr>
        
        
    <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. $this->resultado0[13]['parametro_out'] ?>
        </td>
        <td style="text-align:center;">
            <?php echo $this->resultado0[13]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center;">
            <?php echo $this->resultado0[13]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center;">
            <?php echo $this->resultado0[13]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center;">
            <?php  echo (empty($this->resultado1[13]['cantidad_min_avisos_out']))?0:$this->resultado1[13]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center;">
            <?php echo (empty($this->resultado1[13]['cantidad_max_avisos_out']))?0:$this->resultado1[13]['cantidad_max_avisos_out']; ?>
        </td>   
    <tr>
      
    
        <tr>
        <td style="padding-left: 25px;border-bottom:solid 1px #000;">
            <?php echo '.  '. $this->resultado0[14]['parametro_out'] ?>
        </td>
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[14]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[14]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[14]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php  echo (empty($this->resultado1[14]['cantidad_min_avisos_out']))?0:$this->resultado1[14]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo (empty($this->resultado1[14]['cantidad_max_avisos_out']))?0:$this->resultado1[14]['cantidad_max_avisos_out']; ?>
        </td>   
    <tr>
    	    
        
    <tr>
        <td style="padding-left: 10px;">
            <?php echo 'Cantidad de CNR detectados' ?>
        </td>
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[15]['cantidad_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center">
             <strong><?php echo $this->resultado0[15]['promedio_mes'] ?></strong>
        </td> 
        <td style="text-align:center">
             <strong><?php echo $this->resultado0[15]['promedio_dia'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php  echo (empty($this->resultado1[15]['cantidad_min_avisos_out']))?0:$this->resultado1[15]['cantidad_min_avisos_out']; ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo (empty($this->resultado1[15]['cantidad_max_avisos_out']))?0:$this->resultado1[15]['cantidad_max_avisos_out']; ?></strong>
        </td>   
    <tr>
        
        
    <tr>
        <td style="padding-left: 10px;border-bottom:solid 1px #000;">
            <?php echo 'Cantidad de CNR normalizados' ?>
        </td>
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php echo $this->resultado0[16]['cantidad_avisos_out'] ?></strong>
        </td>  
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php echo $this->resultado0[16]['promedio_mes'] ?></strong>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php echo $this->resultado0[16]['promedio_dia'] ?></strong>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php  echo (empty($this->resultado1[16]['cantidad_min_avisos_out']))?0:$this->resultado1[16]['cantidad_min_avisos_out']; ?></strong>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <strong><?php echo (empty($this->resultado1[16]['cantidad_max_avisos_out']))?0:$this->resultado1[16]['cantidad_max_avisos_out']; ?></strong>
        </td> 
    <tr>
        
        
    <tr>
        <td style="padding-left: 10px;">
             <strong><?php echo 'Cantidad de CNR no normalizados' ?></strong>
        </td>
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[17]['cantidad_avisos_out'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[17]['promedio_mes'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo $this->resultado0[17]['promedio_dia'] ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php  echo (empty($this->resultado1[17]['cantidad_min_avisos_out']))?0:$this->resultado1[17]['cantidad_min_avisos_out']; ?></strong>
        </td> 
        <td style="text-align:center">
            <strong><?php echo (empty($this->resultado1[17]['cantidad_max_avisos_out']))?0:$this->resultado1[17]['cantidad_max_avisos_out']; ?></strong>
        </td>   
    <tr>
        
        
    <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. 'Cantidad de CNR no normalizados por cliente no autoriza' ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[18]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[18]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[18]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[18]['cantidad_min_avisos_out']))?0:$this->resultado1[18]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[18]['cantidad_max_avisos_out']))?0:$this->resultado1[18]['cantidad_max_avisos_out']; ?>
        </td>  
    <tr>
        
        
    <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. 'Cantidad de CNR no normalizados por condición insegura' ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[19]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
           <?php echo $this->resultado0[19]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[19]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[19]['cantidad_min_avisos_out']))?0:$this->resultado1[19]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[19]['cantidad_max_avisos_out']))?0:$this->resultado1[19]['cantidad_max_avisos_out']; ?>
        </td>   
    <tr>
        
        
    <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. 'Cantidad de CNR no normalizados por requiere mantenimiento mayor' ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[20]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[20]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[20]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[20]['cantidad_min_avisos_out']))?0:$this->resultado1[20]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[20]['cantidad_max_avisos_out']))?0:$this->resultado1[20]['cantidad_max_avisos_out']; ?>
        </td>  
    <tr>
        
        
    <tr>
        <td style="padding-left: 25px;">
            <?php echo '.  '. 'Cantidad de CNR no normalizados por colgado de acometida' ?>
        </td>
        <td style="text-align:center">
            <?php echo $this->resultado0[21]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[21]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center">
            <?php echo $this->resultado0[21]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center">
            <?php  echo (empty($this->resultado1[21]['cantidad_min_avisos_out']))?0:$this->resultado1[21]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center">
            <?php echo (empty($this->resultado1[21]['cantidad_max_avisos_out']))?0:$this->resultado1[21]['cantidad_max_avisos_out']; ?>
        </td>  
    <tr>
    

    <tr>
        <td style="padding-left:25px;border-bottom:solid 1px #000;">
            <?php echo '.  Cantidad de CNR no normalizados por causa no especificada.' ?>
        </td>
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[22]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[22]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[22]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo (empty($this->resultado1[22]['cantidad_min_avisos_out']))?0:$this->resultado1[22]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo (empty($this->resultado1[22]['cantidad_max_avisos_out']))?0:$this->resultado1[22]['cantidad_max_avisos_out']; ?>
        </td> 
    <tr>
    	
        
    <tr>
        <td style="padding-left:10px;border-bottom:solid 1px #000;">
            <?php echo 'Cantidad Medidores en Seguimiento.' ?>
        </td>
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[23]['cantidad_avisos_out'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[23]['promedio_mes'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo $this->resultado0[23]['promedio_dia'] ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo (empty($this->resultado1[23]['cantidad_min_avisos_out']))?0:$this->resultado1[23]['cantidad_min_avisos_out']; ?>
        </td> 
        <td style="text-align:center;border-bottom:solid 1px #000;">
            <?php echo (empty($this->resultado1[23]['cantidad_max_avisos_out']))?0:$this->resultado1[23]['cantidad_max_avisos_out']; ?>
        </td> 
    <tr>    
        
        
        <?php } ?>
        
</tbody>
</table>

<br>
<br>
<br>

</div>

<br>
<br>
<br>

</div>    