<div class="mio">

<p>
    <a href="<?php echo $this->url('ddescontar', array('controller' => 'index', 'action' => 'index')); ?>">&DoubleLeftArrow; volver</a>
</p>

<h3><?php echo $this->escapeHtml($this->title); ?></h3>

<div style="margin:auto;padding-left:200px;" >
    
<?php 
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('ddescontar', array('controller' => 'index', 'action' => 'registrar')));
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('id_dd'));
?> 

<?php echo $this->formRow($form->get('csrf')) ?><br> 
<span style="color:red" > * </span><?php echo $this->formRow($form->get('id_sucursal')) ?> Se indica el nombre de la sucursal y el codigo de la sucursal en base de datos<br>
<span style="color:red" > * </span><?php echo $this->formRow($form->get('id_personal_falto')) ?> Se indica el nombre del tecnico y el codigo de sucursal asociado<br>
<span style="color:red" > * </span><?php echo $this->formRow($form->get('id_motivo')) ?> Motivos por los cuales se pueden descontar dias<br>
<span style="color:red" > * </span><?php echo $this->formRow($form->get('num_mes')) ?> en que mes faltaron <br>
<span style="color:red" > * </span><?php echo $this->formRow($form->get('anio')) ?> en que año faltaron <br>
<span style="color:red" > * </span><?php echo $this->formRow($form->get('cant_dias')) ?> cantidad de dias que faltaron <br>
<span style="color:red" > * </span><?php echo $this->formRow($form->get('comentario_motivo_falta')) ?> un comentario <br>
<span style="color:red" >&nbsp;&nbsp;</span><?php echo $this->formElement($form->get('send')) ?><br>
    
<?php echo $this->form()->closeTag() ?>
    
    
</div>
</div>
<br>
