<div class="mio">

    <h3><?php echo $this->escapeHtml($this->title); ?></h3>

    <p>
        <a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>

        <a style="float:right" class="btn btn-primary" href="<?php echo $this->url('ddescontar', array('controller' => 'index', 'action' => 'crear')); ?>">Agregar Dias a Tecnicos (+)</a>

    </p>  

    <hr>  

    <?php
//    // within a view script
//    $form = $this->form;
//    $form->prepare();
//    $form->setAttribute('action', $this->url('ddescontar', array('controller' => 'index', 'action' => 'buscar')));
//    $form->setAttribute('method', 'post');
//    // Get the form label plugin
//    $formLabel = $this->plugin('formLabel');
//    // Render the opening tag
//    echo $this->form()->openTag($form);
    ?>
<!--    <div class="form_element">-->
        <?php
//        $element = $form->get('nombreservicio');
//
//        echo '<table><tr><td>';
//
//        echo $formLabel->openTag() . $element->getOption('label');
//        echo $formLabel->closeTag();
//
//        echo '</td><td>';
//
//        echo $this->formInput($element);
//        echo '&nbsp;&nbsp;';
//        echo $this->formElement($form->get('send'));
//
//        echo '</td></tr><tr><td></td><td style="vertical-align: top;" >';
//
//        echo $this->formElementErrors($element);
//
//        echo '</td></tr></table>';
        ?>
<!--    </div>-->

<!--    <a href="<?php echo $this->url('ddescontar', array('controller' => 'index', 'action' => 'index')); ?>">Listar Todos</a>-->


<!--    <hr>-->
<?php $CantTotalDias = 0 ?>

    <table class="table table-striped table-hover table-bordered table-condensed" >
        <thead>
            <tr style="background-color:#003bb3;color:#ffffff;" class="btn-primary" >               
                <th>Sucursal</th>
                <th>Nombre Tecnico</th>
                <th>Cargo</th>
                <th>Motivo</th>
                <th>Cant. Dias</th>
                <th>Mes-Año</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>  
<?php foreach ($this->listadetecnicos as $tecnico ): ?>
                <tr>
                    <td><?php echo ucwords(strtolower($tecnico->getSucursal()->getNombre_sucursal())) ?></td>
                    <td><?php echo ucwords(strtolower($tecnico->getPersonal_falto()->getNombres() . ' ' . $tecnico->getPersonal_falto()->getApellidos())) ?></td>
                    <td><?php echo ucwords(strtolower($tecnico->getCargo()->getNombre_cargo())) ?></td>
                    <td><?php echo ucwords(strtolower($tecnico->getMotivo()->getMotivo())) ?></td>
                    <td><?php 
                    
                              echo $tecnico->getCant_dias();
                              
                              $CantTotalDias = $CantTotalDias + $tecnico->getCant_dias();
                            
                            ?></td>
                    <td>
                    <?php 

                        if( $tecnico->getNum_mes() === 1 ) $mes = 'Enero';
                        if( $tecnico->getNum_mes() === 2) $mes = 'Febrero';
                        if( $tecnico->getNum_mes() === 3) $mes = 'Marzo';
                        if( $tecnico->getNum_mes() === 4) $mes = 'Abril';
                        if( $tecnico->getNum_mes() === 5) $mes = 'Mayo';
                        if( $tecnico->getNum_mes() === 6) $mes = 'Junio';
                        if( $tecnico->getNum_mes() === 7) $mes = 'Julio';
                        if( $tecnico->getNum_mes() === 8) $mes = 'Agosto';
                        if( $tecnico->getNum_mes() === 9) $mes = 'Septiembre';
                        if( $tecnico->getNum_mes() === 10) $mes = 'Octubre';
                        if( $tecnico->getNum_mes() === 11) $mes = 'Noviembre';
                        if( $tecnico->getNum_mes() === 12) $mes = 'Diciembre';

                        echo $mes .' '. $tecnico->getAnio(); 

                    ?>
                    </td>
                    <td>
                        <a onclick="return confirm('¿Esta seguro que desea eliminar?');"
                           href="<?php echo $this->url('ddescontar', array('controller' => 'index', 'action' => 'eliminar', 'id' => $tecnico->getId_dd())); ?>">eliminar</a>
                    </td>
                </tr>
<?php endforeach; ?>
        </tbody>
    </table>

<?php echo $this->paginationControl($this->paginator, 'Sliding', 'servicios/pagination_control', array('route' => 'paginatorddescontar', 'controller' => 'index', 'action' => 'index' )) ?>

<br>

<h3>Total de dias brigadas a descontar : <?php echo $CantTotalDias / 2 ?></h3>

    <?php //echo $this->TotalDdescontar ?>

</div>    

<br>
