<?php  if( $this->layout()->usuario !== null): ?>

<div class="mio">
    
    
    <h1>Sistema de gestión técnica de información S3</h1>
    
    <br>
    
<?php if($this->layout()->usuario->rol == "admin" ): ?>   
    
    
        <div class="well" >
      <h5><u>Actividades</u></h5>   
      
      <a class="btn btn-primary" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'cargar', 'action' => 'index')) ?>">Carga Masiva Avisos</a>
            
      <a class="btn btn-primary" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'index')) ?>">Asignación y Valorización de Avisos</a>
      
<!--      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('ddescontar', array('controller' => 'index', 'action' => 'index')) ?>"><< Dias Descontar >></a>
      -->
<!--      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos', array('controller' => 'facturacion', 'action' => 'index')) ?>">Facturación (Pendiente) </a>
      -->
<!--      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">Bitacora Diaria (Pendiente) </a>
      -->
      <a class="btn btn-primary" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'valoriza', 'action' => 'index')) ?>">Valorizar Aviso</a>
      
    </div>
    
   <div class="well" >
      <h5>Digitación</h5> 
         <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">Ordenes de Digitación RIAT</a>
         <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'index')) ?>">Back Office RIM</a>
         <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">Historico Auditorias Trifásicas</a>
         <a class="btn btn-success" style="margin:6px" href="<?php //echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">Historico Verificaciones Manofasicas (Pendiente)</a>
   </div> 
  
   <div class="well" >
      <h5>Reportes Excel Servicio Monofasico</h5>
        <a class="btn btn-info" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanalmonofasico')) ?>">Informe para la Gestión de Producción</a>
        <a class="btn btn-info" href="<?php //echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Informe de Facturacion</a>  
   </div>       
   
   <div class="well" >
        <h5>Reportes Excel Servicio Trifasico</h5>   
        <a class="btn btn-warning" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionmensual')) ?>">Resumen Auditorias</a>
        <a class="btn btn-warning" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Producción Semanal</a>
        <a class="btn btn-warning" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal2')) ?>">Informe para la Gestión de Producción</a>
        <!--
           <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos',array('controller' => 'index', 'action' => 'listadoserviciosnacional')) ?>">Listado de Servicios Nacional</a>
         --> 
        <a class="btn btn-warning" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeejecutivoauditorias')) ?>">Ejecutivo Auditorias</a>
        <a class="btn btn-warning" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informedetallefacturacion')) ?>">Servicios a Facturar</a>
        <a class="btn btn-warning" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informedetallefacturacion1')) ?>">Servicios a Facturar 2</a>  
        <!--
        <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Consolidado de Facturacion</a>  
        -->        
   </div>
 
   <div class="well">
      <h5>Datos Sucursal</h5>
      <a class="btn btn-danger" style="margin:6px" href="<?php echo $this->url('personal',array('controller' => 'index', 'action' => 'index')) ?>">Gestor de Personal</a>
      <a class="btn btn-danger" style="margin:6px" href="<?php //echo $this->url('personal', array('controller' => 'index', 'action' => 'index')) ?>">Datos de Sucursal (Pendiente) </a>
      <a class="btn btn-danger" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'listadoserviciossucursal')) ?>">Listado de Servicios Sucursal</a>
      <a class="btn btn-danger" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'listadomodelosmedidores')) ?>">Cod. Medidores</a>
      <a class="btn btn-danger" style="margin:6px"  href="../Classes/catalogo_resultados_catalogo_anormalidades_total.xlsx" >Catalogo Anormalidades</a>  
   </div> 
   
    
    <div class="well" >
      <h5>Servicios</h5>       
       <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>"><< Auditorias Trifásicas >></a>
       <a class="btn btn-success" style="margin:6px" href="<?php //echo $this->url('rim', array('controller' => 'index', 'action' => 'index')) ?>"><< Verificaciones Monofásicas >></a>
    </div>
    
    
        <div class="well" >
      <h5>Servicios</h5>    
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">Consultar Auditorias Trifásicas </a>
      <a class="btn btn-info" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal2')) ?>">Informe para la Gestión de Producción</a> 
    </div> 
    
    <div class="well" >
      <h5>Informes</h5>    
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeejecutivoauditorias')) ?>">Excel Ejecutivo Auditorias Trifásicas</a>    
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionmensual')) ?>">Excel Estados de los Avisos del Mes Actual</a>
    </div>
    
    
        <div class="well" >
      <h5>Servicios</h5>    
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">Auditorias Trifásicas</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('ans', array('controller' => 'index', 'action' => 'auditoria')) ?>">Publicar Indicadores ANS</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('ddescontar', array('controller' => 'index', 'action' => 'index')) ?>">Auditar días a descontar</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'bitacora', 'action' => 'index')) ?>">Cargador Bitacora</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'bitacora', 'action' => 'reportebitacora')) ?>">Reporte Bitacora</a>
    </div>
      
    <div class="well" >
      <h5>Servicios Monofásicos</h5>       
            <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'index')) ?>"><< Verificaciones Monofásicas >></a>         
            <a class="btn btn-success" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanalmonofasico')) ?>"><< Informe de Producción >></a>     
    </div>

    <div class="well" >
      <h5>Informes</h5>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeejecutivoauditorias')) ?>">Excel Ejecutivo Auditorias Trifásicas</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionmensual')) ?>">Excel Estados de los Avisos del Mes Actual</a>       
    </div>
    
    <div class="well" >
      <h5>Indicadores</h5>   
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('ans', array('controller' => 'index', 'action' => 'index')) ?>">ANS</a>
    </div>
          
    <!--<div class="well" >
      <h5>Personal</h5>      
       <a class="btn btn-danger" style="margin:6px" href="<?php echo $this->url('personal',array('controller' => 'index', 'action' => 'index')) ?>">Gestor de Personal (Usuarios)</a>
    </div>-->
    
    
    <div class="well" >
      <h5>Servicios Monofásicos</h5>
      
          <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'index')) ?>">
	      	 Visualizador de Avisos 1F
	      </a>
	      
	      <a class="btn btn-success" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanalmonofasicocliente')) ?>">
	      	  Informe de Producción
	      </a>
	      
	      <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'controlling', 'action' => 'index')) ?>">
	          Indicadores Producción
	      </a>
	         
    </div>  
 
    <div class="well" >
      <h5>Administrar</h5>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Usuarios</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Sucursales</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Zonales</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Codigos Obs</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Medidores</a>
    </div>  

    <div class="well" > 
      <h5>Examinar</h5>  
      <a class="btn btn-info" href="<?php echo $this->url('servicios', array('controller' => 'index', 'action' => 'index')) ?>">Listado de Servicios</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('instalaciones', array('controller' => 'index', 'action' => 'index')) ?>">Instalaciónes</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('servicios', array('controller' => 'index', 'action' => 'index')) ?>">Servicios</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('brigadas', array('controller' => 'index', 'action' => 'index')) ?>">Brigadas</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('vehiculos', array('controller' => 'index', 'action' => 'index')) ?>">Vehiculos</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'laboratorio', 'action' => 'index')) ?>">LEER CALSOFT</a>
   
      
     <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'valoriza', 'action' => 'index')) ?>">Valorizar Aviso</a>
       
    
    </div>
    
    <div class="well" >
      <h5>Gestores</h5>   
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'index')) ?>">Asignación y Valorización de Avisos</a>
      
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('ddescontar', array('controller' => 'index', 'action' => 'index')) ?>"><< Dias Descontar >></a>
  
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>"><< Auditor >></a>
      
      
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'cargar', 'action' => 'index')) ?>">Carga Masiva Avisos</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">Digitación RIAT</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">Facturacion</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">Dias no Trabajados</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">Bitacora Diaria</a>
    </div>

    
    <div class="well" >
      <h5>Indicadores</h5>   
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('servicios', array('controller' => 'index', 'action' => 'index')) ?>">Cargas</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos', array('controller' => 'index', 'action' => 'listadoserviciossucursal'))  ?>">Digitacion</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('servicios', array('controller' => 'index', 'action' => 'index')) ?>">CNR</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('ans', array('controller' => 'index', 'action' => 'index')) ?>">ANS</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionmensual')) ?>">Bonos</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Estados de Audit.</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Facturacion</a>
    </div>
    
    
    <div class="well" >
      <h5>Exportar Datos a Excel</h5>   
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'listadoserviciosnacional')) ?>">Listado de Servicios Nacional</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'listadoserviciossucursal')) ?>">Listado de Servicios Sucursal</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'listadomodelosmedidores')) ?>">Cod. Medidores</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('servicios', array('controller' => 'index', 'action' => 'index')) ?>">Cod. Obs. Tec.</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionmensual')) ?>">Resumen Auditorías</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Producción Semanal</a>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeejecutivoauditorias')) ?>">Ejecutivo Auditorias</a> 
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Servicios a Facturar</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Consolidado de Facturacion</a>
    </div>

    <div class="well">
      <h5>Datos Sucursal</h5>
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('personal',array('controller' => 'index', 'action' => 'index')) ?>">Gestor de Personal</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('personal', array('controller' => 'index', 'action' => 'index')) ?>">Datos de Sucursal</a>
    </div>
    
    <div class="well" >
      <h5><u>Servicios</u></h5>    
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>"><< Auditorías Trifásicas >></a>
    </div>  
      
    <div class="well" >
      <h5><u>Informes</u></h5>    
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeejecutivoauditorias')) ?>">Ejecutivo Auditorías Trifásicas</a>  
    </div>
    
<?php endif; ?>
 
  
<?php if($this->layout()->usuario->rol == "auditor" ): ?> 
    
    
	<div class="well" >
      <h5>Servicios Monofásicos</h5>
      
          <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'index')) ?>">
	      	 Visualizador de Avisos 1F
	      </a>
	      
	      <a class="btn btn-success" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanalmonofasicocliente')) ?>">
	      	  Exportar a Excel Cliente
	      </a>
	      
	      <a class="btn btn-success" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanalmonofasico')) ?>">
	      	  Exportar a Excel Tecnet
	      </a>
	      
	      <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'controlling', 'action' => 'index')) ?>">
	          Indicadores Producción
	      </a>
	         
    </div> 
    
    <div class="well" >
      <h5>Servicios Trifasicos</h5>
             
       <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">
       	  Visualizador de Avisos 3F
       </a>
    
       <a class="btn btn-info" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal2')) ?>">
       	  Exportar a Excel
       </a>
            
    </div>
    
    
    
    <!-- <div class="well" >
      <h5>Servicios Trifásicos</h5>   

      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">Auditorias Trifásicas</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('ans', array('controller' => 'index', 'action' => 'auditoria')) ?>">Publicar Indicadores ANS</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('ddescontar', array('controller' => 'index', 'action' => 'index')) ?>">Auditar días a descontar</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos', array('controller' => 'bitacora', 'action' => 'index')) ?>">Cargador Bitacora</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos', array('controller' => 'bitacora', 'action' => 'reportebitacora')) ?>">Reporte Bitacora</a>
    
    </div> -->
    
    
    <!--
    <div class="well" >
      <h5>Informes</h5>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeejecutivoauditorias')) ?>">Excel Ejecutivo Auditorias Trifásicas</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionmensual')) ?>">Excel Estados de los Avisos del Mes Actual</a>       
    </div>
    
    <div class="well" >
      <h5>Indicadores</h5>   
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('ans', array('controller' => 'index', 'action' => 'index')) ?>">ANS</a>
    </div>
    -->
         
    <!--<div class="well" >
      <h5>Personal</h5>      
       <a class="btn btn-danger" style="margin:6px" href="<?php echo $this->url('personal',array('controller' => 'index', 'action' => 'index')) ?>">Gestor de Personal (Usuarios)</a>
    </div>-->
         
         
         
<?php endif; ?> 
    
    
<?php if($this->layout()->usuario->rol == "analista1" ): ?> 

    <div class="well" >
      <h5>Servicios</h5>    
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">Consultar Auditorias Trifásicas </a>
      <a class="btn btn-info" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal2')) ?>">Informe para la Gestión de Producción</a> 
    </div> 
    
    <div class="well" >
      <h5>Informes</h5>    
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeejecutivoauditorias')) ?>">Excel Ejecutivo Auditorias Trifásicas</a>    
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionmensual')) ?>">Excel Estados de los Avisos del Mes Actual</a>
    </div>

<?php endif; ?> 
    

    
<?php if($this->layout()->usuario->rol == "analista" ): ?> 
	
	
	<div class="well" >
      <h5>Servicios Monofásicos</h5>
      
          <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'index')) ?>">
	      	 Visualizador de Avisos 1F
	      </a>
	      
	      <a class="btn btn-success" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanalmonofasicocliente')) ?>">
	      	  Exportar a Excel
	      </a>
	      
	      <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'controlling', 'action' => 'index')) ?>">
	          Indicadores Producción
	      </a>
	         
    </div> 
    
    <div class="well" >
      <h5>Servicios Trifasicos</h5>
             
       <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">
       	  Visualizador de Avisos 3F
       </a>
    
       <a class="btn btn-info" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal2')) ?>">
       	  Exportar a Excel
       </a>
            
    </div> 

<?php endif; ?> 
    
    
    
<?php if($this->layout()->usuario->rol == "supervisor" ): ?>   
    
    <div class="well" >
      <h5><u>Actividades</u></h5>   
      
      <a class="btn btn-primary" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'cargar', 'action' => 'index')) ?>">Carga Masiva Avisos</a>
            
      <a class="btn btn-primary" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'index')) ?>">Asignación y Valorización de Avisos</a>
      
<!--      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('ddescontar', array('controller' => 'index', 'action' => 'index')) ?>"><< Dias Descontar >></a>
      -->
<!--      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos', array('controller' => 'facturacion', 'action' => 'index')) ?>">Facturación (Pendiente) </a>
      -->
<!--      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">Bitacora Diaria (Pendiente) </a>
      -->
      <a class="btn btn-primary" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'valoriza', 'action' => 'index')) ?>">Valorizar Aviso</a>
      
    </div>
    
   <div class="well" >
      <h5>Digitación</h5> 
         <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">Ordenes de Digitación RIAT</a>
         <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'index')) ?>">Back Office RIM</a>
         <a class="btn btn-success" style="margin:6px" href="<?php echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">Historico Auditorias Trifásicas</a>
         <a class="btn btn-success" style="margin:6px" href="<?php //echo $this->url('auditor', array('controller' => 'index', 'action' => 'index')) ?>">Historico Verificaciones Manofasicas (Pendiente)</a>
   </div> 
  
   <div class="well" >
      <h5>Reportes Excel Servicio Monofasico</h5>
        <a class="btn btn-info" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanalmonofasico')) ?>">Informe para la Gestión de Producción</a>
        <a class="btn btn-info" href="<?php //echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Informe de Facturacion</a>	
   </div> 	    
   
   <div class="well" >
        <h5>Reportes Excel Servicio Trifasico</h5>   
        <a class="btn btn-warning" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionmensual')) ?>">Resumen Auditorias</a>
        <a class="btn btn-warning" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Producción Semanal</a>
        <a class="btn btn-warning" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal2')) ?>">Informe para la Gestión de Producción</a>
        <!--
	       <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos',array('controller' => 'index', 'action' => 'listadoserviciosnacional')) ?>">Listado de Servicios Nacional</a>
         --> 
        <a class="btn btn-warning" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeejecutivoauditorias')) ?>">Ejecutivo Auditorias</a>
        <a class="btn btn-warning" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informedetallefacturacion')) ?>">Servicios a Facturar</a>
        <a class="btn btn-warning" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'informedetallefacturacion1')) ?>">Servicios a Facturar 2</a>  
        <!--
        <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('avisos',array('controller' => 'index', 'action' => 'informeproduccionsemanal')) ?>">Consolidado de Facturacion</a>  
        -->        
   </div>
 
   <div class="well">
      <h5>Datos Sucursal</h5>
      <a class="btn btn-danger" style="margin:6px" href="<?php echo $this->url('personal',array('controller' => 'index', 'action' => 'index')) ?>">Gestor de Personal</a>
      <a class="btn btn-danger" style="margin:6px" href="<?php //echo $this->url('personal', array('controller' => 'index', 'action' => 'index')) ?>">Datos de Sucursal (Pendiente) </a>
      <a class="btn btn-danger" style="margin:6px" href="<?php echo $this->url('avisos',array('controller' => 'index', 'action' => 'listadoserviciossucursal')) ?>">Listado de Servicios Sucursal</a>
      <a class="btn btn-danger" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'index', 'action' => 'listadomodelosmedidores')) ?>">Cod. Medidores</a>
      <a class="btn btn-danger" style="margin:6px"  href="../Classes/catalogo_resultados_catalogo_anormalidades_total.xlsx" >Catalogo Anormalidades</a>  
   </div> 
   
<?php endif; ?>    
    
<?php if($this->layout()->usuario->rol == "digitador" ): ?>   

   <div class="well" >
      <h5>Digitación</h5> 
      
      <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">RIAT</a>
      <a class="btn btn-info" style="margin:6px" href="<?php //echo $this->url('riat', array('controller' => 'index', 'action' => 'index')) ?>">RIM (Pendiente) </a>
      
   </div> 
    
<?php endif; ?>
    
    
<?php if($this->layout()->usuario->rol == "laboratorio" ): ?>   
    <ul>
     <a class="btn btn-info" style="margin:6px" href="<?php echo $this->url('avisos', array('controller' => 'laboratorio', 'action' => 'index')) ?>">LEER CALSOFT</a>
    </ul>
<?php endif; ?>
    
    
<?php if($this->layout()->usuario->rol == "reporte" ): ?>   
<ul>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Usuarios</a></li>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Sucursales</a></li>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Zonales</a></li>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Codigos Obs</a></li>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Medidores</a></li>
</ul>
<?php endif; ?>     
    
<?php if($this->layout()->usuario->rol == "cliente" ): ?>   
<ul>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Usuarios</a></li>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Sucursales</a></li>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Zonales</a></li>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Codigos Obs</a></li>
  <li><a href="<?php echo $this->url('admin/default', array('controller' => 'usuario', 'action' => 'listar')) ?>">Gestion de Medidores</a></li>
</ul>
<?php endif; ?> 
    
<?php //echo $this->layout()->usuario->id ?>    

</div>    
<?php endif; ?>



<?php if(($this->layout()->usuario->rol == "supervisor") OR ($this->layout()->usuario->rol == "admin")): ?>   
    
<div id="dialog_info" title="Alerta de Cambios en el sistema. S3 fecha 25-08-2015" style="">
                    
                    <br>
                    
                        <ol>
                            <li>
                               Estimados usuarios por favor cambiar la contraseña por defecto 12345. ya que dejara de funcionar fecha de termino de esta es 28-08-2015.  
                            </li>
                            <br>
                            <li>
                               Se requiere finalizar los avisos en el backoffice ya que solo los finalizados estaran presentes en el informe y los vera el cliente.
                            </li>
                            <br>
                            <li>
                               Se agrega campo para modificar la fecha de la solicitud del aviso en el formulario editor de aviso rim.
                            </li>
                            <br>
                            <li>
                               Se agrega campo para cargar las fotos de laboratorio monofasico en el formulario editor de aviso rim.
                            </li>
                            <br>
                            <li>
                               Se agrega campo para cargar el certificado de medidor instalado en el formulario editor de aviso rim.
                            </li>
                        </ol> 
                            
                        <br>
                        
                        <p>Estimados quedamos atentos a sus observaciónes</p>
                        
                        <br>
                        
                        <p>Atte.<p>
                        <p>PC.</p>
                     
               </div>
               
               
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
               
               <script>

                    $(function() {

                    $("#dialog_info").dialog({
                        autoOpen: true,
                        height:500,
                        width: 800,
                        show: {
                           effect: "blind",
                           duration: 1000
                        },
                        hide: {
                          effect: "blind",
                          duration: 1000
                        }
                      });
                         
                      });

                </script>
                
<?php endif; ?>


               
