<div class="hero-unit">
    
<h3><?php echo $this->escapeHtml($this->title); ?></h3>

<hr>

<p>
    <a href="<?php echo $this->url('servicios', array('controller' => 'index', 'action' => 'index')); ?>">&DoubleLeftArrow; volver</a>
</p>

<hr>

<?php 
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url('servicios', array('controller' => 'index', 'action' => 'registrar')));
$form->setAttribute('method', 'post');
$formLabel = $this->plugin('formLabel');
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id_servicio'));
?>


    <?php
        $nombre = $form->get('nombre_servicio');
        echo $formLabel->openTag() . $nombre->getOption('label');
        echo $formLabel->closeTag();
        echo $this->formInput($nombre);
        echo $this->formElementErrors($nombre);
    ?>

    <?php
        $nombre = $form->get('detalleservicio');
        echo $formLabel->openTag() . $nombre->getOption('label');
        echo $formLabel->closeTag();
        echo $this->formTextarea($nombre);
        echo $this->formElementErrors($nombre);
    ?>

    <?php
        $nombre = $form->get('contrato');
        echo $formLabel->openTag() . $nombre->getOption('label');
        echo $formLabel->closeTag();
        echo $this->formInput($nombre);
        echo $this->formElementErrors($nombre);
    ?>

<hr>

<?php echo $this->formElement($form->get('send')) ?>
<?php echo $this->form()->closeTag() ?>

</div>
