<div class="hero-unit">

    <h3><?php echo $this->escapeHtml($this->title); ?></h3>

    <p>
        <a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>
        
        <a style="float:right" class="btn btn-primary" href="<?php echo $this->url('servicios', array('controller' => 'index', 'action' => 'crear')); ?>">Ingresar Servicio (+)</a>
    
    </p>  

    <hr>  

    <?php
    // within a view script
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('servicios', array('controller' => 'index', 'action' => 'buscar')));
    $form->setAttribute('method', 'post');
    // Get the form label plugin
    $formLabel = $this->plugin('formLabel');
    // Render the opening tag
    echo $this->form()->openTag($form);
    ?>
    <div class="form_element">
        <?php
        
        $element = $form->get('nombreservicio');

        echo '<table><tr><td>';
        
        echo $formLabel->openTag() . $element->getOption('label');
        echo $formLabel->closeTag();
        
        echo '</td><td>';
        
        echo $this->formInput($element);
        echo '&nbsp;&nbsp;';
        echo $this->formElement($form->get('send'));
        
        echo '</td></tr><tr><td></td><td style="vertical-align: top;" >';

        echo $this->formElementErrors($element);
        
        echo '</td></tr></table>';
        
        ?>
    </div>
    
    <a href="<?php echo $this->url('servicios', array('controller' => 'index', 'action' => 'index')); ?>">Listar Todos</a>
            

    <hr>

    <table class="table table-striped table-hover"  >
        <thead>
            <tr>               
              <th>Servicio</th>
              <th>Detalle</th>
              <th>Contrato</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>  
        <?php foreach ($this->listadeservicios as $servicio ): ?>
                <tr>
                    <td><?php echo $servicio->getNombre_servicio() ?></td>
                    <td><?php echo $servicio->getDetalleservicio() ?></td>
                    <td><?php echo $servicio->getContrato() ?></td>
                    <td>
                        <a href="<?php echo $this->url('servicios', array('controller' => 'index', 'action' => 'editar', 'id' => $servicio->getId_servicio())); ?>">editar</a>
                    </td>
                    <td>
                        <a onclick="return confirm('¿Esta seguro que desea eliminar a <?php echo $servicio->getNombre_servicio() ?>?');"
                           href="<?php echo $this->url('servicios', array('controller' => 'index', 'action' => 'eliminar', 'id' => $servicio->getId_servicio())); ?>">eliminar</a>
                    </td>
                </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    
    <?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'servicios/pagination_control', array('route' => 'paginatorservicios', 'controller' => 'index', 'action' => 'index')); ?>

</div>    
