<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css">

<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>

<script>
	$(document).ready(function() {
		/*++++++++++++++++++++++++++++++++++++*/
		$('#fecha_buscar_1').datetimepicker({
			format : 'dd-MM-yyyy',
			pickTime : false,
			language : 'ES'
		});

		$('#fecha_buscar_2').datetimepicker({
			format : 'dd-MM-yyyy',
			pickTime : false,
			language : 'ES'
		});

	}); 
</script>

<script>
	$(document).ready(function() {

		//        $('#checks').dataTable({
		//             "scrollX": true,
		//             "pagingType": "full_numbers"
		//            });
		//
		
	})
	
	
	function marcar(source) {
		checkboxes = document.getElementsByTagName('input');
		//obtenemos todos los controles del tipo Input
		for ( i = 0; i < checkboxes.length; i++)//recoremos todos los controles
		{
			if (checkboxes[i].type == "checkbox")//solo si es un checkbox entramos
			{
				checkboxes[i].checked = source.checked;
				//si es un checkbox le damos el valor del checkbox que lo llamó (Marcar/Desmarcar Todos)
			}
		}
	}


	function cambiarelservicio(e) {

		checkboxes = document.getElementsByTagName('input');

		for ( i = 0; i < checkboxes.length; i++) {

			if (checkboxes[i].type == "checkbox") {

				if (i > 14) {

					if (checkboxes[i].checked == true) {

                        if($("#lista_avisos").val()==""){
                          $("#lista_avisos").val(checkboxes[i].value);
                        }else{ 
                          $("#lista_avisos").val($("#lista_avisos").val() + '_' + checkboxes[i].value);
                        }
					}
				}
			}
		}
   
		document.cambiarserviciosform.action = "/avisos/index/cambiarservicio";
		document.cambiarserviciosform.method = 'POST';
		document.cambiarserviciosform.submit();

	}
	
	
	function asignar_avisos(){
		
		console.log("inicio");
		
	    checkboxes = document.getElementsByTagName('input');

		for ( i = 0; i < checkboxes.length; i++) {

			if (checkboxes[i].type == "checkbox") {
                
					if (checkboxes[i].checked == true) {
                        
                        if(checkboxes[i].value != 'on'){
                        
                        if($("#avisos_asignados").val()==""){
                          $("#avisos_asignados").val(checkboxes[i].value);
                        }else{ 
                          $("#avisos_asignados").val($("#avisos_asignados").val() + '_' + checkboxes[i].value);
                        }
                        
                       } 
					}
					
			    } 
		    }
   
		console.log($("#avisos_asignados").val());
		document.selectPersonalTecnico.submit();
		
	}
	
	
	function saludos(){
		
		console.log("SALUDOS PATITO");
		
	}
	

//120001875357

	function suspender() {
	    
	    var num_aviso = document.querySelector('input[name="numeroaviso"]');

        if (num_aviso.value == '') {
            alert('No se puede ejecutar si no existe un numero de aviso')
            return false;
        }
        
		if (confirm('Quieres Suspender el Avisos?')) {
		    if (confirm('Estas Seguro?')) {
			          document.buscador.action = "/avisos/index/suspender";
			         document.buscador.method = 'POST';
			         document.buscador.submit();
			}
		}
	}

	function listartodos() {
		if (confirm('Listar Todos?')) {
			document.buscadorfechas.action = "/avisos/index/index";
			document.buscadorfechas.method = 'GET';
			document.buscadorfechas.submit();
		}
	}

	function reprocesar() {

		var num_aviso = document.querySelector('input[name="numeroaviso"]');

		if (num_aviso.value == '') {
			alert('No se puede ejecutar si no existe un numero de aviso')
			return false;
		}

		if (confirm('Reprocesar Avisos?')) {
			document.buscador.action = "/avisos/index/reprocesar";
			document.buscador.method = 'POST';
			document.buscador.submit();
		}

	}

	function funcionactivar(e) {
		$(e).parent().nextAll().css({
			color : "#333333",
			"font-weight" : "Normal"
		});
		$(e).parent().prevAll().css({
			color : "#333333",
			"font-weight" : "Normal"
		});
		$(e).parent().css({
			color : "#d14",
			"font-weight" : "Bold"
		});
	}

	function validarform() {

		var fecha_buscar_1 = $("input[name='fecha_buscar_1']").val();
		var fecha_buscar_2 = $("input[name='fecha_buscar_2']").val();
		var buscar_tipo_fecha = $('select[name=buscar_tipo_fecha]').val();
		var buscar_por_numero = $('select[name=buscar_por_numero]').val();
		var numeroidabuscar = $("input[name='numeroidabuscar']").val();

		if (fecha_buscar_1 != "") {
			if (fecha_buscar_2 == "") {
				alert('Indicar la fecha final');
				return;
			}
		}

		if (fecha_buscar_2 != "") {
			if (fecha_buscar_1 == "") {
				alert('Indicar la fecha inicial');
				return;
			}
		}

		if ((fecha_buscar_1 != "") && (fecha_buscar_2 != "") && (buscar_tipo_fecha == "")) {
			alert('Indicar el tipo de fecha a buscar');
			return;
		}

		if (buscar_tipo_fecha != "") {
			if ((fecha_buscar_1 == "") || (fecha_buscar_2 == "")) {
				alert("Indicar el rango de fechas para buscar");
				return;
			}
		}

		if (buscar_por_numero != "") {
			if (numeroidabuscar == "") {
				alert('Ingresar un numero o codigo valido');
				return;
			}
		}

		if (numeroidabuscar != "") {
			if (buscar_por_numero == "") {
				alert('Indicar el tipo de dato a buscar');
				return;
			}
		}

		document.buscadorfechas.submit();

	}

	function buscartecnico() {

		document.selectPersonalTecnico.action = "/avisos/index/index";
		document.selectPersonalTecnico.method = 'POST';
		document.selectPersonalTecnico.submit();

	}

</script>

<style>
    
    .avisos {
       color:#333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 10px;
       line-height: 20px;
      }
     
    .punter{
       cursor:pointer;
       font:bold 14px Trebuchet MS;
      } 
      
</style>

<div class="mio" style="width:2300px" >

<p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>    

<h3><?php echo $this->escapeHtml($this->title); ?></h3>

<!--<div class="row">
    <div class="span8">
        <table style="width:100%;float:right;border: 1px solid #DDDDDD; border-collapse: collapse;font-size:12px;line-height: 20px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;color: #333333;"  >
               <tr>
                <td style="border: 1px solid #DDDDDD;text-align:center;margin " > Cargados : 189 </td>
                <td style="border: 1px solid #DDDDDD;text-align:center;" > Asignados : 5 </td>
                <td style="border: 1px solid #DDDDDD;text-align:center;" > Valorizados : 50 </td>
                <td style="border: 1px solid #DDDDDD;text-align:center;" > Finalizados : 15 </td>
            </tr>
        </table>
    </div>
</div>-->
    
    <hr style="margin: 0 auto;margin-bottom:1%; "  >

    <div class="row"> 
      <div class="span10" >
         
       <?php
            $form = $this->formBuscadorFechas;
            $form->setAttribute('action', $this->url('avisos', array('controller' => 'index', 'action' => 'index')));
            $form->prepare();
            echo $this->form()->openTag($form);
          ?>
       <table>
         <tr>
           <td>
            
               <div id="fecha_buscar_1" class="input-append date" style="margin-bottom:3px;" >
                  <?php echo $this->formRow($form->get('fecha_buscar_1')); ?>
                  <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                  </span>
               </div>
               
               <div id="fecha_buscar_2" class="input-append date" style="margin-bottom:3px;" >
                   <?php echo $this->formRow($form->get('fecha_buscar_2')); ?>
                   <span class="add-on">
                     <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                   </span>
               </div>
               
           </td>    
           <td>
             
              <?php echo $this->formRow($form->get('buscar_tipo_fecha')); ?>
               
              <?php 
               echo $this->formRow($form->get('buscar_estado_avisos')); 
              ?>   

              
            </td>
            <td>
              
             <?php
                $formEstados = $this->formPoblacion;
                echo $this->formRow($formEstados->get('poblacion')); 
              ?>
                
              <?php   
                $formPrioridad = $this->formSelectPrioridad;
                echo $this->formRow($formPrioridad->get('prioridad'));
               ?>  
               
             </td>
             <td>
                 
                <?php echo $this->formRow($form->get('buscar_por_numero')); ?>  
                
                <?php echo $this->formRow($form->get('numeroidabuscar')); ?> 
                 
             </td> 
             
             <td>
                 
                <?php
                 $formSucursales = $this->formSucursales;
                 echo $this->formRow($formSucursales->get('sucursal'));
                ?> 
                
                <?php echo $this->formRow($form->get('orden_registro')); ?>
                 
             </td>
             <td>
                <input name="btn_validarform" type="button" class="btn btn-success" onclick="validarform()"  style="margin-top:2px;" value="Filtrar">  
                <input name="btn_listartodos" type="button" class="btn btn-info" onclick="listartodos()"  style="margin-top:2px;" value="Listar Todos"> 
             </td>    
         </tr>    
       </table>
       <?php echo $this->form()->closeTag() ?>
      </div>
    </div>
    
    <hr style="margin: 0 auto;margin-bottom:1%; ">
    
    <div class="row">
            <div class="span4">
            <?php
                $formBuscador = $this->formBuscador;
                $formBuscador->setAttribute('action', $this->url('avisos', array('controller' => 'index', 'action' => 'index')));
                $formBuscador->prepare();
                echo $this->form()->openTag($formBuscador);
            ?>
            <table>
                <tr>
                    <td>
                      <?php  $element = $formBuscador->get('numeroaviso'); ?>
                      <?php echo $this->formInput($element) ?>
                   </td>
                <tr>
                    <td style="vertical-align:top;color:red;" >
                      <?php echo $this->formElementErrors($element) ?>
                    </td>
                </tr>
                <tr>          
                    <td>
                      <?php echo $this->formElement($formBuscador->get('send')) ?>
                      <input name="btn_reprocesar" type="button" class="btn btn-info" onclick="reprocesar()" style="" value="Reprocesar">
                      <!--<input name="btn_suspender" type="button" class="btn btn-danger" onclick="suspender()"  style="margin-top:2px;" value="Suspender">-->  
                    </td>
                </tr>

            </table>
            <?php echo $this->form()->closeTag() ?>

           </div>     
           <div class="span4">
               
            <!--filtrar por maestro y asignar avisos-->
            <?php
                $formPersonalTecnico = $this->formPersonalTecnico;
                $formPersonalTecnico->setAttribute('action', $this->url('avisos', array('controller' => 'index', 'action' => 'asignarTecnico')));
                $formPersonalTecnico->prepare();
                $formLabel = $this->plugin('formLabel');
                echo $this->form()->openTag($formPersonalTecnico);
            ?>
            <table>
                <tr>
                  <td>
                  	<input name="avisos_asignados" id="avisos_asignados" type="hidden" value="" />
                    <?php $element = $formPersonalTecnico->get('persona_tecnico'); ?> 
                    <?php echo $this->formSelect($element) ?>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top;color:red;" >
                    <?php echo $this->formElementErrors($element) ?>
                  </td>
                </tr>
                <tr>
                  <td>
                    <?php echo $this->formElement($formPersonalTecnico->get('send')) ?>   
                    <?php echo $this->formElement($formPersonalTecnico->get('btn_buscartecnico')) ?>
                    <?php echo $this->formElement($formPersonalTecnico->get('informe_asignacion')) ?>
                  </td>
                </tr>    
                
            </table>
            <?php echo $this->form()->closeTag() ?>   
            
        </div>
        <div class="span4">
            
           
           <form name="cambiarserviciosform" id="cambiarserviciosform" method="POST" action="/avisos/index/cambiarservicio" >        	      
            <table>
            <tr>
            <td>
              <input name="lista_avisos" id="lista_avisos" type="hidden" value="" />	    
              <select name="servicio_seleccionado" id="servicio_seleccionado" style="width:250px;margin-bottom:2px;" >
              	  <option value="0" >&nbsp;Seleccionar Servicio Tecnet&nbsp;</option>
                  <option value="213" >&nbsp;Verificación Monofasica&nbsp;</option>
                  <!--<option value="215" >&nbsp;Devolución&nbsp;</option>
                  <option value="214" >&nbsp;Reinstalación&nbsp;</option>-->
                  <option value="197" >&nbsp;Cambio Medidor Directo&nbsp;</option>
              </select>   
            </td> 
            </tr>
            <tr>
               <td>  
                 <input name="enviar" class="btn btn-warning" type="button" onclick="cambiarelservicio()" value="Cambiar el servicio" />
               </td>
            </tr>
            </table>
           </form> 
        
           
        </div>
    </div>

<!--
    <div style="color:#003bb3;font:small ">
        <h4> 
            <u> Cantidad de Avisos </u> : <?php echo $this->listaAvisos->count() ?>
        </h4>
    </div>
   -->
   
    <hr style="margin: 0 auto;margin-bottom:1%; "  >
     
    <table class="table table-hover table-bordered table-condensed avisos" id="checks" >
        <thead>
            <tr style="background-color:#002a80;color:#ffffff;"  >
                <th>&nbsp;#&nbsp;&nbsp;</th>
                <th><input style="margin-left:2px" type="checkbox" onclick="marcar(this);" /></th>
                <th>Pri</th>
                <th style="background-color:rgb(250, 167, 50);color:#000;" >N°Aviso</th>
                <th style="background-color:rgb(250, 167, 50);color:#000;" >Instalación</th>
                <th style="background-color:rgb(250, 167, 50);color:#000;" >Servicio Tecnet</th>
                <th style="text-align:center;width:20%;"  >Descripción</th>
                <th style="background-color:rgb(250, 167, 50);color:#000;" > Estado </th>
                <th>Cliente</th>
                <th>Telefono</th>
                <th>Direc1</th>
                <th>Direc2</th>
                <th>Depto</th>
                <th style="background-color:rgb(250, 167, 50);color:#000;" >Comuna</th>
                <th style="background-color:rgb(250, 167, 50);color:#000;" >RLectura</th>
                <th style="background-color:rgb(250, 167, 50);color:#000;" >CEmpla</th>
                <th style="background-color:rgb(250, 167, 50);color:#000;" >Porcion</th>
                <th>Carga</th>
                <th>Asignación</th>
                <th>Técnico</th>
                <th>Valorización</th>
                <th>Finalización</th>
                <th>Valórizar</th>
            </tr>
        </thead>
        <tbody>
   
        <?php 
         $y = 1;
         foreach ($this->listaAvisos as $aviso): ?>
    
        <tr class="<?php echo $aviso->getEstado_aviso()->getClase_color() ?>" >
            <td onclick="funcionactivar(this)" >     
              <?php echo $y++ ?> 
            </td>
            <td onclick="funcionactivar(this)" >
                <?php if( ($aviso->getEstados_avisos_id_estado_aviso() == 1) || ($aviso->getEstados_avisos_id_estado_aviso() == 2) ):   ?>
                
                    <spam style="margin-left:5px" ><input type="checkbox" name="asignar_aviso[]" value="<?php echo $aviso->getId_aviso() ?>" ></spam>
                
                <?php endif ?>
            </td> 
            <td onclick="funcionactivar(this)" ><spam style="margin-left:5px" ><?php echo $aviso->getPrioridad() ?></spam></td>
    
            <td onclick="funcionactivar(this)" >
                     
                <?php if(($aviso->getEstados_avisos_id_estado_aviso() >= 3 )): ?>  
                	
		                 <?php if($aviso->getServicios_id_servicio() == 197 || $aviso->getServicios_id_servicio() == 198 || $aviso->getServicios_id_servicio() == 199 || $aviso->getServicios_id_servicio() == 200 || $aviso->getServicios_id_servicio() == 201 || $aviso->getServicios_id_servicio() == 213 || $aviso->getServicios_id_servicio() == 214 || $aviso->getServicios_id_servicio() == 215 || $aviso->getServicios_id_servicio() == 216 ):?> 	
		                 	
		                       <a style="margin-left:15px;" alt="ir a formulario rim" target="top"
		                         href="<?php echo $this->url('rim', array('controller' => 'index', 'action' => 'rim2', 'id' => $aviso->getId_aviso() )) ?>">            
		                              <?php echo $aviso->getNumero_aviso() ?>
		                       </a>
		                      
		                 <?php else: ?>
		                 	
		                 	   <a style="margin-left:15px;" alt="ir a formulario riat"
		                         href="<?php echo $this->url('riat', array('controller' => 'index', 'action' => 'editar', 'id' => $aviso->getId_aviso() , 'r' => 2  )) ?>">            
		                              <?php echo $aviso->getNumero_aviso() ?>
		                       </a>
		                      	
		                 <?php endif ?>
                      
                <?php else: ?>
                   
                      <span style="margin-left:15px;"><?php echo $aviso->getNumero_aviso() ?><span>
                
                <?php endif ?>
             
            </td>
            
            <td onclick="funcionactivar(this)" ><?php echo $aviso->getInstalacion()->getNum_instalacion() ?></td>
            
            <td onclick="funcionactivar(this)" ><spam style="margin-left:10px" ><?php echo $aviso->getServicio()-> getNombre_servicio() ?></spam></td>
            
            <td onclick="funcionactivar(this)" ><?php echo ucfirst(strtolower($aviso->getDescripcion())) ?></td>
            
            <td style="background-color:rgb(250, 167, 50);"><?php echo $aviso->getEstado_aviso()->getNombreEstadoAviso() ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo ucwords(strtolower($aviso->getInstalacion()->getNombre_cliente())) ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $aviso->getInstalacion()->getTelefono() ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo ucwords(strtolower($aviso->getInstalacion()->getDireccion1())) ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo ucwords(strtolower($aviso->getInstalacion()->getDireccion2())) ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $aviso->getInstalacion()->getDepartamento() ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo ucwords(strtolower($aviso->getInstalacion()->getNom_poblacion())) ?></td> 
            
            <td onclick="funcionactivar(this)" ><?php echo $aviso->getInstalacion()->getUnidad_lectura() ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $aviso->getInstalacion()->getCe_emplazamiento() ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $aviso->getInstalacion()->getPorcion() ?></td>
                        
            <td onclick="funcionactivar(this)" ><?php echo $this->formatDate($aviso->getFecha_carga(), 'd-m-Y') ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $this->formatDate($aviso->getFecha_asignacion(), 'd-m-Y') ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo ucfirst(strtolower($aviso->getResponsable_persona()->getNombres())) .' '. ucfirst(strtolower($aviso->getResponsable_persona()->getApellidos())) ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $this->formatDate($aviso->getFecha_valorizacion(), 'd-m-Y') ?></td>
            
            <td onclick="funcionactivar(this)" ><?php echo $this->formatDate($aviso->getFecha_finalizacion(), 'd-m-Y') ?></td>
            
            <td onclick="funcionactivar(this)" >  
            
            <?php if(( $aviso->getEstados_avisos_id_estado_aviso() >= 2 )) : ?>
                
            <a style="margin-left:8px;margin-top:15px;" href="<?php echo $this->url('avisos', array('controller' => 'valoriza', 'action' => 'index', 'id' => $aviso->getId_aviso())) ?>" >..:$:..</a>
             
            <?php endif ?>
            </td>

       </tr>

       <?php endforeach; ?>
       </tbody>
    </table>

<?php
  echo $this->paginationControl($this->paginator, 'Sliding', 'avisos/pagination_control', array('route' => 'paginatoravisos', 'controller' => 'index', 'action' => 'index'));
?>

</div>
