<?php
if($this->export!=0):

    header('Content-type: application/vnd.ms-excel');
    header("Content-Disposition: attachment; filename=informe_gestion_produccion_semanal_monofasico.xls");
    header("Pragma: no-cache");
    header("Expires: 0");
    
endif;
?>

<?php if($this->export==0): ?>
<script>
 $(document).ready(function(){ 

/*++++++++++++++++++++++++++++++++++++*/
    
    $('#fecha_buscar_1').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });
      
    $('#fecha_buscar_2').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });  
      
   });      
</script> 
<?php endif ?>

<style>
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 12px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse;
       margin:auto; 
     }
     table td{ border: 1px solid #DDDDDD; }
     table th{ border: 1px solid #DDDDDD; }
</style>
    
<?php if($this->export==0): ?>
<div class="mio">

<p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>
<h3>Informe para la Gestión de Producción Monofásico Tecnet</h3>
       <hr>
       <?php
            $form = $this->formBuscadorFechas;
            $form->setAttribute('action', $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanalmonofasico')));
            $form->prepare();
            echo $this->form()->openTag($form);
          ?>
       <table style="width:60%;" >
         <tr>
             <td>
               Fecha de ejecucion inicial :
             </td>
             <td>
             <div id="fecha_buscar_1" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_1')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
             </td>
             <td>&nbsp;&nbsp;</td>
             <td>
               Fecha de ejecucion final :
             </td>
             <td>
             <div id="fecha_buscar_2" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_2')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
           </td> 
           <td> &nbsp;&nbsp;&nbsp;&nbsp;
               <?php echo $this->formSubmit($form->get('buscar')) ?>
           </td>    
         </tr>    
       </table>
       <?php echo $this->form()->closeTag() ?>
       <hr> 
<?php endif ?>        
 
       
<?php if($this->export!=0): ?>       
<table border='1' >
        <thead>
            <tr>
                <td>ce_emplazamiento</td>
               <th> tipo_brigada</th>
                <th>id_servicio_tecnet</th>
               <th>sucursales_id_sucursal</th>
               <th>estados_avisos_id_estado_aviso</th>
			   <th>clase_aviso</th>
			   <th>num_solicitud</th>
			   <th>nombre_ditribuidora</th>
			   <th>origen_solicitud</th>
			   <th>num_aviso</th>
			   <th>num_servicio</th>
			   <th>razon_social</th>
			   <th>direccion1</th>
			   <th>direccion2</th>
			   <th>comuna</th>
			   <th>oficina_tecnet</th>
			   <th>codigo_zonal</th>
			   <th>descripcion_zonal</th>
			   <th>servicio_solicitado</th>
			   <th>servicio_ejecutado</th>
			   <th>tipo_viaje_frustrado</th>
			   <th>num_form_rim</th>
			   <th>fecha_solicitud</th>
			   <th>fecha_ejecucion</th>
			   
			   <th>hora_inicio_servicio</th>
			   <th>hora_termino_servicio</th>
			   <th>servicio_peritaje</th>
			   
			   <th>serie_medidor_encontrado</th>
			   <th>marca</th>
			   <th>modelo</th>
			   <th>anio_medidor_encontrado</th>
			   <th>lec_inicial_medidor_encontrado</th>
			   <th>lec_final_medidor_encontrado</th>
			   
			   <th>bc_1</th>
			   <th>bc_2</th>
			   <th>promedio_decima</th>
			   
			   <th>pc_1</th>
			   <th>pc_2</th>
			   <th>promedio_plena</th>
			   
			   <th>verificador_rapido</th>
			   
			   <th>norma_medida</th>
			   <th>resultado_metrologico_terreno</th>
			   
			   <th><?php echo utf8_decode("Resultado Visita") ?></th>
				<th><?php echo utf8_decode("Codigo Anormalidad") ?></th>
				<th><?php echo utf8_decode("Origen falla") ?></th>
				<th><?php echo utf8_decode("Estado Normalización") ?></th>
				<th><?php echo utf8_decode("Motivo No Normalización") ?></th>
			   
			   <!--1-->
			   <th>componente_1</th>
		       <th>conclucion_tecnica_terreno_1</th>
			   <th>tipo_resultado_1</th> 
			   <th>Origen 1</th>
			   <th>tratamiento 1</th>
			   <th>No  Autoriza 1</th>
			   
			   <!--2-->
			   <th>componente_2</th>
               <th>conclucion_tecnica_terreno_2</th>
               <th>tipo_resultado_2</th> 
               <th>Origen 2</th>
               <th>tratamiento 2</th>
               <th>No  Autoriza 2</th>
               
               <!--3-->
               <th>componente_3</th>
               <th>conclucion_tecnica_terreno_3</th>
               <th>tipo_resultado_3</th> 
               <th>Origen 3</th>
               <th>tratamiento 3</th>
               <th>No  Autoriza 3</th>
               
               <!--4-->
               <th>componente_4</th>
               <th>conclucion_tecnica_terreno_4</th>
               <th>tipo_resultado_4</th> 
               <th>Origen 4</th>
               <th>tratamiento 4</th>
               <th>No  Autoriza 4</th>
			   
			   <th>nombres_tecnico</th>
			   <th>apellidos_tecnico</th>
			   <th>rut_tecnico</th>
			   <th>serie_medidor_dejado</th>
			   <th>marca_medidor_dejado</th>
			   <th>modelo_medidor_dejado</th>
			   <th>anio_medidor_dejado</th>
			   <th>lectura_medidor_dejado</th>
			   <th>estado_medidor_dejado</th>
			   <th>comentario_tecnico</th>
			   
			   
               <th>mantencion_mirilla</th>
               <th>mantencion_tapa</th>
               <th>mantencion_automatico</th>
               <th>mantencion_acometida</th>
               <th>mantencion_mastil</th>
              <th>mantencion_bajada</th>
              <th>mantencion_empalme</th>
              <th>mantencion_alambrado</th>
    
            </tr>
        </thead>
        <tbody>   
        <?php foreach ( $this->produccion_semanal as $key => $fila): ?>
            <tr>
               <td><?php echo utf8_decode($fila["ce_emplazamiento"]) ?></td>
               <td><?php echo utf8_decode($fila["tipo_brigada"]) ?></td>
               <td><?php echo utf8_decode($fila["tipo_servicio"]) ?></td>
              <td><?php echo utf8_decode($fila["sucursales_id_sucursal"]) ?></td>
              <td><?php echo utf8_decode($fila["estados_avisos_id_estado_aviso"]) ?></td>
			  <td><?php echo utf8_decode($fila["clase_aviso"]) ?></td>
			  <td><?php echo utf8_decode($fila["num_solicitud"]) ?></td>
			  <td><?php echo utf8_decode($fila["nombre_ditribuidora"]) ?></td>
			  <td><?php echo utf8_decode($fila["origen_solicitud"]) ?></td>
			  <td><?php echo utf8_decode($fila["num_aviso"]) ?></td>
			  <td><?php echo utf8_decode($fila["num_servicio"]) ?></td>
			  <td><?php echo utf8_decode($fila["razon_social"]) ?></td>
			  <td><?php echo utf8_decode($fila["direccion1"]) ?></td>
			  <td><?php echo utf8_decode($fila["direccion2"]) ?></td>
			  <td><?php echo utf8_decode($fila["comuna"]) ?></td>
			  <td><?php echo utf8_decode($fila["oficina_tecnet"]) ?></td>
			  <td><?php echo utf8_decode($fila["codigo_zonal"]) ?></td>
			  <td><?php echo utf8_decode($fila["descripcion_zonal"]) ?></td>
			  <td><?php echo utf8_decode($fila["servicio_solicitado"]) ?></td>
			  <td><?php echo utf8_decode($fila["servicio_ejecutado"]) ?></td>
			  
			  <td><?php echo utf8_decode($fila["tipo_viaje_frustrado"]) ?></td>
			  <td><?php echo utf8_decode($fila["num_form_rim"]) ?></td>
			  <td><?php echo utf8_decode($fila["fecha_solicitud"]) ?></td>
			  <td><?php echo utf8_decode($fila["fecha_ejecucion"]) ?></td>
			  
			  <td><?php echo utf8_decode($fila["hora_inicio_servicio"]) ?></td>
              <td><?php echo utf8_decode($fila["hora_termino_servicio"]) ?></td>
              <td><?php echo utf8_decode($fila["servicio_peritaje"]) ?></td>
              
			  <td><?php echo utf8_decode($fila["serie_medidor_encontrado"]) ?></td>
			  <td><?php echo utf8_decode($fila["marca"]) ?></td>
			  <td><?php echo utf8_decode($fila["modelo"]) ?></td>
			  <td><?php echo utf8_decode($fila["anio_medidor_encontrado"]) ?></td>
			  <td><?php echo utf8_decode($fila["lec_inicial_medidor_encontrado"]) ?></td>
			  <td><?php echo utf8_decode($fila["lec_final_medidor_encontrado"]) ?></td>
			  
			  <td><?php echo $fila["bc_1"]  ?></td>
			  <td><?php echo $fila["bc_2"]  ?></td>
              
			  <td><?php echo round($fila["promedio_decima"],2) ?></td>
			  
			  <td><?php echo $fila["pc_1"]  ?></td>
              <td><?php echo $fila["pc_2"]  ?></td>
              
			  <td><?php echo round($fila["promedio_plena"],2) ?></td>
			  
			  <td><?php echo $fila["verificador_rapido"]  ?></td>
              
			  <td><?php echo utf8_decode($fila["norma_medida"]) ?></td>
			  <td><?php echo utf8_decode($fila["resultado_metrologico_terreno"]) ?></td>
			  
			  <td><?php echo utf8_decode($fila["resultado_visita"])?></td>
			  <td><?php echo utf8_decode($fila["codigo_anormalidad"])?></td>
			  
			  
			  <?php if($fila["origen_falla"] == "Confirma Laboratorio"): ?>
			  
			  		<td><?php echo "Falla interna" ?></td>
			  
			  <?php else: ?>
			  
			        <td><?php echo utf8_decode($fila["origen_falla"]) ?></td>
			  
			  <?php endif; ?>
			  
			  
			  <td><?php echo utf8_decode($fila["estado_normalizacion"]) ?></td>
			  <td><?php echo utf8_decode($fila["motivo_no_normalizacion"]) ?></td>
			  
			  <!--1-->
			  <td><?php echo utf8_decode($fila["componente_1"]) ?></td>
              
			  <td><?php echo utf8_decode($fila["conclucion_tecnica_terreno_1"]) ?></td>
			  <td><?php echo utf8_decode($fila["tipo_resultado_1"]) ?></td>
			  
			  <td><?php 
                     if($fila["tratamiento_1"] == 'NORMAL') echo $fila["tratamiento_1"];
                    else{
                       $ditailResult = explode('_', $fila["tratamiento_1" ]);
                                if ($ditailResult[0] == 1)
                                echo utf8_decode("Falla interna");
                                if ($ditailResult[0] == 2)
                                echo utf8_decode("Intervancion terceros");
                                if ($ditailResult[0] == 3)
                                echo utf8_decode("Falta de mantenimiento");
                                if ($ditailResult[0] == 4)
                                echo utf8_decode("No determinado");
                                }
                   echo '</td><td>';

             if($fila["tratamiento_1"] == 'NORMAL') echo $fila["tratamiento_1"];
                    else{
                              if (!empty($ditailResult[1])){
                                if ($ditailResult[1] == 1)
                                echo utf8_decode("Normalizado");
                                if ($ditailResult[1] == 2)
                                echo utf8_decode("No normalizado");
                                }
                          }
            echo '</td><td>';

                     if($fila["tratamiento_1"] == 'NORMAL') echo $fila["tratamiento_1"];
                    else{
                                if (!empty($ditailResult[2])){

                                    if ($ditailResult[2] == 1)
                                                echo utf8_decode("Cliente no autoriza");
                                    if ($ditailResult[2] == 2)
                                                echo utf8_decode("Condición insegura");
                                    if ($ditailResult[2] == 3)
                                                echo utf8_decode("Mant. Mayor");
                                    if ($ditailResult[2] == 4)
                                                echo utf8_decode("Colgado acometida");

                                }

                                }
			      ?></td>

			  <!--2-->

              <td><?php echo utf8_decode($fila["componente_2"]) ?></td>
              
              <td><?php echo utf8_decode($fila["conclucion_tecnica_terreno_2"]) ?></td>
              <td><?php echo utf8_decode($fila["tipo_resultado_2"]) ?></td>
              
              <td><?php 
                     if($fila["tratamiento_2"] == 'NORMAL'){

                                  echo $fila["tratamiento_2"];

                      }else{
                       $ditailResult = explode('_', $fila["tratamiento_2" ]);
                                if ($ditailResult[0] == 1)
                                echo utf8_decode("Falla interna");
                                if ($ditailResult[0] == 2)
                                echo utf8_decode("Intervancion terceros");
                                if ($ditailResult[0] == 3)
                                echo utf8_decode("Falta de mantenimiento");
                                if ($ditailResult[0] == 4)
                                echo utf8_decode("No determinado");
                                }
                   echo '</td><td>';

             if($fila["tratamiento_2"] == 'NORMAL'){ 

                            echo $fila["tratamiento_2"];

              }else{
                              if (!empty($ditailResult[1])){
                                if ($ditailResult[1] == 1)
                                echo utf8_decode("Normalizado");
                                if ($ditailResult[1] == 2)
                                echo utf8_decode("No normalizado");
                                }
                          }
            echo '</td><td>';

                     if($fila["tratamiento_2"] == 'NORMAL'){ 

                               echo $fila["tratamiento_2"];

                         }else{
                                if (!empty($ditailResult[2])){

                                    if ($ditailResult[2] == 1)
                                                echo utf8_decode("Cliente no autoriza");
                                    if ($ditailResult[2] == 2)
                                                echo utf8_decode("Condición insegura");
                                    if ($ditailResult[2] == 3)
                                                echo utf8_decode("Mant. Mayor");
                                    if ($ditailResult[2] == 4)
                                                echo utf8_decode("Colgado acometida");

                                }

                                }
                  ?></td>
                  
               <!--3-->
                  
               <td><?php echo utf8_decode($fila["componente_3"]) ?></td>
              
              <td><?php echo utf8_decode($fila["conclucion_tecnica_terreno_3"]) ?></td>
              <td><?php echo utf8_decode($fila["tipo_resultado_3"]) ?></td>
              
              <td><?php 
                     if($fila["tratamiento_3"] == 'NORMAL'){ 

                                echo $fila["tratamiento_3"];

                        }else{
                       $ditailResult = explode('_', $fila["tratamiento_3" ]);
                                if ($ditailResult[0] == 1)
                                echo utf8_decode("Falla interna");
                                if ($ditailResult[0] == 2)
                                echo utf8_decode("Intervancion terceros");
                                if ($ditailResult[0] == 3)
                                echo utf8_decode("Falta de mantenimiento");
                                if ($ditailResult[0] == 4)
                                echo utf8_decode("No determinado");
                                }
                   echo '</td><td>';

             if($fila["tratamiento_3"] == 'NORMAL'){ 

                       echo $fila["tratamiento_3"];

                   }else{
                              if (!empty($ditailResult[1])){
                                if ($ditailResult[1] == 1)
                                echo utf8_decode("Normalizado");
                                if ($ditailResult[1] == 2)
                                echo utf8_decode("No normalizado");
                                }
                          }
            echo '</td><td>';

                     if($fila["tratamiento_3"] == 'NORMAL'){ 

                              echo $fila["tratamiento_3"];

                          }else{
                                if (!empty($ditailResult[2])){

                                    if ($ditailResult[2] == 1)
                                                echo utf8_decode("Cliente no autoriza");
                                    if ($ditailResult[2] == 2)
                                                echo utf8_decode("Condición insegura");
                                    if ($ditailResult[2] == 3)
                                                echo utf8_decode("Mant. Mayor");
                                    if ($ditailResult[2] == 4)
                                                echo utf8_decode("Colgado acometida");

                                }

                                }
                  ?></td>
                  
               <!--4-->
                  
              <td><?php echo utf8_decode($fila["componente_4"]) ?></td>
              
              <td><?php echo utf8_decode($fila["conclucion_tecnica_terreno_4"]) ?></td>
              <td><?php echo utf8_decode($fila["tipo_resultado_4"]) ?></td>
              
              <td><?php 
                     if($fila["tratamiento_4"] == 'NORMAL'){

                              echo $fila["tratamiento_4"];

                        }else{
                       $ditailResult = explode('_', $fila["tratamiento_4" ]);
                                if ($ditailResult[0] == 1)
                                echo utf8_decode("Falla interna");
                                if ($ditailResult[0] == 2)
                                echo utf8_decode("Intervancion terceros");
                                if ($ditailResult[0] == 3)
                                echo utf8_decode("Falta de mantenimiento");
                                if ($ditailResult[0] == 4)
                                echo utf8_decode("No determinado");
                                }
                   echo '</td><td>';

             if($fila["tratamiento_4"] == 'NORMAL') echo $fila["tratamiento_4"];
                    else{
                              if (!empty($ditailResult[1])){
                                if ($ditailResult[1] == 1)
                                echo utf8_decode("Normalizado");
                                if ($ditailResult[1] == 2)
                                echo utf8_decode("No normalizado");
                                }
                          }
            echo '</td><td>';

                     if($fila["tratamiento_4"] == 'NORMAL'){ 

                                 echo $fila["tratamiento_4"];

                      }else{
                                if (!empty($ditailResult[2])){

                                    if ($ditailResult[2] == 1)
                                                echo utf8_decode("Cliente no autoriza");
                                    if ($ditailResult[2] == 2)
                                                echo utf8_decode("Condición insegura");
                                    if ($ditailResult[2] == 3)
                                                echo utf8_decode("Mant. Mayor");
                                    if ($ditailResult[2] == 4)
                                                echo utf8_decode("Colgado acometida");

                                }

                                }
                  ?></td>
			  
			  <td><?php echo utf8_decode($fila["nombres_tecnico"]) ?></td>
			  <td><?php echo utf8_decode($fila["apellidos_tecnico"]) ?></td>
			  <td><?php echo utf8_decode($fila["rut_tecnico"]) ?></td>
			  <td><?php echo utf8_decode($fila["serie_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["marca_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["modelo_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["anio_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["lectura_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["estado_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["comentario_tecnico"]) ?></td>
			  
			  
              <td><?php echo utf8_decode($fila["mantencion_mirilla"]) ?></td>
              <td><?php echo utf8_decode($fila["mantencion_tapa"]) ?></td>
              <td><?php echo utf8_decode($fila["mantencion_automatico"]) ?></td>
              <td><?php echo utf8_decode($fila["mantencion_acometida"]) ?></td>
              <td><?php echo utf8_decode($fila["mantencion_mastil"]) ?></td>
              <td><?php echo utf8_decode($fila["mantencion_bajada"]) ?></td>
              <td><?php echo utf8_decode($fila["mantencion_empalme"]) ?></td>
              <td><?php echo utf8_decode($fila["mantencion_alambrado"]) ?></td>
    		  
            </tr> 
        <?php endforeach; ?>
        </tbody>
   </table>
<?php endif ?>        
       
<?php if($this->export==0): ?>       
</div>       
<?php endif ?>

