<?php
header('Content-type: application/vnd.ms-excel');
header("Content-Disposition: attachment; filename=detalle_facturacion.xls");
header("Pragma: no-cache");
header("Expires: 0");
?>
<style>
    
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 10px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse; 
       margin:auto; 
     }
    
     table td{ border: 1px solid #DDDDDD; }
     
     table th{ border: 1px solid #DDDDDD; }
     
</style>
<body>
<table>
    <caption><h4>Detalle Facturacion</h4></caption>
        <thead>
            <tr>
              <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;IDSUCURSAL&nbsp;</span></th>
              <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;INSTALACION&nbsp;</span></th>
              <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;AVISO&nbsp;</span></th>
              <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;FECHA EJECUCION&nbsp;</span></th>
              <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;NOMBRE SERVICIO&nbsp;</span></th>
              <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;Uni&nbsp;</span></th>
              <th bgcolor="#000000" ><span style="color:#FFFFFF; font-weight:bold;">&nbsp;UF&nbsp;</span></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ( $this->detalle_facturacion as $obj ): ?>
            
                  <tr>
                      <td><?php echo $obj->getSucursales_id_sucursal() ?></td>
                      <td><?php echo $obj->getNum_instalacion() ?></td>
                      <td><?php echo $obj->getNumero_aviso() ?></td>
                      <td><?php echo $obj->getFecha_atencion_servicio() ?></td>
                      <td><?php echo $obj->getNombre_servicio() ?></td>
                      <td><?php echo $obj->getCantidad() ?></td>
                      <td><?php echo $obj->getPrecio_uf() ?></td>
                  </tr> 
                    
        <?php endforeach; ?>
        </tbody>
    </table>
</body>