<?php
if($this->export!=0):

    header('Content-type: application/vnd.ms-excel');
    header("Content-Disposition: attachment; filename=informe_gestion_produccion_semanal.xls");
    header("Pragma: no-cache");
    header("Expires: 0");
    
endif;
?>

<?php if($this->export==0): ?>
<script>
 $(document).ready(function(){ 

/*++++++++++++++++++++++++++++++++++++*/
    
    $('#fecha_buscar_1').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });
      
    $('#fecha_buscar_2').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });  
      
   });      
</script> 
<?php endif ?>

<style>
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 12px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse;
       margin:auto; 
     }
     table td{ border: 1px solid #DDDDDD; }
     table th{ border: 1px solid #DDDDDD; }
</style>
    
<?php if($this->export==0): ?>
<div class="mio">

<p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>

<h3><u>Informe Producción Trifásico</u></h3>

       <hr>
       <?php
            $form = $this->formBuscadorFechas;
            $form->setAttribute('action', $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanal2')));
            $form->prepare();
            echo $this->form()->openTag($form);
          ?>
       <table style="width:60%;" >
         <tr>
             <td>
               Fecha de ejecucion inicial :
             </td>
             <td>
             <div id="fecha_buscar_1" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_1')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
             </td>
             <td>&nbsp;&nbsp;</td>
             <td>
               Fecha de ejecucion final :
             </td>
             <td>
             <div id="fecha_buscar_2" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_2')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
           </td> 
           <td> &nbsp;&nbsp;&nbsp;&nbsp;
               <?php echo $this->formSubmit($form->get('buscar')) ?>
           </td>    
         </tr>    
       </table>
       <?php echo $this->form()->closeTag() ?>
       <hr> 
<?php endif ?>        
 
       
<?php if($this->export!=0): ?>       
<table border='1' >
        <thead>
            <tr>
               <th>Estado_aviso</th>
               <th><?php echo utf8_decode('Estado_digitación')?></th>
               <th>Tecnico</th>
               <th>Fecha_carga</th>
               <th><?php echo utf8_decode('Fecha_ejecución')?></th>
               <th>Digitador</th>
               <th><?php echo utf8_decode('Fecha_digitación')?></th>
               <th><?php echo utf8_decode('Mesfacturación')?></th>
               <th>Zonal</th>
               <th>Oficina</th>
               <th>Distribuidoras</th>
               <th>Estadosolicitud</th>
               <th><?php echo utf8_decode('Fechaejecución')?></th>
               <th>Numformriat</th>
               <th>Resultadoauditoria</th>
               <th><?php echo utf8_decode('Constantefacturación')?></th>
               <th><?php echo utf8_decode('ConstanteInformada')?></th>
               <th>Aviso</th>
               <th>Actividad</th>
               <th>Detalle_actividad</th>
               <th>Total Uf</th>
               <th>Numservicio</th>
               <th>Cliente</th>
               <th><?php echo utf8_decode('Dirección')?></th>
               <th>Comuna</th>
               <th>Tarifa</th>
               <th>Tipoempalme</th>
               <th>Circuito</th>
               <th><?php echo utf8_decode('Conexión')?></th>
               <th>Medida</th>
               <th>Numeroserie</th>
               <th>Marca</th>
               <th>Activadejada</th>
               <th>Numeroseriereac</th>
               <th>Marcareac</th>
               <th>Reactivadejada</th>
               <th>Comentarios</th>
               <th>Cambiomedidorresu</th>
               <th>Seriecambio</th>
               <th>Marcacambio</th>
               <th>Modelocambio</th>
               <th>Propiedadcambio</th>
            </tr>
        </thead>
        <tbody>   
        <?php foreach ( $this->produccion_semanal as $fila ): ?>
                  <tr>
                    <td><?php echo utf8_decode($fila->getEstado_aviso()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getEstado_digitacion()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getTecnico()) ?></td>
                    
                    <td><?php echo utf8_decode($this->formatDate($fila->getFecha_carga(),'d-m-Y')) ?></td>
                    
                    <td><?php echo utf8_decode($this->formatDate($fila->getFecha_ejecucion(),'d-m-Y')) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getDigitador()) ?></td>
                    
                    <td><?php echo utf8_decode($this->formatDate($fila->getFecha_digitacion(),'d-m-Y')) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getMesfacturacion()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getZonal()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getOficina()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getDistribuidoras()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getEstadosolicitud()) ?></td>
                    
                    <td><?php echo utf8_decode($this->formatDate($fila->getFechaejecucion(),'d-m-Y')) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getNum_form_riat()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getResultadoauditoria()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getConstante_facturacion()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getConstante_informada()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getAviso()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getActividad()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getDetalle_actividad()) ?></td>
                    
                    <td><?php echo utf8_decode($fila->getTotal_facturacion()) ?></td>
                                        
                    <td><?php echo utf8_decode($fila->getNumservicio()) ?></td>
                    <td><?php echo utf8_decode($fila->getCliente()) ?></td>
                    <td><?php echo utf8_decode($fila->getDireccion()) ?></td>
                    <td><?php echo utf8_decode($fila->getComuna()) ?></td>
                    <td><?php echo utf8_decode($fila->getTarifa()) ?></td>
                    <td><?php echo utf8_decode($fila->getTipoempalme()) ?></td>
                    <td><?php echo utf8_decode($fila->getCircuito()) ?></td>
                    <td><?php echo utf8_decode($fila->getConexion()) ?></td>
                    <td><?php echo utf8_decode($fila->getMedida()) ?></td>
                    <td><?php echo utf8_decode($fila->getNumeroserie()) ?></td>
                    <td><?php echo utf8_decode($fila->getMarca()) ?></td>
                    <td><?php echo utf8_decode($fila->getActivadejada()) ?></td>
                    <td><?php echo utf8_decode($fila->getNumeroseriereac()) ?></td>
                    <td><?php echo utf8_decode($fila->getMarcareac()) ?></td>
                    <td><?php echo utf8_decode($fila->getReactivadejada()) ?></td>
                    <td><?php echo utf8_decode($fila->getComentarios()) ?></td>
                    <td><?php echo utf8_decode($fila->getCambiomedidorresu()) ?></td>
                    <td><?php echo utf8_decode($fila->getSeriecambio()) ?></td>
                    <td><?php echo utf8_decode($fila->getMarcacambio()) ?></td>
                    <td><?php echo utf8_decode($fila->getModelocambio()) ?></td>
                    <td><?php echo utf8_decode($fila->getPropiedadcambio()) ?></td>   
                  </tr> 
        <?php endforeach; ?>
        </tbody>
   </table>
<?php endif ?>        
       
<?php if($this->export==0): ?>       
</div>       
<?php endif ?>

