<?php
header('Content-type: application/vnd.ms-excel');
header("Content-Disposition: attachment; filename=informe_estados_mensual.xls");
header("Pragma: no-cache");
header("Expires: 0");
?>
<style>
    
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 12px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse;
       margin:auto; 
     }
    
     table td{ border: 1px solid #DDDDDD; }
     
     table th{ border: 1px solid #DDDDDD; }
     
</style>
<body>
<table>
    <caption><h4>Estados Avisos del Mes Actual y Resultado Auditorias</h4></caption>
        <thead>
            <tr style="font-size:12px; ">
               <th>Region</th>
               <th>Sucursal</th>
               <th>Estado Avisos</th>
               <th>Cant. Auditorias</th>
               <th>Resul. Auditorias</th>
               <th>Estado Digitacion</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ( $this->resumen_produccion as $fila ): ?>
            
                  <tr>
                    <td><?php echo utf8_decode($fila->getRegion()) ?></td>
                    <td><?php echo utf8_decode($fila->getSucursal()) ?></td>
                    <td><?php echo $fila->getEstado_aviso() ?></td>
                    <td><?php echo $fila->getCant_auditorias() ?></td>
                    <td><?php echo $fila->getResultado_auditorias() ?></td>
                    <td><?php echo $fila->getEstado_digitacion() ?></td>
                  </tr> 
                    
        <?php endforeach; ?>
        </tbody>
    </table>
</body>