<?php
if($this->export!=0):

    header('Content-type: application/vnd.ms-excel');
    header("Content-Disposition: attachment; filename=informe_gestion_produccion_semanal_monofasico.xls");
    header("Pragma: no-cache");
    header("Expires: 0");
    
endif;
?>

<?php if($this->export==0): ?>
<script>
 $(document).ready(function(){ 

/*++++++++++++++++++++++++++++++++++++*/
    
    $('#fecha_buscar_1').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });
      
    $('#fecha_buscar_2').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });  
      
   });      
</script> 
<?php endif ?>

<style>
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 12px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse;
       margin:auto; 
     }
     table td{ border: 1px solid #DDDDDD; }
     table th{ border: 1px solid #DDDDDD; }
</style>
    
<?php if($this->export==0): ?>
<div class="mio">

<p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>
<h3><u>Informe Producción Monofásico cliente</u></h3>

       <hr>
       <?php
            $form = $this->formBuscadorFechas;
            $form->setAttribute('action', $this->url('avisos', array('controller' => 'index', 'action' => 'informeproduccionsemanalmonofasicocliente')));
            $form->prepare();
            echo $this->form()->openTag($form);
          ?>
       <table style="width:60%;" >
         <tr>
             <td>
               Fecha de ejecucion inicial :
             </td>
             <td>
             <div id="fecha_buscar_1" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_1')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
             </td>
             <td>&nbsp;&nbsp;</td>
             <td>
               Fecha de ejecucion final :
             </td>
             <td>
             <div id="fecha_buscar_2" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_2')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
           </td> 
           <td> &nbsp;&nbsp;&nbsp;&nbsp;
               <?php echo $this->formSubmit($form->get('buscar')) ?>
           </td>    
         </tr>    
       </table>
       <?php echo $this->form()->closeTag() ?>
       <hr> 
<?php endif ?>        
 
       
<?php if($this->export!=0): ?>       
<table border='1' >
        <thead>
            <tr>
				<th><?php echo utf8_decode("N° OT") ?></th>
				<th><?php echo utf8_decode("N° Aviso") ?></th>
				<th><?php echo utf8_decode("Empresa") ?></th>
				<th><?php echo utf8_decode("Región") ?></th>
				<th><?php echo utf8_decode("Origen Solicitud") ?></th>
				<th><?php echo utf8_decode("Tipo Solicitud") ?></th>
				<th><?php echo utf8_decode("Fecha Solicitud") ?></th>
				<th><?php echo utf8_decode("N° Servicio") ?></th>
				<th><?php echo utf8_decode("Nombre Cliente") ?></th>
				<th><?php echo utf8_decode("Dirección") ?></th>
				<th><?php echo utf8_decode("Comuna") ?></th>
				<th><?php echo utf8_decode("Fecha Ejecución") ?></th>
				<th><?php echo utf8_decode("Hora Visita") ?></th>
				<th><?php echo utf8_decode("Trabajo  Ejecutado") ?></th>
				<th><?php echo utf8_decode("Tipo Viaje Frustrado") ?></th>
				<th><?php echo utf8_decode("Resultado Visita") ?></th>
				<th><?php echo utf8_decode("Codigo Anormalidad") ?></th>
				<th><?php echo utf8_decode("Origen falla") ?></th>
				<th><?php echo utf8_decode("Estado Normalización") ?></th>
				<th><?php echo utf8_decode("Motivo No Normalización") ?></th>
				<th><?php echo utf8_decode("Promedio decima") ?></th>
				<th><?php echo utf8_decode("Promedio plena") ?></th>
				<th><?php echo utf8_decode("Comentarios") ?></th>
				<th><?php echo utf8_decode("Serie medidor encontrado") ?></th>
				<th><?php echo utf8_decode("Marca medidor encontrado") ?></th>
				<th><?php echo utf8_decode("Modelo medidor encontrado") ?></th>
				<th><?php echo utf8_decode("Año medidor encontrado") ?></th>
				<th><?php echo utf8_decode("Lectura medidor encontrado") ?></th>
				<th><?php echo utf8_decode("Serie medidor dejado") ?></th>
				<th><?php echo utf8_decode("Marca medidor dejado") ?></th>
				<th><?php echo utf8_decode("Modelo medidor dejado") ?></th>
				<th><?php echo utf8_decode("Año medidor dejado") ?></th>
				<th><?php echo utf8_decode("Lectura medidor dejado") ?></th>
				<th><?php echo utf8_decode("Nombre Inspector") ?></th>
				<th><?php echo utf8_decode("Apellido Inspector") ?></th>
				<th><?php echo utf8_decode("Mantención Mirilla") ?></th>
				<th><?php echo utf8_decode("Mantención Tapa") ?></th>
				<th><?php echo utf8_decode("Mantención Automático") ?></th>
				<th><?php echo utf8_decode("Mantención Acometida") ?></th>
				<th><?php echo utf8_decode("Mantención Mástil") ?></th>
				<th><?php echo utf8_decode("Mantención Bajada") ?></th>
				<th><?php echo utf8_decode("Mantención Empalme") ?></th>
				<th><?php echo utf8_decode("Mantención Alambrado") ?></th>
            </tr>
        </thead>
        <tbody>   
        	
        <?php foreach ( $this->produccion_semanal as $key => $fila): ?>
        	
            <tr>
            	
              <td><?php echo utf8_decode($fila["subot"]) ?></td>
              <td><?php echo utf8_decode($fila["num_aviso"]) ?></td>
              <td><?php echo utf8_decode($fila["nombre_ditribuidora"]) ?></td>
              <td><?php echo utf8_decode($fila["nombre_region"]) ?></td>
              <td><?php echo utf8_decode($fila["origen_solicitud"]) ?></td>
              <td><?php echo utf8_decode($fila["clase_aviso"]) ?></td>
			  <td><?php echo utf8_decode($fila["fecha_solicitud"]) ?></td>
			  <td><?php echo utf8_decode($fila["num_servicio"]) ?></td>
			  <td><?php echo utf8_decode($fila["razon_social"]) ?></td>
			  <td><?php echo utf8_decode($fila["direccion1"]) . "-" . utf8_decode($fila["direccion2"]) ?></td>
			  <td><?php echo utf8_decode($fila["comuna"]) ?></td>
			  <td><?php echo utf8_decode($fila["fecha_ejecucion"]) ?></td>
			  <td><?php echo utf8_decode($fila["hora_inicio_servicio"]) ?></td>
			  <td><?php echo utf8_decode($fila["servicio_ejecutado"]) ?></td>
			  <td><?php echo utf8_decode($fila["tipo_viaje_frustrado"]) ?></td>
				
			  <td><?php echo utf8_decode($fila["resultado_visita"])?></td>
			  <td><?php echo utf8_decode($fila["codigo_anormalidad"])?></td>
			  <td><?php echo utf8_decode($fila["origen_falla"]) ?></td>
			  <td><?php echo utf8_decode($fila["estado_normalizacion"]) ?></td>
			  <td><?php echo utf8_decode($fila["motivo_no_normalizacion"]) ?></td>
				
			  <td><?php echo round(($fila["promedio_decima"]),2) ?></td>
		      <td><?php echo round(($fila["promedio_plena"]),2) ?></td>
		      
			  <td><?php echo utf8_decode($fila["comentario_tecnico"]) ?></td>
			  <td><?php echo utf8_decode($fila["serie_medidor_encontrado"]) ?></td>
			  <td><?php echo utf8_decode($fila["marca"]) ?></td>
			  <td><?php echo utf8_decode($fila["modelo"]) ?></td>
			  <td><?php echo utf8_decode($fila["anio_medidor_encontrado"]) ?></td>
			  <td><?php echo utf8_decode($fila["lec_inicial_medidor_encontrado"]) ?></td>
			  <td><?php echo utf8_decode($fila["serie_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["marca_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["modelo_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["anio_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["lectura_medidor_dejado"]) ?></td>
			  <td><?php echo utf8_decode($fila["nombres_tecnico"]) ?></td>
			  <td><?php echo utf8_decode($fila["apellidos_tecnico"]) ?></td>
			  <td><?php echo utf8_decode($fila["mantencion_mirilla"]) ?></td>
			  <td><?php echo utf8_decode($fila["mantencion_tapa"]) ?></td>
			  <td><?php echo utf8_decode($fila["mantencion_automatico"]) ?></td>
			  <td><?php echo utf8_decode($fila["mantencion_acometida"]) ?></td>
			  <td><?php echo utf8_decode($fila["mantencion_mastil"]) ?></td>
			  <td><?php echo utf8_decode($fila["mantencion_bajada"]) ?></td>
			  <td><?php echo utf8_decode($fila["mantencion_empalme"]) ?></td>
			  <td><?php echo utf8_decode($fila["mantencion_alambrado"]) ?></td>

            </tr>
             
        <?php endforeach; ?>
        
        </tbody>
   </table>
<?php endif ?>        
       
<?php if($this->export==0): ?>       
</div>       
<?php endif ?>

