<?php
if($this->export!=0):

    header('Content-type: application/vnd.ms-excel');
    header("Content-Disposition: attachment; filename=informe_gestion_produccion_semanal.xls");
    header("Pragma: no-cache");
    header("Expires: 0");
    
endif;
?>

<?php if($this->export==0): ?>
<script>
 $(document).ready(function(){ 

/*++++++++++++++++++++++++++++++++++++*/
    
    $('#fecha_buscar_1').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });
      
    $('#fecha_buscar_2').datetimepicker({
        format: 'dd-MM-yyyy',
        pickTime: false,
        language: 'ES'
      });  
      
   });      
</script> 
<?php endif ?>

<style>
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 12px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse;
       margin:auto; 
     }
     table td{ border: 1px solid #DDDDDD; }
     table th{ border: 1px solid #DDDDDD; }
</style>
    
<?php if($this->export==0): ?>
<div class="mio">

<p><a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a></p>
<h3>Informe de Facturacion Talca</h3>
       <hr>
       <?php
            $form = $this->formBuscadorFechas;
            $form->setAttribute('action', $this->url('avisos', array('controller' => 'index', 'action' => 'informedetallefacturacion1')));
            $form->prepare();
            echo $this->form()->openTag($form);
          ?>
       <table style="width:60%;" >
         <tr>
             <td>
               Fecha de ejecucion inicial :
             </td>
             <td>
             <div id="fecha_buscar_1" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_1')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
             </td>
             <td>&nbsp;&nbsp;</td>
             <td>
               Fecha de ejecucion final :
             </td>
             <td>
             <div id="fecha_buscar_2" class="input-append date">
             <?php echo $this->formRow($form->get('fecha_buscar_2')); ?>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
             </div>
           </td> 
           <td> &nbsp;&nbsp;&nbsp;&nbsp;
               <?php echo $this->formSubmit($form->get('buscar')) ?>
           </td>    
         </tr>    
       </table>
       <?php echo $this->form()->closeTag() ?>
       <hr> 
<?php endif ?>        
 
       
<?php if($this->export!=0): ?>       
<table border='1' >
        <thead>
            <tr>
                <th>EMPRESA</th>
                <th>PROVEEDOR</th>
                <th>OFICINA</th>
                <th>PROCEDENCIA</th>
                <th>SOLICITANTE</th>
                <th>PROCESO</th>
                <th>TICKET O O/S</th>
                <th><?php echo utf8_decode('INSTALACIÓN O NIC')?></th>
                <th>FECHA SOLICITUD</th>
                <th>FECHA EJECUCION </th>
                <th>ACCION</th>
                <th>CANTIDAD</th>
                <th>P_UNIT</th>
                <th>TOTAL_$</th>
                <th>CTA</th>
                <th>DEPTO O  CDI</th>
                <th>COD ACTIV</th>
            </tr>
        </thead>
        <tbody>   
        <?php foreach ( $this->detalle_facturacion as $fila ): ?>
                  <tr>
                      <td><?php echo utf8_decode($fila->getEmpresa()) ?></td> 
                      <td><?php echo utf8_decode($fila->getProveedor()) ?></td>
                      <td><?php echo utf8_decode($fila->getOficina()) ?></td>
                      <td><?php echo utf8_decode($fila->getProcedencia()) ?></td>
                      <td><?php echo utf8_decode( ucwords(strtolower($fila->getSolicitante())) ) ?></td>
                      <td><?php echo utf8_decode($fila->getProceso()) ?></td>
                      <td><?php echo utf8_decode($fila->getTicket()) ?></td>
                      <td><?php echo utf8_decode($fila->getInstalacion()) ?></td>
                      <td><?php echo $this->formatDate($fila->getFecha_solicitud(), 'd-m-Y') ?></td>
                      <td><?php echo $this->formatDate($fila->getFecha_ejecucion(), 'd-m-Y') ?></td>
                      <td><?php echo utf8_decode($fila->getAccion()) ?></td>
                      <td><?php echo utf8_decode($fila->getCantidad()) ?></td>
                      <td><?php echo utf8_decode($fila->getPrecio_unidad()) ?></td>
                      <td><?php echo utf8_decode($fila->getTotal()) ?></td>
                      <td><?php echo utf8_decode($fila->getCta()) ?></td>
                      <td><?php echo utf8_decode($fila->getDepto()) ?></td>
                      <td><?php echo utf8_decode($fila->getCod_activ()) ?></td>
                  </tr> 
        <?php endforeach; ?>
        </tbody>
   </table>
<?php endif ?>        
       
<?php if($this->export==0): ?>       
</div>       
<?php endif ?>

