<div class="hero-unit">
    
    <a href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>
    <h4><u>Informe Ejecutivo Mensual</u></h4>
    
    <table class="table table-hover table-bordered avisos" >
        <caption><h4><u>Fechas Ejecutados</u></h4></caption>
        <thead>
            <tr>
                <th style="background-color:#003bb3;color:#FFFFFF" >Mes_Año</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ( $this->meses as $value ): ?>
                  <tr>
                    <td>
                        <a style="margin-left:15px;" href="<?php 
                                                                 echo $this->url('avisos', 
                                                                         array( 
                                                                             'controller' => 'index', 
                                                                             'action' => 'exportarejecutivoauditorias',
                                                                             'id' => $value->getMeses_ejecutivo(), 
                                                                             'br' => $value->getAnios_ejecutivo(),
                                                                             )) ?>">
                              <?php echo $value->getFechas() ?>
                        </a>
                    </td>
                  </tr> 
        <?php endforeach; ?>
        </tbody>
     </table>  
    
    
</div>
    