<?php

    header('Content-type: application/vnd.ms-excel');
    header("Content-Disposition: attachment; filename=listado_servicios_nacional.xls");
    header("Pragma: no-cache");
    header("Expires: 0");
    
?>
<style>
    
    table {
       color: #333333;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 12px;
       line-height: 20px;
       border: 1px solid #DDDDDD;
       border-collapse: collapse;
       margin:auto; 
     }
    
     table td{ border: 1px solid #DDDDDD; }
     
     table th{ border: 1px solid #DDDDDD; }
     
</style>
<body>
<table>
        <thead>
            <tr>
               <th>Id Servicio</th>
               <th>Nombre Servicio</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ( $this->listado_servicios_nacional as $fila ): ?>
            
                  <tr>
                    <td><?php echo utf8_decode($fila->getId_servicio()) ?></td>
                    <td><?php echo utf8_decode($fila->getNombre_servicio()) ?></td>
                  </tr> 
                    
        <?php endforeach; ?>
        </tbody>
</table>
</body>