
<style>

    .mio{

        background-color: #EEEEEE;
        border-radius: 6px;
        /* margin-bottom: 30px;*/
        padding: 30px;

    }

</style>



<div class="mio">

    <h3><?php echo $this->escapeHtml($this->title); ?></h3>

    <p>
        <a style="margin-left:5px" href="<?php echo $this->url('home'); ?>">&DoubleLeftArrow; volver</a>
        <br>
        <a style="margin-left:5px" href="<?php echo $this->url('instalaciones', array('controller' => 'index', 'action' => 'index')); ?>">Listar Todos</a>      
    </p>

    <hr>  


    <div class="row">
        <div class="span6">



            <?php
            $formBuscadorInstalacion = $this->formBuscadorInstalacion;
            $formBuscadorInstalacion->setAttribute('action', $this->url('avisos', array('controller' => 'index', 'action' => 'buscarNumInstalacion')));
            $formBuscadorInstalacion->prepare();

            $formLabel = $this->plugin('formLabel');

            echo $this->form()->openTag($formBuscadorInstalacion);
            ?>
            <table>
                <tr><td>
                        <?php
                        $element = $formBuscadorInstalacion->get('numeroinstalacion');
                        echo $formLabel->openTag() . $element->getOption('label') . $formLabel->closeTag();
                        ?>        
                    </td>
                    <td>
                        <?php echo $this->formInput($element) ?>
                        &nbsp;
                        <?php echo $this->formElement($formBuscadorInstalacion->get('send')) ?>
                    </td>
                </tr>
                <tr>
                    <td>  
                    </td>
                    <td style="vertical-align:top;color:red;" >
                         <?php echo $this->formElementErrors($element) ?>
                    </td>
                </tr>
            </table>
               <?php echo $this->form()->closeTag() ?>   
        </div>    
        <div class="span6">


        </div>
    </div>

    <hr>

    <br>

    <table class="table table-striped table-hover" >
        <thead>
            <tr>
                <th>Num. Inst.</th>
                <th>Dist.</th>
                <th>Com.</th>
                <th>Nombre Cliente</th>
                <th>Dir. 1</th>
                <th>Dir. 2</th>
                <th>Tarifa</th>
                <th>U Lec.</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>     
        <?php foreach ($this->listaInstalaciones as $Instalacion): ?>
                <tr>
                    <td><?php echo $Instalacion->getNum_instalacion() ?></td>
                    <td><?php echo $Instalacion->getDistribuidoras_id_distribuidora() ?></td>
                    <td><?php echo $Instalacion->getComunas_id_comuna() ?></td>
                    <td><?php echo ucfirst(strtolower($Instalacion->getNombre_cliente())) ?></td>
                    <td><?php echo ucfirst(strtolower($Instalacion->getDireccion1())) ?></td>
                    <td><?php echo ucfirst(strtolower($Instalacion->getDireccion2())) ?></td>
                    <td><?php echo $Instalacion->getTarifa() ?></td>
                    <td><?php echo $Instalacion->getUnidad_lectura() ?></td>
                    <td>
                        <a href="<?php echo $this->url('instalaciones', array('controller' => 'index', 'action' => 'editar', 'id' => $Instalacion->getId_instalacion())); ?>">editar</a>
                    </td>
                </tr>
        <?php endforeach; ?>
        </tbody>
    </table>

    <?php echo $this->form()->closeTag() ?>      

    <?php
    echo $this->paginationControl($this->paginator, 'Sliding', 'avisos/pagination_control', array('route' => 'paginatorinstalaciones', 'controller' => 'index', 'action' => 'index'));
    ?>

</div>